Repository gip-inclusion/itou-communaute-django: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, djhtml

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/python-poetry/poetry
    rev: '1.7.0'
    hooks:
      - id: poetry-check
      - id: poetry-export
        args: ["-f", "requirements.txt", "-o", "requirements/dev.txt", "--with", "dev",]
      - id: poetry-export
        args: ["-f", "requirements.txt", "-o", "requirements/base.txt"]
  - repo: local
    hooks:
      - id: black
        name: Black
        entry: black
        types: [python]
        language: system
      - id: ruff
        name: Ruff
        entry: ruff
        types: [python]
        language: system
      - id: djhtml
        name: djhtml
        entry: djhtml
        types: [html]
        language: system

get better EmailLastSeen factory
  config/settings/base.py
  lacommunaute/users/factories.py
  lacommunaute/users/models.py
  lacommunaute/users/tests/tests_models.py
Due: black, ruff

add missingyou into admin, remove all permissions to anybody
  lacommunaute/users/admin.py
  lacommunaute/users/tests/test_admin.py
Due: black, ruff

add new Kind & Delay in EmailSentTrack & Notification
  lacommunaute/notification/enums.py
  lacommunaute/notification/migrations/0013_alter_emailsenttrack_kind_alter_notification_kind.py
Due: black, ruff

move preexistant management command test in a dedicated class
  lacommunaute/users/tests/tests_management_commands.py
Due: black, ruff

fix flaky test, failing on duplicated emails
  lacommunaute/users/factories.py
Due: black, ruff

factorize check_generic_payload in notification.tests.tests_tasks
  lacommunaute/notification/tests/tests_tasks.py
Due: black, ruff

add hourly the 25 oldest email_last_seen in Notification
  clevercloud/cron.json
  config/settings/base.py
  lacommunaute/users/management/commands/add_missyou_notifications.py
  lacommunaute/users/tests/tests_management_commands.py
Due: black, ruff

add send_missyou_notifications tasks
  config/settings/base.py
  lacommunaute/notification/management/commands/send_messages_notifications.py
  lacommunaute/notification/tasks.py
  lacommunaute/notification/tests/tests_tasks.py
Due: black, ruff

feat: envoi des messages pour les utilisateurs non vus depuis plus de 23 mois (#912)
  clevercloud/cron.json
  config/settings/base.py
  lacommunaute/notification/enums.py
  lacommunaute/notification/management/commands/send_messages_notifications.py
  lacommunaute/notification/migrations/0013_alter_emailsenttrack_kind_alter_notification_kind.py
  lacommunaute/notification/tasks.py
  lacommunaute/notification/tests/tests_tasks.py
  lacommunaute/users/admin.py
  lacommunaute/users/factories.py
  lacommunaute/users/management/commands/add_missyou_notifications.py
  lacommunaute/users/migrations/0009_emaillastseen_missyou_at.py
  lacommunaute/users/models.py
  lacommunaute/users/tests/test_admin.py
  lacommunaute/users/tests/tests_management_commands.py
  lacommunaute/users/tests/tests_models.py
Due: black, ruff

fix: mise en pause des notification 'vous nous manquez'
  clevercloud/cron.json
Due: none

fix: mise en pause des notifications "vous nous manquez" (#920)
  clevercloud/cron.json
Due: none

update missyou_send_at date when creating Notification, make transaction atomic
  lacommunaute/users/management/commands/add_missyou_notifications.py
  lacommunaute/users/tests/tests_management_commands.py
Due: black, ruff

reactivate task
  clevercloud/cron.json
Due: none

fix: mise à jour de la date d'envoi de la notification "vous-nous-manquez" (#922)
  clevercloud/cron.json
  lacommunaute/users/management/commands/add_missyou_notifications.py
  lacommunaute/users/tests/tests_management_commands.py
Due: black, ruff

get better EmailLastSeenFactory
  lacommunaute/users/factories.py
Due: black, ruff

add test_eligible_to_soft_deletion method in EmailLastSeen queryset
  config/settings/base.py
  lacommunaute/users/models.py
  lacommunaute/users/tests/tests_models.py
Due: black, ruff

move soft_delete method into utils, to enable bulk_update and solve circular import issue
  lacommunaute/users/models.py
  lacommunaute/users/tests/tests_models.py
  lacommunaute/users/tests/tests_utils.py
  lacommunaute/users/utils.py
Due: black, ruff

cronify datas_anonymisation management command
  clevercloud/cron.json
  lacommunaute/users/management/commands/datas_anonymisation.py
  lacommunaute/users/tests/tests_management_commands.py
Due: black, ruff

set all delays in days
  config/settings/base.py
  lacommunaute/users/models.py
  lacommunaute/users/tests/tests_management_commands.py
  lacommunaute/users/tests/tests_models.py
Due: black, ruff

feat: anonymisation des données 30j après la notification (#916)
  clevercloud/cron.json
  config/settings/base.py
  lacommunaute/users/factories.py
  lacommunaute/users/management/commands/datas_anonymisation.py
  lacommunaute/users/models.py
  lacommunaute/users/tests/tests_management_commands.py
  lacommunaute/users/tests/tests_models.py
  lacommunaute/users/tests/tests_utils.py
  lacommunaute/users/utils.py
Due: black, ruff

make short_description as safe of updated_forums in homepage
  lacommunaute/pages/tests/__snapshots__/test_homepage.ambr
  lacommunaute/pages/tests/test_homepage.py
  lacommunaute/templates/pages/home.html
Due: black, ruff, djhtml

fix: encodage de la description des fiches pratiques sur la homepage (#926)
  lacommunaute/pages/tests/__snapshots__/test_homepage.ambr
  lacommunaute/pages/tests/test_homepage.py
  lacommunaute/templates/pages/home.html
Due: black, ruff, djhtml

check forum createviews use ForumForm (and cannot select parent)
  lacommunaute/forum/tests/test_categoryforum_createview.py
  lacommunaute/forum/tests/test_subcategoryforum_createview.py
Due: black, ruff

add let staff user update parent forum, when updating a forum of type FORUM_POST, in documentation_area
  lacommunaute/forum/tests/test_forum_updateview.py
  lacommunaute/forum/views.py
Due: black, ruff

add herited form from ForumForm, to update parent forum, using level 0 category forum
  lacommunaute/forum/forms.py
  lacommunaute/forum/tests/tests_forms.py
  lacommunaute/templates/forum/partials/forum_form.html
Due: black, ruff, djhtml

feat: modifier la catégorie d'une fiche pratique par les utilisateurs `staff` (#925)
  lacommunaute/forum/forms.py
  lacommunaute/forum/tests/test_categoryforum_createview.py
  lacommunaute/forum/tests/test_forum_updateview.py
  lacommunaute/forum/tests/test_subcategoryforum_createview.py
  lacommunaute/forum/tests/tests_forms.py
  lacommunaute/forum/views.py
  lacommunaute/templates/forum/partials/forum_form.html
Due: black, ruff, djhtml

disable DisallowedHost message
  config/settings/base.py
Due: black, ruff

use logger in management commands
  lacommunaute/notification/management/commands/add_user_to_list_when_register.py
  lacommunaute/notification/management/commands/send_messages_notifications.py
  lacommunaute/notification/management/commands/send_notifs_on_unanswered_topics.py
  lacommunaute/stats/management/commands/collect_django_stats.py
  lacommunaute/stats/management/commands/collect_events.py
  lacommunaute/stats/management/commands/collect_matomo_forum_stats.py
  lacommunaute/stats/management/commands/collect_matomo_stats.py
  lacommunaute/stats/management/commands/compute_answering_delay.py
  lacommunaute/stats/tests/tests_management_commands.py
Due: black, ruff

switch from simple formatter to json formatter
  config/settings/base.py
  pyproject.toml
  uv.lock
Due: black, ruff

use lacommunaute logger in views
  config/settings/base.py
  lacommunaute/event/views.py
  lacommunaute/forum/views.py
  lacommunaute/forum_conversation/forum_polls/views.py
  lacommunaute/forum_conversation/views.py
  lacommunaute/forum_conversation/views_htmx.py
  lacommunaute/forum_member/views.py
  lacommunaute/forum_moderation/views.py
  lacommunaute/forum_upvote/views.py
  lacommunaute/openid_connect/views.py
  lacommunaute/pages/views.py
  lacommunaute/partner/views.py
  lacommunaute/search/views.py
  lacommunaute/stats/views.py
  lacommunaute/surveys/views.py
  lacommunaute/users/views.py
Due: black, ruff

use lacommunaute logger in emails : method called either in views and management command
  lacommunaute/notification/emails.py
Due: black, ruff

use lacommunaute logger in middleware
  lacommunaute/users/middleware.py
Due: black, ruff

strengthen management command test
  lacommunaute/stats/tests/tests_management_commands.py
Due: black, ruff

add info in views logger (tests in progress)
  config/settings/base.py
  lacommunaute/forum_conversation/views.py
  lacommunaute/utils/loggers.py
Due: black, ruff

add can_moderate_post shortcut
  lacommunaute/forum_conversation/shortcuts.py
  lacommunaute/forum_conversation/tests/tests_shortcuts.py
Due: black, ruff

refactor can_certify_topic shortcut test
  lacommunaute/forum_conversation/tests/tests_shortcuts.py
Due: black, ruff

move fixtures in forum_conversation views tests
  lacommunaute/forum_conversation/tests/tests_views.py
Due: black, ruff

add PostModerateView to unapprove a post by staff user
  lacommunaute/forum_conversation/tests/tests_views.py
  lacommunaute/forum_conversation/urls.py
  lacommunaute/forum_conversation/views.py
Due: black, ruff

show topic subject in moderation queue if post is not topic.head
  lacommunaute/templates/forum_moderation/moderation_queue/list.html
Due: djhtml

show button to PostModerateView in post_update and topic_form templates
  lacommunaute/templates/forum_conversation/partials/topic_form.html
  lacommunaute/templates/forum_conversation/post_update.html
  lacommunaute/utils/templatetags/permission_tags.py
Due: black, ruff, djhtml
