Repository gip-inclusion/itou-communaute-django: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, djhtml

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/python-poetry/poetry
    rev: '1.7.0'
    hooks:
      - id: poetry-check
      - id: poetry-export
        args: ["-f", "requirements.txt", "-o", "requirements/dev.txt", "--with", "dev",]
      - id: poetry-export
        args: ["-f", "requirements.txt", "-o", "requirements/base.txt"]
  - repo: local
    hooks:
      - id: black
        name: Black
        entry: black
        types: [python]
        language: system
      - id: ruff
        name: Ruff
        entry: ruff
        types: [python]
        language: system
      - id: djhtml
        name: djhtml
        entry: djhtml
        types: [html]
        language: system

(forum) display create category button to superuser only
  lacommunaute/forum/tests/test_categoryforum_listview.py
  lacommunaute/templates/forum/category_forum_list.html
Due: black, ruff, djhtml

(forum) refactor CategoryForumCreateView
  lacommunaute/forum/views.py
Due: black, ruff

(forum) createview for sub level post forum (documentation)
  lacommunaute/forum/tests/test_subcategoryforum_createview.py
  lacommunaute/forum/urls.py
  lacommunaute/forum/views.py
Due: black, ruff

(forum) display create subcategory post forum button to superuser only
  lacommunaute/forum/tests/tests_views.py
  lacommunaute/templates/forum/forum_list.html
Due: black, ruff, djhtml

(forum) rename forum_create template, make form title dynamic
  lacommunaute/forum/tests/test_categoryforum_createview.py
  lacommunaute/forum/tests/test_subcategoryforum_createview.py
  lacommunaute/forum/views.py
  lacommunaute/templates/forum/forum_create.html
Due: black, ruff, djhtml

typo
  lacommunaute/templates/forum/forum_list.html
Due: djhtml

(forum) createview for top level category forum (documentation)
  lacommunaute/forum/forms.py
  lacommunaute/forum/tests/test_categoryforum_createview.py
  lacommunaute/forum/urls.py
  lacommunaute/forum/views.py
  lacommunaute/templates/forum/category_forum_create.html
  lacommunaute/templates/forum/partials/forum_form.html
Due: black, ruff, djhtml

(forum) rename categoryforum listview test file
  lacommunaute/forum/tests/test_categoryforum_listview.py
Due: black, ruff

(perms) refactor the way to add public perms on a forum
  lacommunaute/forum/factories.py
  lacommunaute/utils/perms.py
  lacommunaute/utils/tests.py
Due: black, ruff

(homepage) cleanup superadmin dropdown
  lacommunaute/templates/partials/header_nav_primary_items.html
Due: djhtml

(forum) make forum_form more explicit
  lacommunaute/forum/forms.py
Due: black, ruff

typo
  lacommunaute/templates/forum/forum_detail.html
Due: djhtml

(forum) duplicated conditionnal test in template
  lacommunaute/templates/forum/forum_detail.html
Due: djhtml

(forum) fix create new subcategory
  lacommunaute/templates/forum/forum_detail.html
  lacommunaute/templates/forum/forum_list.html
Due: djhtml

(forum) remove unuseful matomo class
  lacommunaute/templates/forum/partials/forum_form.html
Due: djhtml

(forum) add ability to exit forum form without saving datas
  lacommunaute/forum/tests/test_categoryforum_createview.py
  lacommunaute/forum/tests/test_subcategoryforum_createview.py
  lacommunaute/forum/views.py
  lacommunaute/templates/forum/partials/forum_form.html
  locale/fr/LC_MESSAGES/django.mo
  locale/fr/LC_MESSAGES/django.po
Due: black, ruff, djhtml

(forum) make forum description field optionnal, because of the forum of kind category
  lacommunaute/forum/forms.py
Due: black, ruff

(forum) rename forum_create_or_update template
  lacommunaute/forum/views.py
  lacommunaute/templates/forum/forum_create_or_update.html
Due: black, ruff, djhtml

(forum) add ForumUpdateView
  lacommunaute/forum/tests/test_forum_updateview.py
  lacommunaute/forum/urls.py
  lacommunaute/forum/views.py
Due: black, ruff

(forum) let superuser edit forum inline
  lacommunaute/forum/tests/tests_views.py
  lacommunaute/templates/forum/forum_detail.html
Due: black, ruff, djhtml

update CSP for YT embedding
  config/settings/base.py
Due: black, ruff

(settings) deactivate CSP in debug mode
  config/settings/dev.py
Due: black, ruff

(forum_conversation) setup safe_mode in check_post_approbation, when rendering post content
  lacommunaute/forum_moderation/utils.py
Due: black, ruff

(settings) let MD rendering accepts html. Note that html tags in posts are checked when saving instance. They still are forbidden. Ability to accept html is for YT iframe embed in forum description
  config/settings/base.py
Due: black, ruff
