Repository gip-inclusion/itou-communaute-django: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, djhtml

black:
  name: Black
  entry: black
  language: system

ruff:
  name: Ruff
  entry: ruff
  language: system

djhtml:
  name: djhtml
  entry: djhtml
  language: system

(tags) show active tag to user on top of topics list
  lacommunaute/forum_conversation/tests/__snapshots__/tests_views.ambr
  lacommunaute/forum_conversation/tests/tests_views.py
  lacommunaute/templates/forum_conversation/partials/topic_filter.html
Due: black, ruff, djhtml

(forum_conversation) update url on htmx push
  lacommunaute/templates/forum_conversation/partials/topic_filter.html
Due: djhtml

(forum_conversation) rename active_tags to plural for more consistency
  lacommunaute/forum_conversation/tests/tests_views.py
  lacommunaute/forum_conversation/views.py
  lacommunaute/templates/forum_conversation/partials/topic_filter.html
  lacommunaute/templates/forum_conversation/topic_list.html
  lacommunaute/templates/forum_conversation/topics_public.html
Due: black, ruff, djhtml

(forum_conversation) filtering on multiple tags, displaying their label
  lacommunaute/forum_conversation/tests/tests_views.py
  lacommunaute/forum_conversation/views.py
  lacommunaute/templates/forum_conversation/partials/topic_filter.html
Due: black, ruff, djhtml

(tags) populate dropdown filters with active tag
  lacommunaute/forum_conversation/tests/tests_views.py
  lacommunaute/forum_conversation/views.py
  lacommunaute/templates/forum_conversation/partials/topic_filter.html
  lacommunaute/templates/forum_conversation/topic_list.html
  lacommunaute/templates/forum_conversation/topics_public.html
Due: black, ruff, djhtml

update dependencies
  poetry.lock
  requirements/base.txt
  requirements/dev.txt
Due: none

chore: Update DB population command in README.md
  README.md
Due: none

(setup) do not start django and mailhog on 'docker-compose up'
  docker-compose.yml
Due: none

(fix) set super_user perms to 'communaute' user when populate, refactor password hashing in UserFactory"
  lacommunaute/forum/management/commands/populate.py
  lacommunaute/users/factories.py
Due: black, ruff

(setup) update README
  README.md
Due: none

(setup) update CI to add minio service & configure bucket
  .github/workflows/ci.yml
Due: none

(setup) add minio in dev mode, update settings
  .env.template
  config/settings/base.py
  config/settings/dev.py
  docker-compose.yml
Due: black, ruff

(setup) add 'configure_bucket' management command
  lacommunaute/forum_file/management/commands/configure_bucket.py
Due: black, ruff

move image size validator to utils
  lacommunaute/forum_file/models.py
  lacommunaute/forum_file/tests/test_models.py
  lacommunaute/utils/tests.py
  lacommunaute/utils/validators.py
Due: black, ruff

(forum): overide image property
  lacommunaute/forum/factories.py
  lacommunaute/forum/migrations/0013_alter_forum_image.py
  lacommunaute/forum/models.py
  lacommunaute/forum/tests/tests_model.py
Due: black, ruff

(forum): display image as banner in card in list of subforums
  lacommunaute/forum/tests/test_categoryforum_listview.py
  lacommunaute/templates/forum/forum_list.html
Due: black, ruff, djhtml

(forum): display image as banner in ForumView
  lacommunaute/forum/tests/tests_views.py
  lacommunaute/templates/forum/forum_detail.html
  lacommunaute/templates/forum/partials/forum_banner.html
Due: black, ruff, djhtml

(bucket) allow localhost:9000 in img-src CSP for dev purposes
  config/settings/dev.py
Due: black, ruff

(UI) update header, remove seeker_url
  lacommunaute/templates/partials/header_nav_secondary_items.html
Due: djhtml

(UI) update header, remove survey_url highlights
  lacommunaute/templates/partials/header_nav_secondary_items.html
Due: djhtml

(UI) update header, fix class on documentation_url
  lacommunaute/templates/partials/header_nav_secondary_items.html
Due: djhtml

Path conditions:
  black: any of: \.py$
  ruff: any of: \.py$
  djhtml: any of: \.(html|htm|xhtml)$
