Repository gip-inclusion/itou-communaute-django: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, djhtml

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/python-poetry/poetry
    rev: '1.7.0'
    hooks:
      - id: poetry-check
      - id: poetry-export
        args: ["-f", "requirements.txt", "-o", "requirements/dev.txt", "--with", "dev",]
      - id: poetry-export
        args: ["-f", "requirements.txt", "-o", "requirements/base.txt"]
  - repo: local
    hooks:
      - id: black
        name: Black
        entry: black
        types: [python]
        language: system
      - id: ruff
        name: Ruff
        entry: ruff
        types: [python]
        language: system
      - id: djhtml
        name: djhtml
        entry: djhtml
        types: [html]
        language: system

update DocumentStatView, deactivate ForumStats queries until migration is coded in upcoming PR
  lacommunaute/stats/tests/__snapshots__/tests_views.ambr
  lacommunaute/stats/tests/tests_views.py
  lacommunaute/stats/views.py
Due: black, ruff

add Document FK on Topics
  lacommunaute/forum_conversation/migrations/0009_topic_document.py
  lacommunaute/forum_conversation/models.py
Due: black, ruff

associate Topics with Document when migrating Forum
  lacommunaute/documentation/management/commands/migrate_documentation.py
  lacommunaute/forum_conversation/tests/__snapshots__/tests_views.ambr
  lacommunaute/forum_conversation/tests/tests_views.py
  lacommunaute/templates/forum_conversation/partials/poster.html
Due: black, ruff, djhtml

wip
  lacommunaute/documentation/views.py
  lacommunaute/forum_conversation/models.py
  lacommunaute/templates/documentation/document_detail.html
Due: black, ruff, djhtml

update dependencies
  poetry.lock
  requirements/base.txt
  requirements/dev.txt
Due: none

chore: mise à jour des dépendances (#802)
  poetry.lock
  requirements/base.txt
  requirements/dev.txt
Due: none

test if uploaded file is avalaible in bucket, using size method
  lacommunaute/utils/templatetags/attachments_tags.py
  lacommunaute/utils/tests/tests_utils.py
Due: black, ruff

reschedule tasks collecting datas on matomo to prevent timeout
  clevercloud/cron.json
Due: none

chore: replanification des tâches matomo (#807)
  clevercloud/cron.json
Due: none

remove obsolete schedule tasks (#580)
  clevercloud/cron.json
  clevercloud/extract_tables.sh
Due: none

fix(metabase): deplanification d'une tâche résiduelle (#808)
  clevercloud/cron.json
  clevercloud/extract_tables.sh
Due: none

remove wrap_iframe_in_div_tag method, called when saving forms
  lacommunaute/forum/forms.py
  lacommunaute/forum/tests/tests_forms.py
  lacommunaute/partner/forms.py
  lacommunaute/partner/tests/tests_forms.py
  lacommunaute/partner/tests/tests_partner_createview.py
  lacommunaute/utils/html.py
  lacommunaute/utils/tests/tests_utils.py
Due: black, ruff

remove unused template
  lacommunaute/templates/forum_conversation/post_preview.html
Due: djhtml

reuse rendered_md template in TopicContentView and TopicCertifiedPostView
  lacommunaute/forum_conversation/views_htmx.py
  lacommunaute/templates/forum_conversation/partials/topic_certified_post.html
  lacommunaute/templates/forum_conversation/partials/topic_content.html
Due: black, ruff, djhtml

add youtube_embed filter
  lacommunaute/utils/templatetags/str_filters.py
  lacommunaute/utils/tests/tests_utils.py
Due: black, ruff

factorize markdown rendered content with rendered_md template
  lacommunaute/forum/tests/__snapshots__/tests_views.ambr
  lacommunaute/partner/tests/__snapshots__/tests_partner_detailview.ambr
  lacommunaute/templates/forum/forum_detail.html
  lacommunaute/templates/forum/forum_documentation.html
  lacommunaute/templates/forum/index.html
  lacommunaute/templates/forum_conversation/partials/post_certified.html
  lacommunaute/templates/forum_conversation/partials/post_feed.html
  lacommunaute/templates/forum_conversation/partials/posts_list.html
  lacommunaute/templates/forum_conversation/topic_detail.html
  lacommunaute/templates/forum_conversation/topic_list.html
  lacommunaute/templates/forum_upvote/upvote_list.html
  lacommunaute/templates/partials/rendered_md.html
  lacommunaute/templates/partner/detail.html
Due: djhtml

deactivate lines regarding ForumStat (sum_visits, sum_time_spent) until it is migrated into DocumentStat in later PR
  lacommunaute/stats/tests/__snapshots__/tests_views.ambr
  lacommunaute/stats/tests/tests_views.py
  lacommunaute/stats/views.py
Due: black, ruff

add category in stats/documents.html, plus ability to sort on it
  lacommunaute/stats/tests/__snapshots__/tests_views.ambr
  lacommunaute/stats/tests/tests_views.py
  lacommunaute/stats/views.py
  lacommunaute/templates/stats/documents.html
Due: black, ruff, djhtml

feat(stats): ajout de la colonne categorie dans les stats des fiches pratiques (#812)
  lacommunaute/stats/tests/__snapshots__/tests_views.ambr
  lacommunaute/stats/tests/tests_views.py
  lacommunaute/stats/views.py
  lacommunaute/templates/stats/documents.html
Due: black, ruff, djhtml

fix(attachment): affichage des liens vers les fichiers des messages (#806)
  lacommunaute/utils/templatetags/attachments_tags.py
  lacommunaute/utils/tests/tests_utils.py
Due: black, ruff

update inclusion connect users username, when connecting through pro connect for the first time
  lacommunaute/openid_connect/models.py
  lacommunaute/openid_connect/tests/tests_model.py
  lacommunaute/users/enums.py
  lacommunaute/users/factories.py
  lacommunaute/users/migrations/0002_user_identity_provider.py
  lacommunaute/users/models.py
Due: black, ruff

update ambr (empty lines)
  lacommunaute/forum/tests/__snapshots__/tests_views.ambr
  lacommunaute/pages/tests/__snapshots__/test_homepage.ambr
Due: none

feat(pro_connect): decode user_data
  lacommunaute/openid_connect/tests/tests_views.py
  lacommunaute/openid_connect/views.py
  poetry.lock
  pyproject.toml
  requirements/dev.txt
Due: black, ruff

feat(pro_connect): add acr_values param
  lacommunaute/openid_connect/views.py
Due: black, ruff

feat(pro_connect): update family_name key in user_info_mapping_dict
  lacommunaute/openid_connect/models.py
  lacommunaute/openid_connect/tests/tests_model.py
  lacommunaute/openid_connect/tests/tests_views.py
Due: black, ruff

feat(pro_connect): rename inclusion_connect to openid_connect
  .env.template
  README.md
  config/settings/base.py
  config/urls.py
  lacommunaute/event/tests/tests_views.py
  lacommunaute/forum/tests/__snapshots__/tests_views.ambr
  lacommunaute/inclusion_connect/constants.py
  lacommunaute/inclusion_connect/migrations/0001_initial.py
  lacommunaute/inclusion_connect/urls.py
  lacommunaute/openid_connect/__init__.py
  lacommunaute/openid_connect/constants.py
  lacommunaute/openid_connect/migrations/0001_initial.py
  lacommunaute/openid_connect/migrations/__init__.py
  lacommunaute/openid_connect/models.py
  lacommunaute/openid_connect/tests/__init__.py
  lacommunaute/openid_connect/tests/tests_model.py
  lacommunaute/openid_connect/tests/tests_views.py
  lacommunaute/openid_connect/urls.py
  lacommunaute/openid_connect/views.py
  lacommunaute/pages/tests/__snapshots__/test_homepage.ambr
  lacommunaute/surveys/tests/test_views.py
  lacommunaute/templates/forum_conversation/topics_public.html
  lacommunaute/templates/forum_member/join_forum_landing.html
  lacommunaute/templates/forum_member/seekers_profiles.html
  lacommunaute/templates/partials/upvotes.html
  lacommunaute/templates/surveys/dsp_form.html
  lacommunaute/utils/templatetags/str_filters.py
  lacommunaute/utils/tests/tests_utils.py
Due: black, ruff, djhtml

feat(pro_connect): make login button agnostic
  lacommunaute/templates/forum_member/seekers_profiles.html
  lacommunaute/templates/partials/header.html
  lacommunaute/templates/surveys/dsp_form.html
Due: djhtml

update test comment
  lacommunaute/openid_connect/tests/tests_model.py
Due: black, ruff

clean up comment
  lacommunaute/openid_connect/models.py
Due: black, ruff

remove noqa comment on import pytest, then run quality tools
  lacommunaute/forum/tests/test_categoryforum_createview.py
  lacommunaute/forum/tests/test_categoryforum_listview.py
  lacommunaute/forum/tests/test_forum_rating_view.py
  lacommunaute/forum/tests/test_forum_updateview.py
  lacommunaute/forum/tests/test_subcategoryforum_createview.py
  lacommunaute/forum/tests/test_subcategoryforum_listview.py
  lacommunaute/forum/tests/tests_forms.py
  lacommunaute/forum/tests/tests_views.py
  lacommunaute/forum_conversation/tests/tests_forms.py
  lacommunaute/forum_conversation/tests/tests_views.py
  lacommunaute/forum_member/tests/tests_models.py
  lacommunaute/forum_moderation/tests/test_moderation_queue_detail_view.py
  lacommunaute/forum_moderation/tests/test_post_disapprove_view.py
  lacommunaute/forum_moderation/tests/test_utils.py
  lacommunaute/forum_upvote/tests/test_forumupvoteview.py
  lacommunaute/forum_upvote/tests/test_postupvoteview.py
  lacommunaute/forum_upvote/tests/test_upvotelistview.py
  lacommunaute/pages/tests/test_homepage.py
  lacommunaute/pages/tests/test_mentions_legales.py
  lacommunaute/pages/tests/test_politique_confidentialite.py
  lacommunaute/partner/tests/tests_forms.py
  lacommunaute/partner/tests/tests_model.py
  lacommunaute/partner/tests/tests_partner_createview.py
  lacommunaute/partner/tests/tests_partner_detailview.py
  lacommunaute/partner/tests/tests_partner_listview.py
  lacommunaute/partner/tests/tests_partner_updateview.py
  lacommunaute/stats/tests/tests_management_commands.py
  lacommunaute/stats/tests/tests_models.py
  lacommunaute/stats/tests/tests_views.py
  lacommunaute/surveys/tests/test_stats.py
  lacommunaute/surveys/tests/test_views.py
Due: black, ruff

remove mailhog, since #731 made it unusefull
  config/settings/dev.py
  docker-compose.yml
Due: black, ruff

remove triage before user can ask a question
  lacommunaute/forum_conversation/tests/tests_forms.py
  lacommunaute/forum_conversation/tests/tests_views.py
  lacommunaute/forum_conversation/urls.py
  lacommunaute/forum_conversation/views.py
  lacommunaute/templates/forum_conversation/topic_create_check.html
Due: black, ruff, djhtml

fix base requirements. PyJwt was missing
  requirements/base.txt
Due: none

feat(pro_connect): remove from param
  lacommunaute/openid_connect/views.py
Due: black, ruff

feat(user): basculer l'authentification vers ProConnect (#731)
  .env.template
  README.md
  config/settings/base.py
  config/urls.py
  lacommunaute/event/tests/tests_views.py
  lacommunaute/forum/tests/__snapshots__/tests_views.ambr
  lacommunaute/inclusion_connect/constants.py
  lacommunaute/inclusion_connect/migrations/0001_initial.py
  lacommunaute/inclusion_connect/tests/tests_model.py
  lacommunaute/inclusion_connect/urls.py
  lacommunaute/openid_connect/__init__.py
  lacommunaute/openid_connect/constants.py
  lacommunaute/openid_connect/migrations/0001_initial.py
  lacommunaute/openid_connect/migrations/__init__.py
  lacommunaute/openid_connect/models.py
  lacommunaute/openid_connect/tests/__init__.py
  lacommunaute/openid_connect/tests/tests_model.py
  lacommunaute/openid_connect/tests/tests_views.py
  lacommunaute/openid_connect/urls.py
  lacommunaute/openid_connect/views.py
  lacommunaute/pages/tests/__snapshots__/test_homepage.ambr
  lacommunaute/surveys/tests/test_views.py
  lacommunaute/templates/forum_conversation/topics_public.html
  lacommunaute/templates/forum_member/join_forum_landing.html
  lacommunaute/templates/forum_member/seekers_profiles.html
  lacommunaute/templates/partials/header.html
  lacommunaute/templates/partials/upvotes.html
  lacommunaute/templates/surveys/dsp_form.html
  lacommunaute/users/enums.py
  lacommunaute/users/factories.py
  lacommunaute/users/migrations/0002_user_identity_provider.py
  lacommunaute/users/models.py
  lacommunaute/utils/templatetags/str_filters.py
  lacommunaute/utils/tests/tests_utils.py
  poetry.lock
  pyproject.toml
  requirements/base.txt
  requirements/dev.txt
Due: black, ruff, djhtml

add SIB Template ID for magic link
  config/settings/base.py
Due: black, ruff

ad locales
  locale/fr/LC_MESSAGES/django.mo
  locale/fr/LC_MESSAGES/django.po
Due: none

alter FQDN & PROTOCOL in dev env
  config/settings/dev.py
Due: black, ruff

do not hard code SIB API url anymore
  config/settings/base.py
  lacommunaute/notification/tests/tests_emails.py
Due: black, ruff

add business logic views to login and logout users with magic link
  config/urls.py
  lacommunaute/templates/registration/create_user.html
  lacommunaute/templates/registration/login_link_sent.html
  lacommunaute/templates/registration/login_with_magic_link.html
  lacommunaute/users/forms.py
  lacommunaute/users/tests/__init__.py
  lacommunaute/users/tests/__snapshots__/tests_views.ambr
  lacommunaute/users/tests/tests_views.py
  lacommunaute/users/urls.py
  lacommunaute/users/views.py
Due: black, ruff, djhtml
