Repository gip-inclusion/itou-communaute-django: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, djhtml

black:
  name: Black
  entry: black
  language: system

ruff:
  name: Ruff
  entry: ruff
  language: system

djhtml:
  name: djhtml
  entry: djhtml
  language: system

quality: fix css
  lacommunaute/static/stylesheets/itou_communaute.scss
Due: none

(forum) add css to manage YT iframe display in forum description
  lacommunaute/static/stylesheets/itou_communaute.scss
Due: none

(forum) wrap iframe in div tag, for display purpose
  lacommunaute/forum/forms.py
  lacommunaute/forum/tests/tests_forms.py
Due: black, ruff

(forum) fix forum.description.rendered display, uses new css property too
  lacommunaute/templates/forum/forum_detail.html
Due: djhtml

ci: setup semantic PR
  .github/workflows/semantic-pr.yml
Due: none

ci: auto author assign on PR
  .github/workflows/pr-auto-author-assign.yml
Due: none

update dependencies
  poetry.lock
  requirements/base.txt
  requirements/dev.txt
Due: none

ci: setup release-please
  .github/workflows/release-please.yml
Due: none

(settings) remove expired fixtures
  fixtures/validation_fixtures.json
Due: none

(settings) populate review app after successful deploy
  clevercloud/review_app_after_succes.sh
  lacommunaute/forum/management/commands/populate.py
Due: black, ruff

(settings) let MD rendering accepts html. Note that html tags in posts are checked when saving instance. They still are forbidden. Ability to accept html is for YT iframe embed in forum description
  config/settings/base.py
Due: black, ruff

(settings) deactivate CSP in debug mode
  config/settings/dev.py
Due: black, ruff

(forum_conversation) setup safe_mode in check_post_approbation, when rendering post content
  lacommunaute/forum_moderation/utils.py
Due: black, ruff

update CSP for YT embedding
  config/settings/base.py
Due: black, ruff

changelog v2.8
  CHANGELOG.md
Due: none

feat(poster): move forum mention
  lacommunaute/forum_conversation/tests/__snapshots__/tests_views.ambr
  lacommunaute/forum_conversation/tests/tests_views.py
  lacommunaute/templates/forum_conversation/partials/poster.html
  lacommunaute/templates/forum_conversation/topic_list.html
Due: black, ruff, djhtml

(forum_conversation) make tags clickable
  lacommunaute/forum_conversation/tests/tests_views.py
  lacommunaute/templates/forum_conversation/partials/topic_tags.html
Due: black, ruff, djhtml

(forum) minimalistic tag filtering in forum view, until it is refactored
  lacommunaute/forum/tests/tests_views.py
  lacommunaute/forum/views.py
Due: black, ruff

(tags) populate dropdown filters with active tag
  lacommunaute/forum_conversation/tests/tests_views.py
  lacommunaute/forum_conversation/views.py
  lacommunaute/templates/forum_conversation/partials/topic_filter.html
  lacommunaute/templates/forum_conversation/topic_list.html
  lacommunaute/templates/forum_conversation/topics_public.html
Due: black, ruff, djhtml

(forum_conversation) rename active_tags to plural for more consistency
  lacommunaute/forum_conversation/tests/tests_views.py
  lacommunaute/forum_conversation/views.py
  lacommunaute/templates/forum_conversation/partials/topic_filter.html
  lacommunaute/templates/forum_conversation/topic_list.html
  lacommunaute/templates/forum_conversation/topics_public.html
Due: black, ruff, djhtml

(forum_conversation) update url on htmx push
  lacommunaute/templates/forum_conversation/partials/topic_filter.html
Due: djhtml

(forum_conversation) filtering on multiple tags, displaying their label
  lacommunaute/forum_conversation/tests/tests_views.py
  lacommunaute/forum_conversation/views.py
  lacommunaute/templates/forum_conversation/partials/topic_filter.html
Due: black, ruff, djhtml

Path conditions:
  black: any of: \.py$
  ruff: any of: \.py$
  djhtml: any of: \.(html|htm|xhtml)$
