Repository gip-inclusion/itou-communaute-django: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, djhtml

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/python-poetry/poetry
    rev: '1.7.0'
    hooks:
      - id: poetry-check
      - id: poetry-export
        args: ["-f", "requirements.txt", "-o", "requirements/dev.txt", "--with", "dev",]
      - id: poetry-export
        args: ["-f", "requirements.txt", "-o", "requirements/base.txt"]
  - repo: local
    hooks:
      - id: black
        name: Black
        entry: black
        types: [python]
        language: system
      - id: ruff
        name: Ruff
        entry: ruff
        types: [python]
        language: system
      - id: djhtml
        name: djhtml
        entry: djhtml
        types: [html]
        language: system

feat(forum): ab test forumrating
  lacommunaute/templates/forum/forum_detail.html
Due: djhtml

feat(forum): Activation de l'AB Test Notation des forums (#686)
  lacommunaute/templates/forum/forum_detail.html
Due: djhtml

fix(forum): ab test forumrating
  lacommunaute/templates/forum/forum_detail.html
Due: djhtml

fix(forum): ab test forum rating (#687)
  lacommunaute/templates/forum/forum_detail.html
Due: djhtml

fix(forum): ab test forumrating, add extra_js block super
  lacommunaute/templates/forum/forum_detail.html
Due: djhtml

fix(forum): quality on rating.html template
  lacommunaute/forum/tests/__snapshots__/test_forum_rating_view.ambr
  lacommunaute/forum/tests/__snapshots__/tests_views.ambr
  lacommunaute/templates/forum/partials/rating.html
Due: djhtml

fix(forum): ab test forum rating (#688)
  lacommunaute/forum/tests/__snapshots__/test_forum_rating_view.ambr
  lacommunaute/forum/tests/__snapshots__/tests_views.ambr
  lacommunaute/templates/forum/forum_detail.html
  lacommunaute/templates/forum/partials/rating.html
Due: djhtml

feat(home): petites améliorations
  lacommunaute/templates/pages/home.html
  lacommunaute/templates/partials/footer.html
Due: djhtml

feat(home): petites améliorations (#689)
  lacommunaute/templates/pages/home.html
  lacommunaute/templates/partials/footer.html
Due: djhtml

refactor(stats): rename app
  config/settings/base.py
  config/urls.py
  lacommunaute/forum/tests/test_categoryforum_listview.py
  lacommunaute/stats/__init__.py
  lacommunaute/stats/admin.py
  lacommunaute/stats/apps.py
  lacommunaute/stats/enums.py
  lacommunaute/stats/factories.py
  lacommunaute/stats/management/commands/collect_django_stats.py
  lacommunaute/stats/management/commands/collect_events.py
  lacommunaute/stats/management/commands/collect_matomo_stats.py
  lacommunaute/stats/management/commands/compute_answering_delay.py
  lacommunaute/stats/management/commands/export_counts.py
  lacommunaute/stats/migrations/0001_initial.py
  lacommunaute/stats/migrations/__init__.py
  lacommunaute/stats/models.py
  lacommunaute/stats/tests/__init__.py
  lacommunaute/stats/tests/__snapshots__/tests_views.ambr
  lacommunaute/stats/tests/tests_management_commands.py
  lacommunaute/stats/tests/tests_models.py
  lacommunaute/stats/tests/tests_views.py
  lacommunaute/stats/urls.py
  lacommunaute/stats/views.py
  lacommunaute/surveys/stats.py
  lacommunaute/surveys/tests/test_stats.py
  lacommunaute/templates/partials/footer.html
  lacommunaute/templates/stats/base_detail_stats.html
  lacommunaute/templates/stats/daily_dsp.html
  lacommunaute/templates/stats/monthly_visitors.html
  lacommunaute/templates/stats/statistiques.html
  lacommunaute/utils/matomo.py
Due: black, ruff, djhtml

refactor(stats): renommage de l'app `forum_stats` en `stats` (#690)
  config/settings/base.py
  config/urls.py
  lacommunaute/forum/tests/test_categoryforum_listview.py
  lacommunaute/stats/__init__.py
  lacommunaute/stats/admin.py
  lacommunaute/stats/apps.py
  lacommunaute/stats/enums.py
  lacommunaute/stats/factories.py
  lacommunaute/stats/management/commands/collect_django_stats.py
  lacommunaute/stats/management/commands/collect_events.py
  lacommunaute/stats/management/commands/collect_matomo_stats.py
  lacommunaute/stats/management/commands/compute_answering_delay.py
  lacommunaute/stats/management/commands/export_counts.py
  lacommunaute/stats/migrations/0001_initial.py
  lacommunaute/stats/migrations/__init__.py
  lacommunaute/stats/models.py
  lacommunaute/stats/tests/__init__.py
  lacommunaute/stats/tests/__snapshots__/tests_views.ambr
  lacommunaute/stats/tests/tests_management_commands.py
  lacommunaute/stats/tests/tests_models.py
  lacommunaute/stats/tests/tests_views.py
  lacommunaute/stats/urls.py
  lacommunaute/stats/views.py
  lacommunaute/surveys/stats.py
  lacommunaute/surveys/tests/test_stats.py
  lacommunaute/templates/partials/footer.html
  lacommunaute/templates/stats/base_detail_stats.html
  lacommunaute/templates/stats/daily_dsp.html
  lacommunaute/templates/stats/monthly_visitors.html
  lacommunaute/templates/stats/statistiques.html
  lacommunaute/utils/matomo.py
Due: black, ruff, djhtml

refactor(forum/ForumView): gabarit séparé pour les forums de documentation
  lacommunaute/forum/tests/tests_views.py
  lacommunaute/forum/views.py
  lacommunaute/templates/forum/forum_detail.html
  lacommunaute/templates/forum/forum_documentation.html
Due: black, ruff, djhtml

docs(forum_list.html): ajout de commentaire
  lacommunaute/templates/forum/forum_list.html
Due: djhtml

feat(forum/test_views.py): expression plus courte sur test_template_name
  lacommunaute/forum/tests/tests_views.py
Due: black, ruff

feat(forum): remplace forum_list templatetag
  lacommunaute/forum/tests/tests_views.py
  lacommunaute/forum/views.py
  lacommunaute/templates/forum/forum_detail.html
  lacommunaute/templates/forum/forum_documentation_category.html
  lacommunaute/templates/forum/forum_list.html
  lacommunaute/templates/forum/index.html
Due: black, ruff, djhtml

refactor(forum): plus d'inhéritance des templates
  lacommunaute/templates/forum/forum_detail.html
  lacommunaute/templates/forum/forum_documentation_category.html
Due: djhtml

fix(tests_views.py): nombre des queries augmenté
  lacommunaute/forum/tests/tests_views.py
Due: black, ruff

refactor(forum/tests): changement du nom de la test classe
  lacommunaute/forum/tests/__snapshots__/tests_views.ambr
  lacommunaute/forum/tests/tests_views.py
Due: black, ruff

fix(forum_documentation.html): supprime formulaire tally
  lacommunaute/templates/forum/forum_documentation.html
Due: djhtml

chore: remove unused matomo tag manager
  lacommunaute/templates/layouts/base.html
Due: djhtml

chore: suppression du tag manager matomo (#692)
  lacommunaute/templates/layouts/base.html
Due: djhtml

feat(utils/testing): ContextlessTemplate
  lacommunaute/utils/testing.py
  lacommunaute/utils/tests/tests_utils.py
Due: black, ruff

Revert "feat(utils/testing): ContextlessTemplate"
  lacommunaute/utils/testing.py
  lacommunaute/utils/tests/tests_utils.py
Due: black, ruff

feat(utils/testing): reset_model_sequence_fixture utility
  lacommunaute/utils/testing.py
Due: black, ruff

refactor(utils/testing.py): protéctions contre l'injection du SQL
  lacommunaute/utils/testing.py
Due: black, ruff

feat(forum/tests): snapshots pour forum_documentation
  lacommunaute/forum/factories.py
  lacommunaute/forum/tests/__snapshots__/tests_views.ambr
  lacommunaute/forum/tests/tests_views.py
Due: black, ruff

refactor(utils/testing.py): enlève restauration de sequence superflu
  lacommunaute/utils/testing.py
Due: black, ruff

fix(test_documentation_forum_header_content): test sur le nom de l'image et non l'URL entier
  lacommunaute/forum/tests/tests_views.py
Due: black, ruff

add ForumStat model
  lacommunaute/stats/admin.py
  lacommunaute/stats/factories.py
  lacommunaute/stats/migrations/0002_forumstat.py
  lacommunaute/stats/models.py
  lacommunaute/stats/tests/tests_models.py
Due: black, ruff

add collect_forum_stats_from_matomo_api method and tests
  lacommunaute/utils/matomo.py
  lacommunaute/utils/tests/tests_utils.py
Due: black, ruff

refactor(stats): StatAdmin registering
  lacommunaute/stats/admin.py
Due: black, ruff

compute the last sunday date, for weekly matomo collection, to prevent get partial datas from current week
  lacommunaute/utils/date.py
  lacommunaute/utils/tests/tests_utils.py
Due: black, ruff

setup scheduled management command to collect weekly stats on documentation forums
  clevercloud/collect_weekly_matomo_forum_stats.sh
  clevercloud/cron.json
  lacommunaute/stats/management/commands/collect_matomo_forum_stats.py
Due: black, ruff

refactor(ForumView): test plus efficace pour trouver une catégorie de documentation
  lacommunaute/forum/tests/tests_views.py
  lacommunaute/forum/views.py
Due: black, ruff

forum_conversation: remove deadcode in topic_create template
  lacommunaute/templates/forum_conversation/topic_create.html
Due: djhtml

fix is_in_documentation_area method, 'self.get_ancestors().first().type' fails for forums wo ancestors (although tests do not fail)
  lacommunaute/forum/models.py
Due: black, ruff

forum_conversation: remove emplois_helpdesk banner
  lacommunaute/templates/forum_conversation/topic_create.html
  lacommunaute/templates/partials/banners/emplois_helpdesk.html
Due: djhtml

forum_conversation: add topic_create_check view
  lacommunaute/forum_conversation/tests/__snapshots__/tests_views.ambr
  lacommunaute/forum_conversation/tests/tests_views.py
  lacommunaute/forum_conversation/urls.py
  lacommunaute/forum_conversation/views.py
  lacommunaute/templates/forum_conversation/topic_create_check.html
Due: black, ruff, djhtml

forum_conversation: redirect to topic_create_check view on conditions from topic_create view
  lacommunaute/forum_conversation/tests/__snapshots__/tests_views.ambr
  lacommunaute/forum_conversation/tests/tests_views.py
  lacommunaute/forum_conversation/views.py
Due: black, ruff

forum_conversation: update TopicCreateView tests
  lacommunaute/forum_conversation/tests/tests_views.py
Due: black, ruff
