Repository gip-inclusion/itou-communaute-django: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, djhtml

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/python-poetry/poetry
    rev: '1.7.0'
    hooks:
      - id: poetry-check
      - id: poetry-export
        args: ["-f", "requirements.txt", "-o", "requirements/dev.txt", "--with", "dev",]
      - id: poetry-export
        args: ["-f", "requirements.txt", "-o", "requirements/base.txt"]
  - repo: local
    hooks:
      - id: black
        name: Black
        entry: black
        types: [python]
        language: system
      - id: ruff
        name: Ruff
        entry: ruff
        types: [python]
        language: system
      - id: djhtml
        name: djhtml
        entry: djhtml
        types: [html]
        language: system

refactor(tests_signals.py): test plus concis
  lacommunaute/notification/tests/tests_signals.py
Due: black, ruff

factorize the method to collect daily visitors
  lacommunaute/stats/tests/tests_views.py
  lacommunaute/stats/views.py
Due: black, ruff

add ForumStatWeekArchiveView
  lacommunaute/stats/tests/__snapshots__/tests_views.ambr
  lacommunaute/stats/tests/tests_views.py
  lacommunaute/stats/urls.py
  lacommunaute/stats/views.py
  lacommunaute/templates/stats/forum_stat_week_archive.html
Due: black, ruff, djhtml

more explicit labels in template
  lacommunaute/stats/tests/__snapshots__/tests_views.ambr
  lacommunaute/templates/stats/forum_stat_week_archive.html
Due: djhtml

feat(admin): améliorer le filtrage des stats de forum (#699)
  lacommunaute/stats/admin.py
Due: black, ruff

feat(stats): page hebdo partenaires fiches pratiques (#695)
  lacommunaute/forum/factories.py
  lacommunaute/forum/models.py
  lacommunaute/forum/tests/tests_model.py
  lacommunaute/stats/factories.py
  lacommunaute/stats/tests/__snapshots__/tests_views.ambr
  lacommunaute/stats/tests/tests_views.py
  lacommunaute/stats/urls.py
  lacommunaute/stats/views.py
  lacommunaute/templates/stats/forum_stat_week_archive.html
Due: black, ruff, djhtml

feat(stats): add sorting
  lacommunaute/stats/admin.py
Due: black, ruff

feat(admin): filtrage des stats de forum, ajout tri (#701)
  lacommunaute/stats/admin.py
Due: black, ruff

install freezegun
  poetry.lock
  pyproject.toml
  requirements/base.txt
  requirements/dev.txt
Due: none

fix(stats): use freezegun in stats page
  lacommunaute/stats/tests/tests_views.py
Due: black, ruff

fix(stats): gel du temps dans les tests de la vue `StatistiquesPageView` (#702)
  lacommunaute/stats/tests/tests_views.py
  poetry.lock
  pyproject.toml
  requirements/base.txt
  requirements/dev.txt
Due: black, ruff

feat(notification/tasks): send_notifications
  config/settings/base.py
  lacommunaute/notification/tasks.py
  lacommunaute/notification/tests/tests_tasks.py
Due: black, ruff

feat(notification): NotificationAdmin
  lacommunaute/notification/admin.py
Due: black, ruff

feat(notification): création des Notifications à la réception de post_created
  lacommunaute/forum_conversation/models.py
  lacommunaute/notification/apps.py
  lacommunaute/notification/signals.py
  lacommunaute/notification/tests/tests_signals.py
Due: black, ruff

feat(forum_conversation): post_create signal
  lacommunaute/forum_conversation/models.py
  lacommunaute/forum_conversation/signals.py
Due: black, ruff

feat(notification): Notification, NotificationFactory
  lacommunaute/notification/enums.py
  lacommunaute/notification/factories.py
  lacommunaute/notification/migrations/0009_alter_emailsenttrack_kind_notification.py
  lacommunaute/notification/models.py
  locale/fr/LC_MESSAGES/django.mo
  locale/fr/LC_MESSAGES/django.po
Due: black, ruff

fix(notification): être plus spécifique avec Notification.kind
  lacommunaute/notification/enums.py
  lacommunaute/notification/factories.py
  lacommunaute/notification/migrations/0009_alter_emailsenttrack_kind_notification.py
  lacommunaute/notification/signals.py
  lacommunaute/notification/tests/tests_signals.py
Due: black, ruff

feat(notification/tests): teste le coût de send_notifications
  lacommunaute/notification/tests/tests_tasks.py
Due: black, ruff

feat(notification): NotificationQuerySet
  lacommunaute/notification/models.py
  lacommunaute/notification/tests/tests_models.py
Due: black, ruff

refactor(notification/tests): classe NotificationQuerySetTest
  lacommunaute/notification/tests/tests_models.py
Due: black, ruff

feat(cron): commande et programmation de send_notifications
  clevercloud/cron.json
  clevercloud/send_notifications_daily.sh
  clevercloud/send_notifications_regular.sh
  lacommunaute/notification/management/commands/send_notifications.py
  lacommunaute/notification/management/commands/send_notifs_when_first_reply.py
  lacommunaute/notification/management/commands/send_notifs_when_following_replies.py
Due: black, ruff

feat(notification/utils): serialization des messages pour le contenu e-mail des notifications
  lacommunaute/notification/tests/tests_utils.py
  lacommunaute/notification/utils.py
Due: black, ruff

fix(notification): deduplication des e-mails notifications
  config/settings/base.py
  lacommunaute/notification/tasks.py
  lacommunaute/notification/tests/tests_tasks.py
Due: black, ruff

feat(notification/tests): test_send_notifications_max_messages_preview
  lacommunaute/notification/tasks.py
  lacommunaute/notification/tests/tests_tasks.py
Due: black, ruff

fix(notification/tasks): send_notifications gère que post peut-être None
  lacommunaute/notification/tasks.py
Due: black, ruff

fix(notification/signals): messages non-approuvés ne déclenchent pas une notification
  lacommunaute/notification/signals.py
  lacommunaute/notification/tests/tests_signals.py
Due: black, ruff

refactor(notification): enlève les fonctionnalités remplacés par nouveau système
  config/settings/base.py
  lacommunaute/forum_conversation/models.py
  lacommunaute/forum_conversation/tests/tests_models.py
  lacommunaute/notification/tasks.py
  lacommunaute/notification/tests/tests_tasks.py
  lacommunaute/notification/tests/tests_utils.py
  lacommunaute/notification/utils.py
Due: black, ruff

refactor(notification): nom plus spécifique pour les notifications des messages
  clevercloud/send_notifications_daily.sh
  clevercloud/send_notifications_regular.sh
  lacommunaute/notification/management/commands/send_messages_notifications.py
  lacommunaute/notification/tasks.py
  lacommunaute/notification/tests/tests_tasks.py
Due: black, ruff

fix(forum_conversation): contrôle additionnel sur le signal post_create
  lacommunaute/forum_conversation/models.py
Due: black, ruff

feat(notification): parametrise action_verb sur messages sérialisés
  lacommunaute/notification/utils.py
  locale/fr/LC_MESSAGES/django.mo
  locale/fr/LC_MESSAGES/django.po
Due: black, ruff

feat(home): mvp editorial
  lacommunaute/templates/pages/home.html
Due: djhtml

feat(home): MVP zone editoriale sur la page d'accueil (#703)
  lacommunaute/templates/pages/home.html
Due: djhtml

Revert "feat(notification): parametrise action_verb sur messages sérialisés"
  lacommunaute/notification/utils.py
  locale/fr/LC_MESSAGES/django.mo
  locale/fr/LC_MESSAGES/django.po
Due: black, ruff

feat(notification): nouveau système des notifications messages (#697)
  clevercloud/cron.json
  clevercloud/send_notifications_daily.sh
  clevercloud/send_notifications_regular.sh
  config/settings/base.py
  lacommunaute/forum_conversation/models.py
  lacommunaute/forum_conversation/signals.py
  lacommunaute/forum_conversation/tests/tests_models.py
  lacommunaute/notification/admin.py
  lacommunaute/notification/apps.py
  lacommunaute/notification/enums.py
  lacommunaute/notification/factories.py
  lacommunaute/notification/management/commands/send_messages_notifications.py
  lacommunaute/notification/management/commands/send_notifs_when_first_reply.py
  lacommunaute/notification/management/commands/send_notifs_when_following_replies.py
  lacommunaute/notification/migrations/0009_alter_emailsenttrack_kind_notification.py
  lacommunaute/notification/models.py
  lacommunaute/notification/signals.py
  lacommunaute/notification/tasks.py
  lacommunaute/notification/tests/tests_models.py
  lacommunaute/notification/tests/tests_signals.py
  lacommunaute/notification/tests/tests_tasks.py
  lacommunaute/notification/tests/tests_utils.py
  lacommunaute/notification/utils.py
  locale/fr/LC_MESSAGES/django.mo
  locale/fr/LC_MESSAGES/django.po
Due: black, ruff

refactor(forum/ForumView): gabarit séparé pour les forums de documentation
  lacommunaute/forum/tests/tests_views.py
  lacommunaute/forum/views.py
  lacommunaute/templates/forum/forum_detail.html
  lacommunaute/templates/forum/forum_documentation.html
Due: black, ruff, djhtml

docs(forum_list.html): ajout de commentaire
  lacommunaute/templates/forum/forum_list.html
Due: djhtml

refactor(forum): plus d'inhéritance des templates
  lacommunaute/templates/forum/forum_detail.html
  lacommunaute/templates/forum/forum_documentation_category.html
Due: djhtml

feat(forum/test_views.py): expression plus courte sur test_template_name
  lacommunaute/forum/tests/tests_views.py
Due: black, ruff

feat(utils/testing): ContextlessTemplate
  lacommunaute/utils/testing.py
  lacommunaute/utils/tests/tests_utils.py
Due: black, ruff
