Repository gip-inclusion/itou-communaute-django: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, djhtml

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/python-poetry/poetry
    rev: '1.7.0'
    hooks:
      - id: poetry-check
      - id: poetry-export
        args: ["-f", "requirements.txt", "-o", "requirements/dev.txt", "--with", "dev",]
      - id: poetry-export
        args: ["-f", "requirements.txt", "-o", "requirements/base.txt"]
  - repo: local
    hooks:
      - id: black
        name: Black
        entry: black
        types: [python]
        language: system
      - id: ruff
        name: Ruff
        entry: ruff
        types: [python]
        language: system
      - id: djhtml
        name: djhtml
        entry: djhtml
        types: [html]
        language: system

(moderation) add post.update_reason in moderation templates, plus some quick fix
  lacommunaute/templates/forum_moderation/moderation_queue/detail.html
  lacommunaute/templates/forum_moderation/moderation_queue/list.html
Due: djhtml

(forum_conversation) get localized content in tests for langdetect compliance
  lacommunaute/forum_conversation/factories.py
  lacommunaute/forum_conversation/tests/tests_forms.py
  lacommunaute/forum_conversation/tests/tests_views.py
  lacommunaute/forum_conversation/tests/tests_views_htmx.py
Due: black, ruff

(forum_conversation) check post approbation in creation & update views
  lacommunaute/forum_conversation/tests/tests_views.py
  lacommunaute/forum_conversation/tests/tests_views_htmx.py
  lacommunaute/forum_conversation/views.py
  lacommunaute/forum_conversation/views_htmx.py
  lacommunaute/forum_moderation/tests/test_utils.py
  lacommunaute/forum_moderation/utils.py
Due: black, ruff

(forum_conversation) get more realistic anonymous post/topic made by factories
  lacommunaute/forum_conversation/factories.py
Due: black, ruff

(forum_conversation) remove patch usage on anonymous posts update, seeding anonymous_key to get explicitly representative tests
  lacommunaute/forum_conversation/tests/tests_views.py
Due: black, ruff

Remove those ugly mock.patch
  lacommunaute/forum_conversation/tests/tests_views_htmx.py
Due: black, ruff

(notification) rearrange notification admin registration
  lacommunaute/notification/admin.py
Due: black, ruff

(forum_conversation) remove unuseful override form_valid method in TopicCreateView
  lacommunaute/forum_conversation/views.py
Due: black, ruff

add BouncedDomainName model and its uniqueness test
  lacommunaute/notification/admin.py
  lacommunaute/notification/factories.py
  lacommunaute/notification/migrations/0007_bounceddomainname.py
  lacommunaute/notification/models.py
  lacommunaute/notification/tests/tests_models.py
Due: black, ruff

install langdetect python lib
  poetry.lock
  pyproject.toml
  requirements/base.txt
  requirements/dev.txt
Due: none

(notification) lowerize verbose names, reword BouncedEmail verbose name for more consistency
  lacommunaute/notification/migrations/0006_alter_bouncedemail_options_and_more.py
  lacommunaute/notification/models.py
Due: black, ruff

(forum_conversation) cleanup views tests
  lacommunaute/forum_conversation/tests/tests_views.py
Due: black, ruff

(forum_moderation) merge should_not_be_approved method into check_post_approbation more generalistic method
  lacommunaute/forum_conversation/forms.py
  lacommunaute/forum_moderation/tests/test_utils.py
  lacommunaute/forum_moderation/utils.py
  lacommunaute/notification/tests/tests_utils.py
  lacommunaute/notification/utils.py
Due: black, ruff

(forum_moderation) migrate datas from BouncedEmail to BlockedEmail models.
  lacommunaute/forum_moderation/migrations/0002_copy_data_from_BouncedEmail_to_BlockedEmail.py
Due: black, ruff

(forum_moderation) setup app, add BlockedEmail & BlockedDomainName models, theirs tests, admins and factories.
  config/settings/base.py
  lacommunaute/forum_moderation/admin.py
  lacommunaute/forum_moderation/factories.py
  lacommunaute/forum_moderation/migrations/0001_initial.py
  lacommunaute/forum_moderation/migrations/__init__.py
  lacommunaute/forum_moderation/models.py
  lacommunaute/forum_moderation/tests/tests_models.py
Due: black, ruff

(notification) delete BouncedEmail and BouncedDomainName
  lacommunaute/notification/admin.py
  lacommunaute/notification/factories.py
  lacommunaute/notification/migrations/0008_delete_bounceddomainname_delete_bouncedemail.py
  lacommunaute/notification/models.py
  lacommunaute/notification/tests/tests_models.py
Due: black, ruff

(forum_moderation) update business views and tests, using BlockedXX models and factories
  lacommunaute/forum_conversation/tests/tests_views.py
  lacommunaute/forum_conversation/tests/tests_views_htmx.py
  lacommunaute/forum_moderation/tests/test_post_disapprove_view.py
  lacommunaute/forum_moderation/views.py
Due: black, ruff

update dependencies
  poetry.lock
  requirements/base.txt
  requirements/dev.txt
Due: none

changelog v2.6
  CHANGELOG.md
Due: none

Remove text/css from stylesheet links and style
  lacommunaute/utils/templatetags/theme_inclusion.py
Due: black, ruff

(forum profile) cleanup forum profile detail template
  lacommunaute/templates/forum_member/forum_profile_detail.html
Due: djhtml

(forum profile) set ForumProfile str
  lacommunaute/forum_member/models.py
  lacommunaute/forum_member/tests/tests_models.py
Due: black, ruff

(forum profile) set power_user ForumProfile queryset
  lacommunaute/forum_member/models.py
  lacommunaute/forum_member/tests/tests_models.py
Due: black, ruff

(forum profile) add Leaderboard ListView
  lacommunaute/forum_member/tests/tests_view.py
  lacommunaute/forum_member/urls.py
  lacommunaute/forum_member/views.py
  lacommunaute/templates/forum_member/profiles.html
Due: black, ruff, djhtml

(forum profile) add link to leaderboard in footer
  lacommunaute/templates/partials/footer.html
Due: djhtml

(notification) add TagsNofication model, to save subscription to tags for an email
  lacommunaute/notification/admin.py
  lacommunaute/notification/migrations/0009_tagsnofication.py
  lacommunaute/notification/migrations/0011_rename_tagsnofication_tagsnotification.py
  lacommunaute/notification/models.py
Due: black, ruff

(notification) add TAG_DIGEST EmailSentTrackKind
  lacommunaute/notification/enums.py
  lacommunaute/notification/migrations/0010_alter_emailsenttrack_kind.py
Due: black, ruff
