Repository gip-inclusion/itou-communaute-django: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, djhtml

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/python-poetry/poetry
    rev: '1.7.0'
    hooks:
      - id: poetry-check
      - id: poetry-export
        args: ["-f", "requirements.txt", "-o", "requirements/dev.txt", "--with", "dev",]
      - id: poetry-export
        args: ["-f", "requirements.txt", "-o", "requirements/base.txt"]
  - repo: local
    hooks:
      - id: black
        name: Black
        entry: black
        types: [python]
        language: system
      - id: ruff
        name: Ruff
        entry: ruff
        types: [python]
        language: system
      - id: djhtml
        name: djhtml
        entry: djhtml
        types: [html]
        language: system

(UI) update header, fix class on documentation_url
  lacommunaute/templates/partials/header_nav_secondary_items.html
Due: djhtml

(UI) update header, remove seeker_url
  lacommunaute/templates/partials/header_nav_secondary_items.html
Due: djhtml

(UI) update header, remove survey_url highlights
  lacommunaute/templates/partials/header_nav_secondary_items.html
Due: djhtml

fix release please token
  .github/workflows/release-please.yml
Due: none

(documentation) fix translation
  lacommunaute/templates/forum/forum_detail.html
Due: djhtml

(documentation) add rating form
  lacommunaute/templates/forum/forum_detail.html
Due: djhtml

add fake_image fixtures for testing purposes
  lacommunaute/forum/tests/test_forum_updateview.py
Due: black, ruff

(forum) add image field into ForumForm
  lacommunaute/forum/forms.py
  lacommunaute/forum/tests/test_forum_updateview.py
  lacommunaute/forum/tests/tests_forms.py
  lacommunaute/templates/forum/partials/forum_form.html
Due: black, ruff, djhtml

(forum) make image field optionnal in ForumForm
  lacommunaute/forum/forms.py
  lacommunaute/forum/tests/tests_forms.py
Due: black, ruff

(setup) fix docker-compose env var, update README
  README.md
  docker-compose.yml
Due: none

feat: update itou theme to v1.6.5 and ui for offcanvas #burgerNav
  lacommunaute/static/vendor/theme-inclusion/images/card-header-bg-dora.png
  lacommunaute/static/vendor/theme-inclusion/images/ico-bicro-important.svg
  lacommunaute/static/vendor/theme-inclusion/images/ico-spinner-loading.svg
  lacommunaute/static/vendor/theme-inclusion/images/logo-france-travail.svg
  lacommunaute/static/vendor/theme-inclusion/javascripts/app.js
  lacommunaute/static/vendor/theme-inclusion/stylesheets/app.css
  lacommunaute/templates/pages/home.html
  lacommunaute/templates/partials/footer.html
  lacommunaute/templates/partials/header.html
Due: djhtml

update dependencies
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  requirements/base.txt
  requirements/dev.txt
Due: none

quality
  lacommunaute/notification/utils.py
  lacommunaute/utils/templatetags/str_filters.py
  lacommunaute/utils/templatetags/theme_inclusion.py
  lacommunaute/utils/testing.py
Due: black, ruff

changelog v2.9
  CHANGELOG.md
Due: none

update release-type in release-please action
  .github/workflows/release-please.yml
Due: none

update version number in pyproject.toml
  pyproject.toml
Due: none

update version & changelog
  CHANGELOG.md
  pyproject.toml
Due: none

fix(github actions): action name
  .github/workflows/release-please.yml
Due: none

fix: Mise à jour de l'action `release-please` (#645)
  .github/workflows/release-please.yml
Due: none

fix: mise à jour du gabarit de PR
  .github/pull_request_template.md
Due: none

fix: mise à jour du gabarit de PR (#647)
  .github/pull_request_template.md
Due: none

fix(surveys): ne pas afficher la carte des fiches liées si elle est vide
  lacommunaute/surveys/tests/__snapshots__/test_views.ambr
  lacommunaute/templates/surveys/dsp_detail.html
  lacommunaute/templates/surveys/dsp_form.html
Due: djhtml

fix: Diag parcours IAE - masquer la carte des fiches pratiques liées lorsqu'elle est vide (#650)
  lacommunaute/surveys/tests/__snapshots__/test_views.ambr
  lacommunaute/templates/surveys/dsp_detail.html
  lacommunaute/templates/surveys/dsp_form.html
Due: djhtml

update linters setup in pyproject.toml
  pyproject.toml
Due: none

update djlint setup for js scripts
  lacommunaute/templates/forum_conversation/partials/post_feed.html
  lacommunaute/templates/layouts/base.html
  pyproject.toml
Due: djhtml

prevent djlint convert this tag in one-liner
  lacommunaute/templates/forum_conversation/partials/post_feed.html
Due: djhtml

fix(quality): formatage des balises `script` dans le gabarit `base.html` (#651)
  lacommunaute/templates/forum_conversation/partials/post_feed.html
  lacommunaute/templates/layouts/base.html
  pyproject.toml
Due: djhtml

feat(documentation): améliorer les cartes de forum, dans la liste des forums de la documentation
  lacommunaute/templates/forum/forum_list.html
Due: djhtml
