Repository gip-inclusion/itou-communaute-django: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, djhtml

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/python-poetry/poetry
    rev: '1.7.0'
    hooks:
      - id: poetry-check
      - id: poetry-export
        args: ["-f", "requirements.txt", "-o", "requirements/dev.txt", "--with", "dev",]
      - id: poetry-export
        args: ["-f", "requirements.txt", "-o", "requirements/base.txt"]
  - repo: local
    hooks:
      - id: black
        name: Black
        entry: black
        types: [python]
        language: system
      - id: ruff
        name: Ruff
        entry: ruff
        types: [python]
        language: system
      - id: djhtml
        name: djhtml
        entry: djhtml
        types: [html]
        language: system

refactor: replace locmemcache with databasecache
  config/settings/base.py
Due: black, ruff

setup cache table in CI and during deployement
  .github/workflows/ci.yml
  clevercloud/python.json
Due: none

update README with createcachetable command
  README.md
Due: none

chore: modification de la stratégie de mise en cache (#853)
  .github/workflows/ci.yml
  README.md
  clevercloud/python.json
  config/settings/base.py
Due: black, ruff

add empty file to unlock PR
  dummy_empty_file
Due: none

mise à jour de la public key sentry pour l'envoi des logs
  lacommunaute/templates/layouts/base.html
Due: djhtml

update CSP
  config/settings/base.py
Due: black, ruff

chore: mise à jour de la version du script js sentry (#856)
  config/settings/base.py
  lacommunaute/templates/layouts/base.html
Due: black, ruff, djhtml

cleanup Brevo settings declaration and usage
  config/settings/base.py
  config/settings/dev.py
  lacommunaute/notification/tests/tests_emails.py
  lacommunaute/notification/tests/tests_tasks.py
Due: black, ruff

deactivate stats tasks in cron table
  clevercloud/cron.json
Due: none

display deactivation messages in stats pages
  lacommunaute/stats/tests/__snapshots__/tests_views.ambr
  lacommunaute/stats/views.py
Due: black, ruff

fix(stats): desactivation de la collecte des stats automatique (#859)
  clevercloud/cron.json
  lacommunaute/stats/tests/__snapshots__/tests_views.ambr
  lacommunaute/stats/views.py
Due: black, ruff

remove the non-recommended python.json wsgi launcher, and use environment variables instead
  clevercloud/python.json
Due: none

chore: lancement du serveur d'applications dans le PAAS clever cloud (#855)
  clevercloud/python.json
Due: none

a bit of refactoring on TopicQuerySet
  lacommunaute/forum_conversation/models.py
Due: black, ruff

update factory call to let tests be compliant with new queryset
  lacommunaute/forum_conversation/factories.py
Due: black, ruff

rewrite TopicManager tests on unanswered_topics methods in pytest, make it more readable and use with_post trait
  lacommunaute/forum_conversation/tests/tests_models.py
Due: black, ruff

rewrite get_unanswered_topics and count_unanswered_topics in pytest, make it more readable and use with_post trait
  lacommunaute/forum/tests/tests_model.py
Due: black, ruff

prevent superuser using deleted_selected mass action in admin, cause it does not update related objects (ie posts_count), making website ~crashes~ inconsistent
  lacommunaute/forum_conversation/admin.py
Due: black, ruff

add filter on approved field on Post and Topic
  lacommunaute/forum_conversation/admin.py
Due: black, ruff

Run compress before to run the test suite
  lacommunaute/conftest.py
Due: black, ruff

uses config.settings.base to be more similar with CI execution
  pytest.ini
Due: none

chore: mise en cache en environnement de developpement (#862)
  lacommunaute/conftest.py
  pytest.ini
Due: black, ruff

update comment
  lacommunaute/forum_conversation/admin.py
Due: black, ruff

make bucket name dynamical in migration file
  lacommunaute/partner/migrations/0001_initial.py
Due: black, ruff

set python version to 3.12 in CI and CC script
  .github/workflows/ci.yml
  .github/workflows/review-app-creation.yml
Due: none

cleanup brevo routes management
  config/settings/base.py
  lacommunaute/notification/emails.py
  lacommunaute/notification/tasks.py
  lacommunaute/notification/tests/tests_emails.py
  lacommunaute/notification/tests/tests_tasks.py
  lacommunaute/users/tests/tests_views.py
Due: black, ruff

merge pytest.ini into pyproject.toml
  pyproject.toml
  pytest.ini
Due: none

isolate mandatory env vars in test.py, remove corresponding default values from base.py
  config/settings/base.py
  config/settings/test.py
  pytest.ini
Due: black, ruff

use test.py in CI, cleanup env vars
  .github/workflows/ci.yml
Due: none

cleanup the way magic_link is send by mail or through django message
  lacommunaute/notification/emails.py
  lacommunaute/users/tests/__snapshots__/tests_views.ambr
  lacommunaute/users/tests/tests_views.py
  lacommunaute/users/views.py
  lacommunaute/utils/enums.py
Due: black, ruff

fix: 🦇 désactiver la suppression en masse des `Post` depuis l'admin django (#861)
  lacommunaute/forum/tests/tests_model.py
  lacommunaute/forum_conversation/admin.py
  lacommunaute/forum_conversation/factories.py
  lacommunaute/forum_conversation/models.py
  lacommunaute/forum_conversation/tests/tests_models.py
Due: black, ruff

wip
  .env.template
  .github/workflows/review-app-creation.yml
  clevercloud/pre_build.sh
  clevercloud/pre_run.sh
  config/settings/base.py
Due: black, ruff
