Repository gip-inclusion/itou-communaute-django: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, djhtml

black:
  name: Black
  entry: black
  language: system

ruff:
  name: Ruff
  entry: ruff
  language: system

djhtml:
  name: djhtml
  entry: djhtml
  language: system

chore: mise à jour de la version du script js sentry (#723)
  lacommunaute/templates/layouts/base.html
Due: djhtml

feat(forum): utiliser l'image du forum dans les vignettes opengraph lorsque le forum possède sa propre image
  lacommunaute/forum/forms.py
  lacommunaute/forum/tests/tests_views.py
  lacommunaute/forum/views.py
  lacommunaute/templates/layouts/base.html
Due: black, ruff, djhtml

feat(forum): utiliser l'image du forum dans la vignette opengraph (#725)
  lacommunaute/forum/forms.py
  lacommunaute/forum/tests/tests_views.py
  lacommunaute/forum/views.py
  lacommunaute/templates/layouts/base.html
Due: black, ruff, djhtml

feat(footer): mise à jour des liens sociaux
  lacommunaute/templates/partials/footer.html
Due: djhtml

feat(footer): mise à jour des liens sociaux (#730)
  lacommunaute/templates/partials/footer.html
Due: djhtml

feat(pro_connect): rename inclusion_connect to openid_connect
  .env.template
  README.md
  config/settings/base.py
  config/urls.py
  lacommunaute/event/tests/tests_views.py
  lacommunaute/forum/tests/__snapshots__/tests_views.ambr
  lacommunaute/forum/tests/tests_views.py
  lacommunaute/inclusion_connect/constants.py
  lacommunaute/inclusion_connect/migrations/0001_initial.py
  lacommunaute/inclusion_connect/urls.py
  lacommunaute/openid_connect/__init__.py
  lacommunaute/openid_connect/constants.py
  lacommunaute/openid_connect/migrations/0001_initial.py
  lacommunaute/openid_connect/migrations/__init__.py
  lacommunaute/openid_connect/models.py
  lacommunaute/openid_connect/tests/__init__.py
  lacommunaute/openid_connect/tests/tests_model.py
  lacommunaute/openid_connect/tests/tests_views.py
  lacommunaute/openid_connect/urls.py
  lacommunaute/openid_connect/views.py
  lacommunaute/surveys/tests/test_views.py
  lacommunaute/templates/forum_conversation/topics_newsfeed.html
  lacommunaute/templates/forum_conversation/topics_public.html
  lacommunaute/templates/forum_member/join_forum_landing.html
  lacommunaute/templates/forum_member/seekers_profiles.html
  lacommunaute/templates/partials/header_nav_primary_items.html
  lacommunaute/templates/partials/upvotes.html
  lacommunaute/templates/surveys/dsp_form.html
  lacommunaute/utils/templatetags/str_filters.py
  lacommunaute/utils/tests/tests_utils.py
Due: black, ruff, djhtml

feat(pro_connect): add acr_values param
  lacommunaute/openid_connect/views.py
Due: black, ruff

feat(pro_connect): update family_name key in user_info_mapping_dict
  lacommunaute/openid_connect/models.py
  lacommunaute/openid_connect/tests/tests_model.py
  lacommunaute/openid_connect/tests/tests_views.py
Due: black, ruff

feat(pro_connect): decode user_data
  lacommunaute/openid_connect/tests/tests_views.py
  lacommunaute/openid_connect/views.py
Due: black, ruff

feat(pro_connect): make login button agnostic
  lacommunaute/templates/forum_member/seekers_profiles.html
  lacommunaute/templates/partials/header_nav_primary_items.html
  lacommunaute/templates/surveys/dsp_form.html
Due: djhtml

fix: mise à jour de la public key sentry pour l'envoi des logs
  lacommunaute/templates/layouts/base.html
Due: djhtml

fix: mise à jour de la public key sentry pour l'envoi des logs (#732)
  lacommunaute/templates/layouts/base.html
Due: djhtml

feat(forum): attr accept définit sur forms.ImageField avec les formats d'image courants
  config/settings/base.py
  lacommunaute/forum/forms.py
  lacommunaute/forum/tests/test_forum_updateview.py
Due: black, ruff

feat(home): AB test home with search
  lacommunaute/pages/urls.py
  lacommunaute/pages/views.py
  lacommunaute/static/images/illustration-01.png
  lacommunaute/static/images/search-bg-left.png
  lacommunaute/static/images/search-bg-right.png
  lacommunaute/static/stylesheets/itou_communaute.scss
  lacommunaute/templates/pages/home_with_search.html
  locale/fr/LC_MESSAGES/django.mo
  locale/fr/LC_MESSAGES/django.po
Due: black, ruff, djhtml

rebase from #725 ;)
  lacommunaute/forum/forms.py
Due: black, ruff

wip snapshot fix
  lacommunaute/forum/tests/__snapshots__/tests_views.ambr
  lacommunaute/forum_conversation/tests/__snapshots__/tests_views.ambr
Due: none

wip2
  lacommunaute/forum_conversation/tests/__snapshots__/tests_views.ambr
  lacommunaute/pages/views.py
  lacommunaute/static/images/illustration-01.png
  lacommunaute/static/stylesheets/itou_communaute.scss
  lacommunaute/templates/forum_conversation/partials/itou_modal.html
  lacommunaute/templates/forum_conversation/topic_create_check.html
  lacommunaute/templates/pages/home_with_search.html
Due: black, ruff, djhtml

feat(forum): attr accept définit sur forms.ImageField (#734)
  config/settings/base.py
  lacommunaute/forum/forms.py
  lacommunaute/forum/tests/test_forum_updateview.py
Due: black, ruff

wip
  lacommunaute/static/images/BoiteOutilCIP.png
  lacommunaute/static/images/Contact_.jpg
  lacommunaute/static/images/Diagnostic.png
  lacommunaute/static/images/Emploi.png
  lacommunaute/static/images/Entraide.png
  lacommunaute/static/images/Erreur_404.jpg
  lacommunaute/static/images/Evenement.png
  lacommunaute/static/images/FAQ.jpg
  lacommunaute/static/images/Microphone.png
  lacommunaute/static/images/Question.png
  lacommunaute/static/stylesheets/itou_communaute.scss
  lacommunaute/templates/pages/home_with_search.html
Due: djhtml

wip
  lacommunaute/pages/views.py
  lacommunaute/static/images/search-bg-left.png
  lacommunaute/static/images/search-bg-right.png
  lacommunaute/static/stylesheets/itou_communaute.scss
  lacommunaute/templates/pages/home_with_search.html
Due: black, ruff, djhtml

fix(forum): use the article tag instead of div for the description
  lacommunaute/templates/forum/forum_detail.html
  lacommunaute/templates/forum/forum_documentation.html
Due: djhtml

fix(forum): resize img
  lacommunaute/forum/tests/tests_views.py
  lacommunaute/templates/forum/forum_detail.html
  lacommunaute/templates/forum/forum_documentation.html
Due: black, ruff, djhtml

fix(forum): balise `article` et dimension des images (#737)
  lacommunaute/forum/tests/tests_views.py
  lacommunaute/templates/forum/forum_detail.html
  lacommunaute/templates/forum/forum_documentation.html
Due: black, ruff, djhtml

fix(notification): tests
  lacommunaute/notification/factories.py
  lacommunaute/notification/tests/tests_models.py
Due: black, ruff

feat(members): remove leaderboard
  lacommunaute/forum_member/models.py
  lacommunaute/forum_member/tests/tests_models.py
  lacommunaute/forum_member/tests/tests_view.py
  lacommunaute/forum_member/urls.py
  lacommunaute/forum_member/views.py
  lacommunaute/templates/partials/footer.html
Due: black, ruff, djhtml

feat(dsp): update liinks to dsp
  lacommunaute/templates/partials/footer.html
  lacommunaute/templates/partials/header_nav_primary_items.html
  lacommunaute/templates/partials/header_nav_secondary_items.html
Due: djhtml

feat(events): add link into secondary header
  lacommunaute/templates/partials/header_nav_secondary_items.html
Due: djhtml

feat(search): ui
  lacommunaute/templates/partials/header_nav_primary_items.html
Due: djhtml

fix: remove unnecessary variables
  lacommunaute/templates/partials/header_nav_secondary_items.html
Due: djhtml

switch DSP button / search
  lacommunaute/templates/partials/header_nav_primary_items.html
Due: djhtml

feat(notification): passage des notifications en lues (#712)
  lacommunaute/forum_conversation/tests/tests_views.py
  lacommunaute/forum_conversation/tests/tests_views_htmx.py
  lacommunaute/forum_conversation/views.py
  lacommunaute/forum_conversation/views_htmx.py
  lacommunaute/notification/admin.py
  lacommunaute/notification/factories.py
  lacommunaute/notification/models.py
  lacommunaute/notification/tests/tests_models.py
Due: black, ruff

feat(forum): add certified to Forum model
  lacommunaute/forum/migrations/0016_forum_certified.py
  lacommunaute/forum/models.py
Due: black, ruff

feat(forum): update form_field template to manage boolean field
  lacommunaute/forum_conversation/tests/__snapshots__/tests_views.ambr
  lacommunaute/search/__snapshots__/tests.ambr
  lacommunaute/templates/partials/form_field.html
Due: djhtml

feat(forum): add certified to Forum form
  lacommunaute/forum/forms.py
  lacommunaute/forum/tests/test_forum_updateview.py
  lacommunaute/forum/tests/tests_forms.py
  lacommunaute/templates/forum/partials/forum_form.html
Due: black, ruff, djhtml

feat(forum): display certification in documentation forum template
  lacommunaute/forum/tests/tests_views.py
  lacommunaute/templates/forum/forum_documentation.html
Due: black, ruff, djhtml

typo
  lacommunaute/forum/tests/test_forum_updateview.py
Due: black, ruff

add certified to admin pange
  lacommunaute/forum/admin.py
Due: black, ruff

fixup! feat(forum): display certification in documentation forum template
  lacommunaute/templates/forum/forum_documentation.html
Due: djhtml

fix(upvote): supprimer un parametre ambigue
  lacommunaute/forum_conversation/tests/__snapshots__/tests_views.ambr
  lacommunaute/forum_conversation/tests/tests_views.py
  lacommunaute/forum_conversation/views.py
  lacommunaute/templates/forum_conversation/topic_create_check.html
Due: black, ruff, djhtml

fix(upvote): supprimer un parametrage ambigue (#742)
  lacommunaute/forum_conversation/tests/__snapshots__/tests_views.ambr
  lacommunaute/forum_conversation/tests/tests_views.py
  lacommunaute/forum_conversation/views.py
  lacommunaute/templates/forum_conversation/topic_create_check.html
Due: black, ruff, djhtml

Path conditions:
  black: any of: \.py$
  ruff: any of: \.py$
  djhtml: any of: \.(html|htm|xhtml)$
