Repository gip-inclusion/itou-communaute-django: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, djhtml

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/python-poetry/poetry
    rev: '1.7.0'
    hooks:
      - id: poetry-check
      - id: poetry-export
        args: ["-f", "requirements.txt", "-o", "requirements/dev.txt", "--with", "dev",]
      - id: poetry-export
        args: ["-f", "requirements.txt", "-o", "requirements/base.txt"]
  - repo: local
    hooks:
      - id: black
        name: Black
        entry: black
        types: [python]
        language: system
      - id: ruff
        name: Ruff
        entry: ruff
        types: [python]
        language: system
      - id: djhtml
        name: djhtml
        entry: djhtml
        types: [html]
        language: system

fix: ajout de l'autorisation `can_download_file` (#939)
  lacommunaute/forum_permission/migrations/0002_perms_update.py
Due: black, ruff

build: suppression du conteneur django (#938)
  README.md
  docker-compose.yml
  docker/django/Dockerfile
  docker/django/entrypoint.sh
Due: none

remove approved field since it breaks machina logic
  lacommunaute/forum_conversation/forms.py
  lacommunaute/forum_conversation/tests/__snapshots__/tests_views.ambr
  lacommunaute/forum_conversation/tests/tests_views.py
  lacommunaute/templates/forum_conversation/partials/post_form.html
  lacommunaute/templates/forum_conversation/partials/topic_form.html
Due: black, ruff, djhtml

fix: suppression de la case "approved" pour les staffs (#940)
  lacommunaute/forum_conversation/forms.py
  lacommunaute/forum_conversation/tests/__snapshots__/tests_views.ambr
  lacommunaute/forum_conversation/tests/tests_views.py
  lacommunaute/templates/forum_conversation/partials/post_form.html
  lacommunaute/templates/forum_conversation/partials/topic_form.html
Due: black, ruff, djhtml

unapprove topic by staff
  lacommunaute/forum_conversation/tests/__snapshots__/tests_views.ambr
  lacommunaute/forum_conversation/tests/tests_views.py
  lacommunaute/forum_conversation/views.py
  lacommunaute/templates/forum_conversation/partials/topic_form.html
Due: black, ruff, djhtml

unapprove post by staff
  lacommunaute/forum_conversation/tests/__snapshots__/tests_views.ambr
  lacommunaute/forum_conversation/tests/tests_views.py
  lacommunaute/forum_conversation/views.py
  lacommunaute/templates/forum_conversation/post_update.html
Due: black, ruff, djhtml

rename test buckets to prevent unconsistency with live conf
  config/settings/test.py
Due: black, ruff

deactivate default integrity protections (boto1.36+)
  config/settings/base.py
Due: black, ruff

unpin boto3 1.35-
  pyproject.toml
  uv.lock
Due: none

add test to check files can be uploaded to live cellar, and catch the time it be compliant with the new default integrity protections
  .github/workflows/ci.yml
  lacommunaute/utils/tests/tests_live_cellar.py
Due: black, ruff

chore: televersement des fichiers (#900)
  .github/workflows/ci.yml
  config/settings/base.py
  config/settings/test.py
  lacommunaute/utils/tests/tests_live_cellar.py
  pyproject.toml
  uv.lock
Due: black, ruff

feat: desapprobation de contenus (#941)
  lacommunaute/forum_conversation/tests/__snapshots__/tests_views.ambr
  lacommunaute/forum_conversation/tests/tests_views.py
  lacommunaute/forum_conversation/views.py
  lacommunaute/templates/forum_conversation/partials/topic_form.html
  lacommunaute/templates/forum_conversation/post_update.html
Due: black, ruff, djhtml

Upgrade UV
  uv.lock
Due: none

Improve import-latest-db-backups
  scripts/import-latest-db-backup.sh
Due: none

Remove semantic PR
  .github/workflows/semantic-pr.yml
Due: none

Enable dependabot to update dependencies
  .github/dependabot.yml
Due: none

Switch command order to make it work
  README.md
Due: none

Recommend using direnv locally
  .env.template
  README.md
  scripts/import-latest-db-backup.sh
Due: none

Fix tests failling locally only
  config/settings/test.py
Due: black, ruff

Add header to flat pages template
  lacommunaute/templates/flatpages/default.html
Due: djhtml

Fix mispelling
  lacommunaute/pages/tests/__snapshots__/test_homepage.ambr
  lacommunaute/templates/middleware/parking.html
  lacommunaute/templates/partials/header.html
Due: djhtml

Recommend using direnv locally
  .env.template
  README.md
Due: none

Test
  Makefile
Due: none

Admin: add ForumProfile fields in the list view
  lacommunaute/forum_member/admin.py
Due: black, ruff

Tests: add an admin client to auto-connect when needed
  lacommunaute/conftest.py
Due: black, ruff

ForumProfileAdmin: test admin filtering
  lacommunaute/forum_member/tests/test_admin.py
Due: black, ruff
