Repository gip-inclusion/itou-communaute-django: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, djhtml

black:
  name: Black
  entry: black
  language: system

ruff:
  name: Ruff
  entry: ruff
  language: system

djhtml:
  name: djhtml
  entry: djhtml
  language: system

feat(documentation): basculer la bannière en header avec une hauteur fixe
  lacommunaute/static/stylesheets/itou_communaute.scss
  lacommunaute/templates/forum/forum_list.html
Due: djhtml

feat(documentation): ne plus utiliser l'include inutile
  lacommunaute/templates/forum/forum_detail.html
  lacommunaute/templates/forum/partials/forum_banner.html
Due: djhtml

fix(documentation): améliorer l'affichage des bannières des fiches pratiques (#653)
  lacommunaute/static/stylesheets/itou_communaute.scss
  lacommunaute/templates/forum/forum_detail.html
  lacommunaute/templates/forum/forum_list.html
  lacommunaute/templates/forum/partials/forum_banner.html
Due: djhtml

feat(forum): afficher le chemin de fer dans l'espace d'échanges et la documentation
  lacommunaute/forum/models.py
  lacommunaute/forum/tests/tests_model.py
Due: black, ruff

get better CategoryForumFactory
  lacommunaute/forum/factories.py
Due: black, ruff

reuse is_in_documentation_area forum property in forum_list template
  lacommunaute/templates/forum/forum_list.html
Due: djhtml

reuse is_in_documentation_area forum property to simplify ForumView get_context_data method
  lacommunaute/forum/tests/tests_views.py
  lacommunaute/forum/views.py
Due: black, ruff

setup breadcrumb template, add breadcrumb block to base template
  lacommunaute/search/__snapshots__/tests.ambr
  lacommunaute/surveys/tests/__snapshots__/test_views.ambr
  lacommunaute/templates/layouts/base.html
  lacommunaute/templates/partials/breadcrumb.html
  locale/fr/LC_MESSAGES/django.mo
  locale/fr/LC_MESSAGES/django.po
Due: djhtml

add breadcrumb to ForumView
  lacommunaute/forum/tests/__snapshots__/tests_views.ambr
  lacommunaute/forum/tests/tests_views.py
  lacommunaute/templates/forum/forum_detail.html
Due: black, ruff, djhtml

fix empty dropdown
  lacommunaute/templates/forum/forum_detail.html
Due: djhtml

add breadcrumb to TopicView
  lacommunaute/forum_conversation/tests/__snapshots__/tests_views.ambr
  lacommunaute/forum_conversation/tests/tests_views.py
  lacommunaute/templates/forum_conversation/topic_detail.html
Due: black, ruff, djhtml

quality
  lacommunaute/static/stylesheets/itou_communaute.scss
Due: none

feat: ajout du chemin de fer dans l'espace d'échanges et la documentation (#649)
  lacommunaute/forum/factories.py
  lacommunaute/forum/models.py
  lacommunaute/forum/tests/__snapshots__/tests_views.ambr
  lacommunaute/forum/tests/tests_model.py
  lacommunaute/forum/tests/tests_views.py
  lacommunaute/forum/views.py
  lacommunaute/forum_conversation/tests/__snapshots__/tests_views.ambr
  lacommunaute/forum_conversation/tests/tests_views.py
  lacommunaute/search/__snapshots__/tests.ambr
  lacommunaute/static/stylesheets/itou_communaute.scss
  lacommunaute/surveys/tests/__snapshots__/test_views.ambr
  lacommunaute/templates/forum/forum_detail.html
  lacommunaute/templates/forum/forum_list.html
  lacommunaute/templates/forum_conversation/topic_detail.html
  lacommunaute/templates/layouts/base.html
  lacommunaute/templates/partials/breadcrumb.html
  locale/fr/LC_MESSAGES/django.mo
  locale/fr/LC_MESSAGES/django.po
Due: black, ruff, djhtml

refactor(stats): déplacer la vue StatistiquesPageView dans l'application forum_stats
  config/urls.py
  lacommunaute/forum/tests/test_categoryforum_listview.py
  lacommunaute/forum_stats/tests/__init__.py
  lacommunaute/forum_stats/tests/tests_models.py
  lacommunaute/forum_stats/tests/tests_views.py
  lacommunaute/forum_stats/urls.py
  lacommunaute/forum_stats/views.py
  lacommunaute/pages/tests/tests.py
  lacommunaute/pages/urls.py
  lacommunaute/pages/views.py
  lacommunaute/templates/forum_stats/statistiques.html
  lacommunaute/templates/partials/footer.html
Due: black, ruff, djhtml

refactor(stats): déplacer la vue StatistiquesPageView (#654)
  config/urls.py
  lacommunaute/forum/tests/test_categoryforum_listview.py
  lacommunaute/forum_stats/tests/__init__.py
  lacommunaute/forum_stats/tests/tests_models.py
  lacommunaute/forum_stats/tests/tests_views.py
  lacommunaute/forum_stats/urls.py
  lacommunaute/forum_stats/views.py
  lacommunaute/pages/tests/tests.py
  lacommunaute/pages/urls.py
  lacommunaute/pages/views.py
  lacommunaute/templates/forum_stats/statistiques.html
  lacommunaute/templates/partials/footer.html
Due: black, ruff, djhtml

feat(admin): ajoute PostInline à TopicAdmin
  lacommunaute/forum_conversation/admin.py
Due: black, ruff

feat(admin): ajoute PostInline à TopicAdmin (#657)
  lacommunaute/forum_conversation/admin.py
Due: black, ruff

feat(stats): add navigation to monthly_visitors_views and back
  lacommunaute/forum_stats/tests/tests_views.py
  lacommunaute/templates/forum_stats/monthly_visitors.html
  lacommunaute/templates/forum_stats/statistiques.html
Due: black, ruff, djhtml

feat(stats): add MonthlyVisitorsView
  lacommunaute/forum_stats/tests/tests_views.py
  lacommunaute/forum_stats/urls.py
  lacommunaute/forum_stats/views.py
  lacommunaute/templates/forum_stats/monthly_visitors.html
Due: black, ruff, djhtml

fix url
  lacommunaute/forum_stats/tests/tests_views.py
  lacommunaute/forum_stats/urls.py
Due: black, ruff

feat(stats): ajout de la vue historique des visiteurs mensuels (#656)
  lacommunaute/forum_stats/tests/tests_views.py
  lacommunaute/forum_stats/urls.py
  lacommunaute/forum_stats/views.py
  lacommunaute/templates/forum_stats/monthly_visitors.html
  lacommunaute/templates/forum_stats/statistiques.html
Due: black, ruff, djhtml

feat(stats): compute daily new DSP
  lacommunaute/surveys/factories.py
  lacommunaute/surveys/stats.py
  lacommunaute/surveys/tests/test_stats.py
Due: black, ruff

feat(stats): add management command to collect daily django stats
  lacommunaute/forum_stats/factories.py
  lacommunaute/forum_stats/management/commands/collect_django_stats.py
  lacommunaute/forum_stats/tests/tests_management_commands.py
Due: black, ruff

feat(stats): cronify daily django stats collection
  clevercloud/collect_daily_django_stats.sh
  clevercloud/cron.json
Due: none

feat(stats): collecter le nombre de diag parcours iae réalisés quotidiennement (#658)
  clevercloud/collect_daily_django_stats.sh
  clevercloud/cron.json
  lacommunaute/forum_stats/factories.py
  lacommunaute/forum_stats/management/commands/collect_django_stats.py
  lacommunaute/forum_stats/tests/tests_management_commands.py
  lacommunaute/surveys/factories.py
  lacommunaute/surveys/stats.py
  lacommunaute/surveys/tests/test_stats.py
Due: black, ruff

fix(stats): rename MonthlyVisitorsView
  lacommunaute/forum_stats/urls.py
  lacommunaute/forum_stats/views.py
Due: black, ruff

fix(stats): more resilient tests
  lacommunaute/forum_stats/tests/tests_views.py
Due: black, ruff

fix(stats): corrections mineures (#661)
  lacommunaute/forum_stats/tests/tests_views.py
  lacommunaute/forum_stats/urls.py
  lacommunaute/forum_stats/views.py
Due: black, ruff

feat(stats): display DSP count in statistique page
  lacommunaute/forum_stats/tests/__snapshots__/tests_views.ambr
  lacommunaute/forum_stats/tests/tests_views.py
  lacommunaute/forum_stats/views.py
  lacommunaute/templates/forum_stats/statistiques.html
Due: black, ruff, djhtml

refactor(stats): stats detailled view mutualization
  lacommunaute/forum_stats/tests/tests_views.py
  lacommunaute/forum_stats/views.py
  lacommunaute/templates/forum_stats/base_detail_stats.html
  lacommunaute/templates/forum_stats/monthly_visitors.html
Due: black, ruff, djhtml

feat(stats): add DailyDSPView
  lacommunaute/forum_stats/tests/tests_views.py
  lacommunaute/forum_stats/urls.py
  lacommunaute/forum_stats/views.py
  lacommunaute/templates/forum_stats/daily_dsp.html
Due: black, ruff, djhtml

feat(forum_conversation): ajout filtre type à TopicAdmin
  lacommunaute/forum_conversation/admin.py
Due: black, ruff

update(Topic): remettre les annonces dans la liste des messages par défaut
  lacommunaute/forum/tests/tests_views.py
  lacommunaute/forum/views.py
  lacommunaute/forum_conversation/models.py
  lacommunaute/forum_conversation/tests/tests_models.py
  lacommunaute/templates/forum/forum_detail.html
Due: black, ruff, djhtml

feat(forum_conversation): remettre les annonces dans la liste des messages par défaut (#662)
  lacommunaute/forum/tests/tests_views.py
  lacommunaute/forum/views.py
  lacommunaute/forum_conversation/admin.py
  lacommunaute/forum_conversation/models.py
  lacommunaute/forum_conversation/tests/tests_models.py
  lacommunaute/templates/forum/forum_detail.html
Due: black, ruff, djhtml

fix: little ux adjustements
  lacommunaute/templates/forum_stats/base_detail_stats.html
  lacommunaute/templates/forum_stats/statistiques.html
Due: djhtml

quality
  lacommunaute/templates/forum_stats/base_detail_stats.html
Due: djhtml

fix tests
  lacommunaute/forum_stats/tests/__snapshots__/tests_views.ambr
  lacommunaute/forum_stats/tests/tests_views.py
Due: black, ruff

feat(stats): afficher les stats quotidiennes des Diagnostics Parcours IAE (#660)
  lacommunaute/forum_stats/tests/__snapshots__/tests_views.ambr
  lacommunaute/forum_stats/tests/tests_views.py
  lacommunaute/forum_stats/urls.py
  lacommunaute/forum_stats/views.py
  lacommunaute/templates/forum_stats/base_detail_stats.html
  lacommunaute/templates/forum_stats/daily_dsp.html
  lacommunaute/templates/forum_stats/monthly_visitors.html
  lacommunaute/templates/forum_stats/statistiques.html
Due: black, ruff, djhtml

fix import
  lacommunaute/surveys/tests/test_views.py
Due: black, ruff

refactor utils tests
  lacommunaute/utils/tests/__init__.py
  lacommunaute/utils/tests/tests_utils.py
Due: black, ruff

Path conditions:
  black: any of: \.py$
  ruff: any of: \.py$
  djhtml: any of: \.(html|htm|xhtml)$
