Repository gip-inclusion/itou-communaute-django: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, djhtml

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/python-poetry/poetry
    rev: '1.7.0'
    hooks:
      - id: poetry-check
      - id: poetry-export
        args: ["-f", "requirements.txt", "-o", "requirements/dev.txt", "--with", "dev",]
      - id: poetry-export
        args: ["-f", "requirements.txt", "-o", "requirements/base.txt"]
  - repo: local
    hooks:
      - id: black
        name: Black
        entry: black
        types: [python]
        language: system
      - id: ruff
        name: Ruff
        entry: ruff
        types: [python]
        language: system
      - id: djhtml
        name: djhtml
        entry: djhtml
        types: [html]
        language: system

feat(utils/testing): reset_model_sequence_fixture utility
  lacommunaute/utils/testing.py
Due: black, ruff

feat(forum): remplace forum_list templatetag
  lacommunaute/forum/tests/tests_views.py
  lacommunaute/forum/views.py
  lacommunaute/templates/forum/forum_detail.html
  lacommunaute/templates/forum/forum_documentation_category.html
  lacommunaute/templates/forum/forum_list.html
  lacommunaute/templates/forum/index.html
Due: black, ruff, djhtml

refactor(utils/testing.py): protéctions contre l'injection du SQL
  lacommunaute/utils/testing.py
Due: black, ruff

refactor(forum/tests): changement du nom de la test classe
  lacommunaute/forum/tests/__snapshots__/tests_views.ambr
  lacommunaute/forum/tests/tests_views.py
Due: black, ruff

fix(tests_views.py): nombre des queries augmenté
  lacommunaute/forum/tests/tests_views.py
Due: black, ruff

Revert "feat(utils/testing): ContextlessTemplate"
  lacommunaute/utils/testing.py
  lacommunaute/utils/tests/tests_utils.py
Due: black, ruff

fix(forum_documentation.html): supprime formulaire tally
  lacommunaute/templates/forum/forum_documentation.html
Due: djhtml

refactor(forum/tests): remplace méthode setUp avec une fixture pytest
  lacommunaute/forum/tests/tests_views.py
Due: black, ruff

refactor(forum/tests): utilisation d'un fonction en place du regex pour le contenu texte
  lacommunaute/forum/tests/tests_views.py
Due: black, ruff

refactor(utils/testing.py): enlève restauration de sequence superflu
  lacommunaute/utils/testing.py
Due: black, ruff

feat(utils/testing.py): ajout de paramètre sur parse_response_to_soup pour les src des images
  lacommunaute/utils/testing.py
Due: black, ruff

chore(forum templates): ajout des ids utiles dans les tests
  lacommunaute/templates/forum/forum_detail.html
  lacommunaute/templates/forum/forum_documentation_category.html
Due: djhtml

fix(test_documentation_forum_header_content): test sur le nom de l'image et non l'URL entier
  lacommunaute/forum/tests/tests_views.py
Due: black, ruff

refactor(forum/tests): remplace fonction get_forum_url avec celui du modèle
  lacommunaute/forum/tests/tests_views.py
Due: black, ruff

refactor(ForumView): test plus efficace pour trouver une catégorie de documentation
  lacommunaute/forum/tests/tests_views.py
  lacommunaute/forum/views.py
Due: black, ruff

feat(forum/tests): snapshots pour forum_documentation
  lacommunaute/forum/factories.py
  lacommunaute/forum/tests/__snapshots__/tests_views.ambr
  lacommunaute/forum/tests/tests_views.py
Due: black, ruff

refactor(utils/testing.py): reset_model_sequence_fixture accepte un nombre arbitraire des classes
  lacommunaute/utils/testing.py
Due: black, ruff

feat(forum/tests): ajout des tests snapshots pour ForumDetail et ForumDocumentationCategory
  lacommunaute/forum/factories.py
  lacommunaute/forum/tests/__snapshots__/tests_views.ambr
  lacommunaute/forum/tests/tests_views.py
Due: black, ruff

fix(cron.json): erreur copier-coller sur send_notifications_daily.sh
  clevercloud/cron.json
Due: none

fix(clevercloud): scriptes shells executables
  clevercloud/send_notifications_daily.sh
  clevercloud/send_notifications_regular.sh
Due: none

fix(notification): argument de la commande
  lacommunaute/notification/management/commands/send_messages_notifications.py
Due: black, ruff

fix(cron.json): erreur copier-coller sur send_notifications_daily.sh (#705)
  clevercloud/cron.json
  clevercloud/send_notifications_daily.sh
  clevercloud/send_notifications_regular.sh
  lacommunaute/notification/management/commands/send_messages_notifications.py
Due: black, ruff

refactor(forum): gabarit séparé pour les forums de documentation (#680)
  lacommunaute/forum/factories.py
  lacommunaute/forum/tests/__snapshots__/tests_views.ambr
  lacommunaute/forum/tests/tests_views.py
  lacommunaute/forum/views.py
  lacommunaute/templates/forum/forum_detail.html
  lacommunaute/templates/forum/forum_documentation.html
  lacommunaute/templates/forum/forum_documentation_category.html
  lacommunaute/templates/forum/forum_list.html
  lacommunaute/templates/forum/index.html
  lacommunaute/utils/testing.py
Due: black, ruff, djhtml

fix(notification): mis à jour le champ sent_at
  lacommunaute/notification/tasks.py
  lacommunaute/notification/tests/tests_tasks.py
Due: black, ruff

fix(notification): mettre à jour le champ sent_at et tester
  lacommunaute/notification/tasks.py
  lacommunaute/notification/tests/tests_tasks.py
Due: black, ruff

fix(notification): mettre à jour le sent_at pour éviter les notifications duplicates (#707)
  lacommunaute/notification/tasks.py
  lacommunaute/notification/tests/tests_tasks.py
Due: black, ruff

feat(notification): ajout des champs au site admin
  lacommunaute/notification/admin.py
Due: black, ruff

feat(forum): endof forumrating AB test
  lacommunaute/templates/forum/forum_detail.html
  lacommunaute/templates/forum/forum_documentation.html
Due: djhtml

feat(forum): fin de l'AB test sur la notation des forums (#708)
  lacommunaute/templates/forum/forum_detail.html
  lacommunaute/templates/forum/forum_documentation.html
Due: djhtml

factory boy deprecation warning
  lacommunaute/forum/factories.py
  lacommunaute/surveys/factories.py
  lacommunaute/users/factories.py
Due: black, ruff

chore: suppression des deprecation warning sur factory_boy (#710)
  lacommunaute/forum/factories.py
  lacommunaute/surveys/factories.py
  lacommunaute/users/factories.py
Due: black, ruff

feat(notification): passer les notifications en lues qd un utilisateur répond
  lacommunaute/forum_conversation/tests/tests_views.py
  lacommunaute/forum_conversation/tests/tests_views_htmx.py
  lacommunaute/forum_conversation/views.py
  lacommunaute/forum_conversation/views_htmx.py
  lacommunaute/notification/models.py
  lacommunaute/notification/tests/tests_models.py
Due: black, ruff

wip
  lacommunaute/forum/models.py
  lacommunaute/forum/tests/tests_model.py
Due: black, ruff

update dependencies
  poetry.lock
  requirements/base.txt
  requirements/dev.txt
Due: none

chore: update dependencies (#719)
  poetry.lock
  requirements/base.txt
  requirements/dev.txt
Due: none

feat(seo): mise à jour de l'image OpenGraph
  lacommunaute/static/images/logo-meta-communaute.png
  lacommunaute/static/images/logo-og-communaute.png
  lacommunaute/static/images/test.svg
  lacommunaute/templates/layouts/base.html
Due: djhtml

chore: bump to sentry-sdk 2.11
  poetry.lock
  pyproject.toml
  requirements/base.txt
  requirements/dev.txt
Due: none

feat(seo): mise à jour de l'image OpenGraph (#720)
  lacommunaute/static/images/logo-meta-communaute.png
  lacommunaute/static/images/logo-og-communaute.png
  lacommunaute/static/images/test.svg
  lacommunaute/templates/layouts/base.html
Due: djhtml

chore: bump to sentry-sdk from 1.45 to 2.11 (#721)
  poetry.lock
  pyproject.toml
  requirements/base.txt
  requirements/dev.txt
Due: none

chore: update js sentry cdn
  lacommunaute/templates/layouts/base.html
Due: djhtml
