Repository gip-inclusion/itou-communaute-django: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, djhtml

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/python-poetry/poetry
    rev: '1.7.0'
    hooks:
      - id: poetry-check
      - id: poetry-export
        args: ["-f", "requirements.txt", "-o", "requirements/dev.txt", "--with", "dev",]
      - id: poetry-export
        args: ["-f", "requirements.txt", "-o", "requirements/base.txt"]
  - repo: local
    hooks:
      - id: black
        name: Black
        entry: black
        types: [python]
        language: system
      - id: ruff
        name: Ruff
        entry: ruff
        types: [python]
        language: system
      - id: djhtml
        name: djhtml
        entry: djhtml
        types: [html]
        language: system

feat(forum_conversation): FilteredTopicsListViewMixin
  lacommunaute/forum_conversation/view_mixins.py
Due: black, ruff

feat(forum/tests_views): ajout de test sur la contexte pour un GET de tag qui n'existe pas
  lacommunaute/forum/tests/tests_views.py
Due: black, ruff

refactor(forum_conversation/view_mixins.py): enlève get_filter
  lacommunaute/forum_conversation/view_mixins.py
Due: black, ruff

refactor(forum): enlève le clé total de la contexte
  lacommunaute/forum/tests/tests_views.py
  lacommunaute/forum/views.py
  lacommunaute/forum_conversation/tests/tests_views.py
  lacommunaute/forum_conversation/view_mixins.py
  lacommunaute/forum_conversation/views.py
  lacommunaute/templates/forum_conversation/partials/topic_filter.html
Due: black, ruff, djhtml

refactor(forum_detail.html): enlève l'onglet sujet de la page forum
  lacommunaute/templates/forum/forum_detail.html
Due: djhtml

refactor(forum_conversation/view_mixins.py): enlève get_url_encoded_params
  lacommunaute/forum_conversation/view_mixins.py
Due: black, ruff

feat(forum): harmoniser la liste des topics (#665)
  lacommunaute/forum/tests/tests_views.py
  lacommunaute/forum/views.py
  lacommunaute/forum_conversation/tests/tests_views.py
  lacommunaute/forum_conversation/tests/tests_views_htmx.py
  lacommunaute/forum_conversation/urls.py
  lacommunaute/forum_conversation/view_mixins.py
  lacommunaute/forum_conversation/views.py
  lacommunaute/forum_conversation/views_htmx.py
  lacommunaute/templates/forum/forum_detail.html
  lacommunaute/templates/forum_conversation/partials/topic_filter.html
Due: black, ruff, djhtml

feat(forum): highlight toolbox
  config/settings/base.py
  lacommunaute/templates/partials/header_nav_secondary_items.html
  lacommunaute/utils/settings_context_processors.py
  lacommunaute/utils/tests/tests_utils.py
  locale/fr/LC_MESSAGES/django.mo
  locale/fr/LC_MESSAGES/django.po
Due: black, ruff, djhtml

feat(forum): manage unexistant forum id
  lacommunaute/utils/settings_context_processors.py
  lacommunaute/utils/tests/tests_utils.py
Due: black, ruff

fix(forum_moderation): supprimer la migration block_reason
  lacommunaute/forum_moderation/migrations/0004_auto_20240612_1331.py
Due: black, ruff

refactor(forum_moderation): simplification de BlockedPost.create_from_post
  lacommunaute/forum_conversation/forms.py
  lacommunaute/forum_moderation/enums.py
  lacommunaute/forum_moderation/models.py
  lacommunaute/forum_moderation/tests/tests_models.py
Due: black, ruff

fix(forms.py): enlève prints debugs
  lacommunaute/forum_conversation/forms.py
Due: black, ruff

feat(forum): add ForumRatingModel
  lacommunaute/forum/admin.py
  lacommunaute/forum/migrations/0014_forumrating.py
  lacommunaute/forum/models.py
Due: black, ruff

fix(forum_moderation): motif de blocage illisible dans l'admin (#672)
  lacommunaute/forum_conversation/forms.py
  lacommunaute/forum_conversation/tests/tests_views_htmx.py
  lacommunaute/forum_moderation/enums.py
  lacommunaute/forum_moderation/models.py
  lacommunaute/forum_moderation/tests/test_post_disapprove_view.py
  lacommunaute/forum_moderation/views.py
Due: black, ruff

feat(forum): add HTMX ForumRatingView
  lacommunaute/forum/tests/test_forum_rating_view.py
  lacommunaute/forum/urls.py
  lacommunaute/forum/views.py
  lacommunaute/templates/forum/partials/rating.html
Due: black, ruff, djhtml

feat(forum): add ForumRatingFactory
  lacommunaute/forum/factories.py
Due: black, ruff

feat(forum): add get_session_rating method on Forum model
  lacommunaute/forum/models.py
  lacommunaute/forum/tests/tests_model.py
Due: black, ruff

fixup! feat(forum): add HTMX ForumRatingView
  lacommunaute/templates/forum/partials/rating.html
Due: djhtml

feat(utils): update parse_response_to_soup to make it compliant with htmx forms
  lacommunaute/utils/testing.py
  lacommunaute/utils/tests/tests_utils.py
Due: black, ruff

feat(forum): add forum rating form in forum_detail template, manage case when rating already exists
  lacommunaute/forum/tests/__snapshots__/tests_views.ambr
  lacommunaute/forum/tests/tests_views.py
  lacommunaute/forum/views.py
  lacommunaute/templates/forum/forum_detail.html
Due: black, ruff, djhtml

feat(forum): update numquery tests
  lacommunaute/forum/tests/tests_views.py
Due: black, ruff

feat(forum): add snapshot tests on ForumRatingViewe
  lacommunaute/forum/tests/__snapshots__/test_forum_rating_view.ambr
  lacommunaute/forum/tests/test_forum_rating_view.py
Due: black, ruff

fixup! feat(forum): add ForumRatingModel
  lacommunaute/forum/migrations/0015_alter_forumrating_options.py
Due: black, ruff

feat(forum): a bit of UI on ratings
  lacommunaute/forum/tests/__snapshots__/test_forum_rating_view.ambr
  lacommunaute/forum/tests/__snapshots__/tests_views.ambr
  lacommunaute/static/stylesheets/itou_communaute.scss
  lacommunaute/templates/forum/forum_detail.html
  lacommunaute/templates/forum/partials/rating.html
Due: djhtml

chore(docker): avoid partial restart after import db backup
  scripts/import-latest-db-backup.sh
Due: none

update .env.template
  .env.template
Due: none

feat: update stars rating UI
  lacommunaute/templates/forum/forum_detail.html
  lacommunaute/templates/forum/partials/rating.html
Due: djhtml

forum: make templates compliant with ABTesting
  lacommunaute/forum/tests/tests_views.py
  lacommunaute/static/stylesheets/itou_communaute.scss
  lacommunaute/templates/forum/forum_detail.html
  lacommunaute/templates/forum/partials/rating.html
Due: black, ruff, djhtml

forum: update ratings titles
  lacommunaute/forum/tests/__snapshots__/test_forum_rating_view.ambr
  lacommunaute/forum/tests/__snapshots__/tests_views.ambr
  lacommunaute/templates/forum/partials/rating.html
Due: djhtml

forum: remove unusefull internationalization
  lacommunaute/templates/forum/partials/rating.html
Due: djhtml

feat(forum_stats): modèles pour le stockage des recherches
  lacommunaute/forum_stats/migrations/0002_searchcollectionperiod_usersearch.py
  lacommunaute/forum_stats/models.py
  lacommunaute/forum_stats/tests/tests_search_collection.py
  locale/fr/LC_MESSAGES/django.mo
  locale/fr/LC_MESSAGES/django.po
Due: black, ruff

reorder hr
  lacommunaute/templates/forum/forum_detail.html
  lacommunaute/templates/forum/partials/rating.html
Due: djhtml

feat(forum): collecter les notations des fiches pratiques (#677)
  lacommunaute/forum/admin.py
  lacommunaute/forum/factories.py
  lacommunaute/forum/migrations/0014_forumrating.py
  lacommunaute/forum/migrations/0015_alter_forumrating_options.py
  lacommunaute/forum/models.py
  lacommunaute/forum/tests/__snapshots__/test_forum_rating_view.ambr
  lacommunaute/forum/tests/__snapshots__/tests_views.ambr
  lacommunaute/forum/tests/test_forum_rating_view.py
  lacommunaute/forum/tests/tests_model.py
  lacommunaute/forum/tests/tests_views.py
  lacommunaute/forum/urls.py
  lacommunaute/forum/views.py
  lacommunaute/static/stylesheets/itou_communaute.scss
  lacommunaute/templates/forum/forum_detail.html
  lacommunaute/templates/forum/partials/rating.html
  lacommunaute/utils/testing.py
  lacommunaute/utils/tests/tests_utils.py
Due: black, ruff, djhtml

feat(forum_stats): ajout des recherches au site admin
  lacommunaute/forum_stats/admin.py
Due: black, ruff

feat(forum_stats): SearchQueryFactory
  config/settings/base.py
  lacommunaute/forum_stats/factories.py
Due: black, ruff

fix(stats): get last date for matomo named stats
  lacommunaute/forum_stats/management/commands/collect_matomo_stats.py
  lacommunaute/forum_stats/tests/tests_management_commands.py
Due: black, ruff

chore(docker): Meilleur redemarrage des conteneurs docker en fin d'import de base de données (#678)
  scripts/import-latest-db-backup.sh
Due: none

fix(stats): derniere date collectée des stats matomo (#684)
  lacommunaute/forum_stats/management/commands/collect_matomo_stats.py
  lacommunaute/forum_stats/tests/tests_management_commands.py
Due: black, ruff
