Repository gip-inclusion/itou-communaute-django: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, djhtml

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/python-poetry/poetry
    rev: '1.7.0'
    hooks:
      - id: poetry-check
      - id: poetry-export
        args: ["-f", "requirements.txt", "-o", "requirements/dev.txt", "--with", "dev",]
      - id: poetry-export
        args: ["-f", "requirements.txt", "-o", "requirements/base.txt"]
  - repo: local
    hooks:
      - id: black
        name: Black
        entry: black
        types: [python]
        language: system
      - id: ruff
        name: Ruff
        entry: ruff
        types: [python]
        language: system
      - id: djhtml
        name: djhtml
        entry: djhtml
        types: [html]
        language: system

apply djhtml indentation
  lacommunaute/templates/forum_conversation/forum_polls/poll_preview.html
  lacommunaute/templates/forum_conversation/partials/poster.html
  lacommunaute/templates/layouts/base.html
  lacommunaute/templates/pages/contact.html
Due: djhtml

rollback to djhtml, since djlint do not manage tags in scripts
  .pre-commit-config.yaml
  Makefile
  poetry.lock
  pyproject.toml
  requirements/base.txt
  requirements/dev.txt
Due: none

fix date on homepage. use updated instead of created for forums
  lacommunaute/templates/forum_conversation/partials/poster_light.html
  lacommunaute/templates/pages/home.html
Due: djhtml

Prefer assertContains over assert … in …
  lacommunaute/forum_search/tests/test_search_indexes.py
Due: black, ruff

Bind to localhost instead of listening on the whole network
  docker-compose.yml
Due: none

Fix typo Filter → Filtrer
  lacommunaute/templates/forum_conversation/partials/topic_filter.html
Due: djhtml

Fix flaky test_showmoretopics_url_with_params
  lacommunaute/forum_conversation/tests/tests_views.py
Due: black, ruff

Allow filtering topics by uppercase tags
  lacommunaute/forum_conversation/tests/tests_views.py
  lacommunaute/forum_conversation/views.py
Due: black, ruff

Fix flaky tests in test_search_indexes
  lacommunaute/forum_search/tests/test_search_indexes.py
Due: black, ruff

feat: update theme to v1.1.7 & update burger button a11y
  lacommunaute/static/vendor/theme-inclusion/files/animation-1701341946475.json
  lacommunaute/static/vendor/theme-inclusion/fonts/coveredbyyourgrace/coveredbyyourgrace.woff
  lacommunaute/static/vendor/theme-inclusion/fonts/coveredbyyourgrace/coveredbyyourgrace.woff2
  lacommunaute/static/vendor/theme-inclusion/fonts/remixicon/remixicon.eot
  lacommunaute/static/vendor/theme-inclusion/fonts/remixicon/remixicon.glyph.json
  lacommunaute/static/vendor/theme-inclusion/fonts/remixicon/remixicon.scss
  lacommunaute/static/vendor/theme-inclusion/fonts/remixicon/remixicon.svg
  lacommunaute/static/vendor/theme-inclusion/fonts/remixicon/remixicon.symbol.svg
  lacommunaute/static/vendor/theme-inclusion/fonts/remixicon/remixicon.ttf
  lacommunaute/static/vendor/theme-inclusion/fonts/remixicon/remixicon.woff
  lacommunaute/static/vendor/theme-inclusion/fonts/remixicon/remixicon.woff2
  lacommunaute/static/vendor/theme-inclusion/images/logo-partner-diagoriente.svg
  lacommunaute/static/vendor/theme-inclusion/javascripts/app.js
  lacommunaute/static/vendor/theme-inclusion/stylesheets/app.css
  lacommunaute/templates/partials/header.html
Due: djhtml

Revert "rollback to djhtml, since djlint do not manage tags in scripts"
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  Makefile
  lacommunaute/templates/forum_conversation/forum_polls/poll_preview.html
  lacommunaute/templates/forum_conversation/partials/poster.html
  lacommunaute/templates/layouts/base.html
  lacommunaute/templates/pages/contact.html
  lacommunaute/templates/pages/statistiques.html
  poetry.lock
  pyproject.toml
  requirements/base.txt
  requirements/dev.txt
Due: djhtml

adjust popup delay
  lacommunaute/templates/pages/home.html
Due: djhtml

(homepage) isolate promotion banner in template
  lacommunaute/templates/pages/home.html
  lacommunaute/templates/partials/promotion_banner.html
Due: djhtml

(homepage) switch to inclusion-demain promotion banner
  lacommunaute/templates/partials/promotion_banner.html
Due: djhtml

Remove USE_L10N=True
  config/settings/base.py
Due: black, ruff

(homepage) documentation btn AB test
  lacommunaute/templates/pages/home.html
  lacommunaute/templates/partials/ask_a_question.html
Due: djhtml

(homepage) add nonce to matomo AB test javascript
  lacommunaute/templates/pages/home.html
Due: djhtml

Simplify PostgreSQL setup with docker
  .env.template
  Makefile
  config/settings/dev.py
  docker-compose.yml
  docker/django/entrypoint.sh
  docker/postgres/psql_init.sh
  scripts/import-latest-db-backup.sh
Due: black, ruff

(homepage) documentation btn AB test #2, wo redirection
  lacommunaute/templates/pages/home.html
  lacommunaute/templates/partials/ask_a_question.html
Due: djhtml

(homepage) temporary - replace calender link with event link in header
  lacommunaute/templates/partials/header_nav_secondary_items.html
Due: djhtml

Add new wheels to poetry lock
  poetry.lock
Due: none
