Repository gip-inclusion/itou-communaute-django: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, djhtml

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/python-poetry/poetry
    rev: '1.7.0'
    hooks:
      - id: poetry-check
      - id: poetry-export
        args: ["-f", "requirements.txt", "-o", "requirements/dev.txt", "--with", "dev",]
      - id: poetry-export
        args: ["-f", "requirements.txt", "-o", "requirements/base.txt"]
  - repo: local
    hooks:
      - id: black
        name: Black
        entry: black
        types: [python]
        language: system
      - id: ruff
        name: Ruff
        entry: ruff
        types: [python]
        language: system
      - id: djhtml
        name: djhtml
        entry: djhtml
        types: [html]
        language: system

(moderation) fix moderation queued post template
  lacommunaute/forum_moderation/tests/test_moderation_queue_detail_view.py
  lacommunaute/templates/forum_moderation/moderation_queue/detail.html
Due: black, ruff, djhtml

(moderation) add email of disapproved post's poster to bouncedemail list
  lacommunaute/forum_moderation/tests/test_post_disapprove_view.py
  lacommunaute/forum_moderation/urls.py
  lacommunaute/forum_moderation/views.py
Due: black, ruff

reorder banners templates
  lacommunaute/templates/forum/category_forum_list.html
  lacommunaute/templates/forum_conversation/topic_create.html
  lacommunaute/templates/pages/home.html
  lacommunaute/templates/partials/banners/anonymous_users.html
  lacommunaute/templates/partials/banners/emplois_helpdesk.html
  lacommunaute/templates/partials/banners/twins_promotion.html
Due: djhtml

add call_for_contributers banner in documentation page
  lacommunaute/templates/forum/category_forum_list.html
  lacommunaute/templates/forum_conversation/topic_create.html
  lacommunaute/templates/partials/banners/call_for_contributers.html
Due: djhtml

add call_for_contributers banner in category forum pages
  lacommunaute/templates/forum/forum_detail.html
Due: djhtml

topic_list : display link to public forum as badge when topic doesn't come from current context forum
  lacommunaute/templates/forum_conversation/topic_list.html
Due: djhtml

(contact) remove unused page
  lacommunaute/pages/urls.py
  lacommunaute/pages/views.py
  lacommunaute/templates/pages/contact.html
Due: black, ruff, djhtml

optionnal highlighted forum on home page (low cost implementation)
  config/settings/base.py
  lacommunaute/pages/tests/test_homepage.py
  lacommunaute/pages/views.py
  lacommunaute/templates/pages/home.html
Due: black, ruff, djhtml

prevent errors from erreneous forum pk setting
  lacommunaute/pages/tests/test_homepage.py
  lacommunaute/pages/views.py
Due: black, ruff

Fix <title> on the site
  config/settings/base.py
  lacommunaute/pages/tests/test_homepage.py
Due: black, ruff

update dependencies
  poetry.lock
  requirements/base.txt
  requirements/dev.txt
Due: none

Rename Diagnostic socio-professionnel to Diagnostic parcours IAE
  lacommunaute/surveys/migrations/0001_initial.py
  lacommunaute/surveys/models.py
  lacommunaute/templates/partials/header_nav_secondary_items.html
  lacommunaute/templates/surveys/dsp_detail.html
  lacommunaute/templates/surveys/dsp_form.html
Due: black, ruff, djhtml

Add a basic recommendation engine
  lacommunaute/surveys/admin.py
  lacommunaute/surveys/apps.py
  lacommunaute/surveys/enums.py
  lacommunaute/surveys/factories.py
  lacommunaute/surveys/forms.py
  lacommunaute/surveys/migrations/0001_initial.py
  lacommunaute/surveys/migrations/0002_recommendation_alter_dsp_availability_and_more.py
  lacommunaute/surveys/models.py
  lacommunaute/surveys/recommendations.py
  lacommunaute/surveys/recommendations.toml
  lacommunaute/surveys/tests/test_views.py
  lacommunaute/surveys/views.py
  lacommunaute/templates/surveys/dsp_detail.html
Due: black, ruff, djhtml

update recommendations
  lacommunaute/surveys/recommendations.py
  lacommunaute/surveys/recommendations.toml
Due: black, ruff

(surveys) isolate generale from detail recommendation, add new survey button, box selected choices
  lacommunaute/templates/surveys/dsp_detail.html
Due: djhtml

(surveys) add tally form for feedbacks
  lacommunaute/templates/surveys/dsp_detail.html
Due: djhtml

(surveys) manage permission to access survey create form, with tally waiting list
  lacommunaute/surveys/tests/test_views.py
  lacommunaute/templates/partials/header_nav_secondary_items.html
  lacommunaute/templates/surveys/dsp_form.html
  lacommunaute/users/factories.py
Due: black, ruff, djhtml

moderation, fix BouncedEmail duplicate keys when desapprovating post
  lacommunaute/forum_moderation/tests/test_post_disapprove_view.py
  lacommunaute/forum_moderation/views.py
Due: black, ruff

Fix ValueError on Topic update by anonymous poster
  lacommunaute/forum_conversation/forms.py
  lacommunaute/forum_conversation/tests/tests_views.py
Due: black, ruff

(forum_conversation) cleanup views tests
  lacommunaute/forum_conversation/tests/tests_views.py
Due: black, ruff

(notification) lowerize verbose names, reword BouncedEmail verbose name for more consistency
  lacommunaute/notification/migrations/0006_alter_bouncedemail_options_and_more.py
  lacommunaute/notification/models.py
Due: black, ruff

(notification) rearrange notification admin registration
  lacommunaute/notification/admin.py
Due: black, ruff

(forum_conversation) remove unuseful override form_valid method in TopicCreateView
  lacommunaute/forum_conversation/views.py
Due: black, ruff

install langdetect python lib
  poetry.lock
  pyproject.toml
  requirements/base.txt
  requirements/dev.txt
Due: none

add BouncedDomainName model and its uniqueness test
  lacommunaute/notification/admin.py
  lacommunaute/notification/factories.py
  lacommunaute/notification/migrations/0007_bounceddomainname.py
  lacommunaute/notification/models.py
  lacommunaute/notification/tests/tests_models.py
Due: black, ruff
