Repository gip-inclusion/itou-communaute-django: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, djhtml

black:
  name: Black
  entry: black
  language: system

ruff:
  name: Ruff
  entry: ruff
  language: system

djhtml:
  name: djhtml
  entry: djhtml
  language: system

Make django-storages AWS_* variables read-only
  .env.template
  .github/workflows/review-app-creation.yml
  README.md
  config/settings/base.py
Due: black, ruff

Re-enable migrations checks
  .github/workflows/ci.yml
  config/settings/base.py
  lacommunaute/forum_file/migrations/0001_initial.py
  lacommunaute/forum_member/migrations/0001_initial.py
  lacommunaute/forum_member/migrations/__init__.py
  lacommunaute/forum_permission/__init__.py
  lacommunaute/forum_permission/migrations/0001_initial.py
  lacommunaute/forum_permission/migrations/__init__.py
  lacommunaute/forum_tracking/__init__.py
  lacommunaute/forum_tracking/migrations/0001_initial.py
  lacommunaute/forum_tracking/migrations/__init__.py
Due: black, ruff

Remove storage from PublicFile migrations changes
  lacommunaute/forum_file/migrations/0001_initial.py
  lacommunaute/forum_file/models.py
Due: black, ruff

Use common pagination template and preserve GET parameters for pages
  lacommunaute/search/tests.py
  lacommunaute/templates/partials/pagination.html
  lacommunaute/templates/search/commonindex_list.html
  lacommunaute/templates/search/pagination.html
Due: black, ruff, djhtml

Remove duplicate assignment typo
  lacommunaute/forum_conversation/views_htmx.py
Due: black, ruff

Remove unused view Sentry trigger_error
  lacommunaute/pages/urls.py
  lacommunaute/pages/views.py
Due: black, ruff

Do not --force the compress command on deployment to CleverCloud
  clevercloud/python.json
Due: none

Increase precedence of itou theme over machina.board_theme
  lacommunaute/templates/layouts/base.html
Due: djhtml

Monitor JavaScript errors with Sentry
  config/settings/base.py
  lacommunaute/templates/layouts/base.html
Due: black, ruff, djhtml

Remove ALLOWED_HOSTS from context processors
  lacommunaute/utils/settings_context_processors.py
Due: black, ruff

Bump Python version in Poetry dependencies
  poetry.lock
  pyproject.toml
Due: none

Remove typo noqa: T027 from Share menu
  lacommunaute/templates/partials/social_share_buttons.html
Due: djhtml

rollback promotion_banner to twins operation
  lacommunaute/templates/partials/promotion_banner.html
Due: djhtml

remove communaute-experimentation from allowed_host
  config/settings/base.py
Due: black, ruff

Upgrade to Django 5.0
  config/settings/base.py
  poetry.lock
  pyproject.toml
Due: black, ruff

switch back to calendar link in header, add inclusion-demain.fr link in footer
  lacommunaute/templates/partials/footer.html
  lacommunaute/templates/partials/header_nav_secondary_items.html
Due: djhtml

(stats) remove 4months limit on monthly impact stats query
  lacommunaute/pages/tests/tests.py
  lacommunaute/pages/views.py
Due: black, ruff

(homepage) stop AB Test, add outlined button to documentation
  lacommunaute/templates/pages/home.html
  lacommunaute/templates/partials/ask_a_question.html
Due: djhtml

(moderation) activate moderation queue for anonymous
  lacommunaute/templates/forum_conversation/topic_create.html
  lacommunaute/templates/forum_moderation/moderation_queue/list.html
  lacommunaute/templates/pages/home.html
  lacommunaute/templates/partials/anonymous_banner.html
  lacommunaute/templates/partials/header_nav_primary_items.html
Due: djhtml

(moderation) add email of disapproved post's poster to bouncedemail list
  lacommunaute/forum_moderation/tests/test_post_disapprove_view.py
  lacommunaute/forum_moderation/urls.py
  lacommunaute/forum_moderation/views.py
Due: black, ruff

Fix django-compressor errors on deploy
  .github/workflows/ci.yml
  config/settings/base.py
Due: black, ruff

(moderation) fix moderation queued post template
  lacommunaute/forum_moderation/tests/test_moderation_queue_detail_view.py
  lacommunaute/templates/forum_moderation/moderation_queue/detail.html
Due: black, ruff, djhtml

Path conditions:
  black: any of: \.py$
  ruff: any of: \.py$
  djhtml: any of: \.(html|htm|xhtml)$
