Repository gip-inclusion/itou-communaute-django: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, djhtml

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/python-poetry/poetry
    rev: '1.7.0'
    hooks:
      - id: poetry-check
      - id: poetry-export
        args: ["-f", "requirements.txt", "-o", "requirements/dev.txt", "--with", "dev",]
      - id: poetry-export
        args: ["-f", "requirements.txt", "-o", "requirements/base.txt"]
  - repo: local
    hooks:
      - id: black
        name: Black
        entry: black
        types: [python]
        language: system
      - id: ruff
        name: Ruff
        entry: ruff
        types: [python]
        language: system
      - id: djhtml
        name: djhtml
        entry: djhtml
        types: [html]
        language: system

let login_link template manage next param
  lacommunaute/pages/tests/__snapshots__/test_homepage.ambr
  lacommunaute/templates/registration/includes/login_link.html
Due: djhtml

convert openid_connect_url templatetag into login_url
  lacommunaute/utils/templatetags/str_filters.py
  lacommunaute/utils/tests/tests_utils.py
Due: black, ruff

use login_link template in TopicListView
  lacommunaute/forum_conversation/tests/__snapshots__/tests_views.ambr
  lacommunaute/forum_conversation/tests/tests_views.py
  lacommunaute/templates/forum_conversation/topics_public.html
Due: black, ruff, djhtml

use login_link template in SeekersListView
  lacommunaute/forum_member/tests/__snapshots__/tests_view.ambr
  lacommunaute/forum_member/tests/tests_view.py
  lacommunaute/templates/forum_member/seekers_profiles.html
Due: black, ruff, djhtml

EventMonthArchiveView UI update
  lacommunaute/event/tests/__snapshots__/tests_views.ambr
  lacommunaute/event/tests/tests_views.py
  lacommunaute/templates/event/event_archive_month.html
Due: black, ruff, djhtml

get better tests on DSPCreateView
  lacommunaute/surveys/tests/__snapshots__/test_views.ambr
  lacommunaute/surveys/tests/test_views.py
  lacommunaute/templates/surveys/dsp_form.html
Due: black, ruff, djhtml

use login_url template tag for upvotes
  lacommunaute/forum/tests/__snapshots__/tests_views.ambr
  lacommunaute/templates/partials/upvotes.html
Due: djhtml

update politique_de_confidentialité template
  lacommunaute/templates/pages/politique_de_confidentialite.html
Due: djhtml

feat: mise à jour de la politique de confidentialité (#845)
  lacommunaute/templates/pages/politique_de_confidentialite.html
Due: djhtml

feat: harmonisation des liens de connexion (#844)
  config/settings/base.py
  lacommunaute/event/tests/__snapshots__/tests_views.ambr
  lacommunaute/event/tests/tests_views.py
  lacommunaute/forum/tests/__snapshots__/tests_views.ambr
  lacommunaute/forum_conversation/tests/__snapshots__/tests_views.ambr
  lacommunaute/forum_conversation/tests/tests_views.py
  lacommunaute/forum_member/tests/__snapshots__/tests_view.ambr
  lacommunaute/forum_member/tests/tests_view.py
  lacommunaute/pages/tests/__snapshots__/test_homepage.ambr
  lacommunaute/surveys/tests/__snapshots__/test_views.ambr
  lacommunaute/surveys/tests/test_views.py
  lacommunaute/templates/event/event_archive_month.html
  lacommunaute/templates/forum_conversation/topics_public.html
  lacommunaute/templates/forum_member/join_forum_form.html
  lacommunaute/templates/forum_member/join_forum_landing.html
  lacommunaute/templates/forum_member/seekers_profiles.html
  lacommunaute/templates/partials/upvotes.html
  lacommunaute/templates/registration/includes/login_link.html
  lacommunaute/templates/registration/login_with_magic_link.html
  lacommunaute/templates/surveys/dsp_form.html
  lacommunaute/users/tests/__snapshots__/tests_views.ambr
  lacommunaute/utils/templatetags/str_filters.py
  lacommunaute/utils/tests/tests_utils.py
Due: black, ruff, djhtml

add a caption above proconnect button
  lacommunaute/templates/registration/login_with_magic_link.html
  lacommunaute/users/tests/__snapshots__/tests_views.ambr
Due: djhtml

feat: amélioration bouton pro_connect (#847)
  lacommunaute/templates/registration/login_with_magic_link.html
  lacommunaute/users/tests/__snapshots__/tests_views.ambr
Due: djhtml

update locales
  locale/fr/LC_MESSAGES/django.po
Due: none

update upvote icon
  lacommunaute/forum/tests/__snapshots__/tests_views.ambr
  lacommunaute/forum_conversation/tests/tests_views.py
  lacommunaute/forum_conversation/tests/tests_views_htmx.py
  lacommunaute/forum_upvote/tests/test_forumupvoteview.py
  lacommunaute/forum_upvote/tests/test_postupvoteview.py
  lacommunaute/templates/partials/upvotes.html
Due: black, ruff, djhtml

update user menu
  lacommunaute/templates/partials/header.html
Due: djhtml

ambr / locale
  lacommunaute/forum/tests/__snapshots__/tests_views.ambr
Due: none

flaky test
  lacommunaute/users/tests/tests_views.py
Due: black, ruff

feat: renommage des upvotes (#842)
  lacommunaute/forum/tests/__snapshots__/tests_views.ambr
  lacommunaute/forum_conversation/tests/tests_views.py
  lacommunaute/forum_conversation/tests/tests_views_htmx.py
  lacommunaute/forum_upvote/tests/test_forumupvoteview.py
  lacommunaute/forum_upvote/tests/test_postupvoteview.py
  lacommunaute/templates/partials/header.html
  lacommunaute/templates/partials/upvotes.html
  locale/fr/LC_MESSAGES/django.po
Due: black, ruff, djhtml

refactor: correction d'un test fragile (#848)
  lacommunaute/users/tests/tests_views.py
Due: black, ruff

setup generic script for cronified management command
  clevercloud/run_management_command.sh
Due: none

make the script more reliable
  clevercloud/run_management_command.sh
Due: none

refactor send_notifs_on_unanswered_topics call
  clevercloud/cron.json
  clevercloud/send_notifs_on_unanswered_topics_list.sh
Due: none

refactor add_user_to_list_when_register call
  clevercloud/add_user_to_list_when_register.sh
  clevercloud/cron.json
Due: none

refactor send_notifications_daily call
  clevercloud/cron.json
  clevercloud/send_notifications_daily.sh
Due: none

refactor send_notifications_regular call
  clevercloud/cron.json
  clevercloud/send_notifications_regular.sh
Due: none

refactor collect_weekly_matomo_forum_stats call
  clevercloud/collect_weekly_matomo_forum_stats.sh
  clevercloud/cron.json
Due: none

refactor collect_monthly_matomo_stats call
  clevercloud/collect_monthly_matomo_stats.sh
  clevercloud/cron.json
Due: none

refactor collect_daily_django_stats call
  clevercloud/collect_daily_django_stats.sh
  clevercloud/cron.json
Due: none

refactor collect_daily_matomo_stats call
  clevercloud/collect_daily_matomo_stats.sh
  clevercloud/cron.json
Due: none

add clearsessions
  clevercloud/cron.json
Due: none

refactor: automatisation des management command (#849)
  clevercloud/add_user_to_list_when_register.sh
  clevercloud/collect_daily_django_stats.sh
  clevercloud/collect_monthly_matomo_stats.sh
  clevercloud/collect_weekly_matomo_forum_stats.sh
  clevercloud/cron.json
  clevercloud/run_management_command.sh
  clevercloud/send_notifications_daily.sh
  clevercloud/send_notifications_regular.sh
  clevercloud/send_notifs_on_unanswered_topics_list.sh
Due: none

fix next param in proconnect:authorize url
  lacommunaute/templates/registration/login_with_magic_link.html
  lacommunaute/users/tests/__snapshots__/tests_views.ambr
  lacommunaute/users/tests/tests_views.py
Due: black, ruff, djhtml

fix: hydratation du parametre `next` dans l'url proconnect:authorize (#850)
  lacommunaute/templates/registration/login_with_magic_link.html
  lacommunaute/users/tests/__snapshots__/tests_views.ambr
  lacommunaute/users/tests/tests_views.py
Due: black, ruff, djhtml

add ProConnectLoginMiddleware
  config/settings/base.py
  lacommunaute/openid_connect/middleware.py
Due: black, ruff

add ProConnectLoginMiddleware
  lacommunaute/openid_connect/middleware.py
  lacommunaute/openid_connect/tests/test_middleware.py
Due: black, ruff

@tonial's suggestion, prevent query_dict being duplicated for each request
  lacommunaute/openid_connect/middleware.py
Due: black, ruff

@tonial's suggestion, use pytest_django.asserts
  lacommunaute/openid_connect/tests/test_middleware.py
Due: black, ruff

feat: POC, autoconnection les emplois vers la commu via Pro Connect (#851)
  config/settings/base.py
  lacommunaute/openid_connect/middleware.py
  lacommunaute/openid_connect/tests/test_middleware.py
Due: black, ruff

fix cache_dependencies in python.json
  clevercloud/python.json
Due: none

chore: correction de la mise en cache des dépendances dans clever cloud (#852)
  clevercloud/python.json
Due: none
