Repository gip-inclusion/itou-communaute-django: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, djhtml

black:
  name: Black
  entry: black
  language: system

ruff:
  name: Ruff
  entry: ruff
  language: system

djhtml:
  name: djhtml
  entry: djhtml
  language: system

force uv to collect latest dependencies version
  scripts/update_dependencies.sh
Due: none

update dependencies
  uv.lock
Due: none

fix test becoming flaky
  lacommunaute/search/__snapshots__/tests.ambr
  lacommunaute/search/tests.py
Due: black, ruff

chore: mise à jour des dependances (#929)
  lacommunaute/search/__snapshots__/tests.ambr
  lacommunaute/search/tests.py
  scripts/update_dependencies.sh
  uv.lock
Due: black, ruff

reactivate stat tasks
  clevercloud/cron.json
Due: none

feat: reactivation de la collecte des stats (#930)
  clevercloud/cron.json
Due: none

add python-crontab dependencies
  pyproject.toml
  uv.lock
Due: none

add sorting cronified tasks order test on frequency (nb of occurs in a year) > hour > minute, PLUS reorder tasks in cron.json"
  clevercloud/cron.json
  lacommunaute/utils/tests/tests_consistency.py
Due: black, ruff

chore: rearrangement des tâches planifiées (#931)
  clevercloud/cron.json
  lacommunaute/utils/tests/tests_consistency.py
  pyproject.toml
  uv.lock
Due: black, ruff

refactor can_certify_topic shortcut test
  lacommunaute/forum_conversation/tests/tests_shortcuts.py
Due: black, ruff

add can_moderate_post shortcut
  lacommunaute/forum_conversation/shortcuts.py
  lacommunaute/forum_conversation/tests/tests_shortcuts.py
Due: black, ruff

display topic subject instead of post subject in moderation queue when post subject is empty
  lacommunaute/forum_moderation/tests/test_moderation_queue_list.py
  lacommunaute/templates/forum_moderation/moderation_queue/list.html
Due: black, ruff, djhtml

display approved checkbox in TopicForm for staff users only
  lacommunaute/forum_conversation/forms.py
  lacommunaute/templates/forum_conversation/partials/topic_form.html
Due: black, ruff, djhtml

display approved checkbox in PostForm for staff users only
  lacommunaute/forum_conversation/forms.py
  lacommunaute/forum_conversation/tests/__snapshots__/tests_views.ambr
  lacommunaute/forum_conversation/tests/tests_views.py
  lacommunaute/templates/forum_conversation/partials/post_form.html
Due: black, ruff, djhtml

remove obsolete snapshot
  lacommunaute/forum_conversation/tests/__snapshots__/tests_views.ambr
Due: none

display approved checkbox in TopicForm for staff users only
  lacommunaute/forum_conversation/forms.py
  lacommunaute/forum_conversation/tests/__snapshots__/tests_views.ambr
  lacommunaute/forum_conversation/tests/tests_forms.py
  lacommunaute/forum_conversation/tests/tests_views.py
  lacommunaute/templates/forum_conversation/partials/topic_form.html
Due: black, ruff, djhtml

feat: faciliter la moderation des `Post` pour les utilisateurs `staff` (#928)
  lacommunaute/forum_conversation/forms.py
  lacommunaute/forum_conversation/shortcuts.py
  lacommunaute/forum_conversation/tests/__snapshots__/tests_views.ambr
  lacommunaute/forum_conversation/tests/tests_forms.py
  lacommunaute/forum_conversation/tests/tests_shortcuts.py
  lacommunaute/forum_conversation/tests/tests_views.py
  lacommunaute/forum_moderation/tests/test_moderation_queue_list.py
  lacommunaute/templates/forum_conversation/partials/post_form.html
  lacommunaute/templates/forum_conversation/partials/topic_form.html
  lacommunaute/templates/forum_moderation/moderation_queue/list.html
Due: black, ruff, djhtml

chore: mise à jour des dépendances (#932)
  uv.lock
Due: none

override forum_permission app, make global permissions in migrations to get rid of per forum perms
  config/settings/base.py
  lacommunaute/forum_permission/admin.py
  lacommunaute/forum_permission/migrations/0002_perms_update.py
  lacommunaute/forum_permission/models.py
Due: black, ruff

remove with_public_perms arg in ForumFactory since perms are globals and not forum per forum
  lacommunaute/forum/factories.py
  lacommunaute/forum/management/commands/populate.py
  lacommunaute/forum/tests/test_categoryforum_listview.py
  lacommunaute/forum/tests/test_forum_rating_view.py
  lacommunaute/forum/tests/test_subcategoryforum_listview.py
  lacommunaute/forum/tests/tests_views.py
  lacommunaute/forum_conversation/tests/tests_forms.py
  lacommunaute/forum_conversation/tests/tests_views.py
  lacommunaute/forum_conversation/tests/tests_views_htmx.py
  lacommunaute/forum_moderation/tests/test_topic_delete_view.py
  lacommunaute/forum_upvote/tests/test_forumupvoteview.py
  lacommunaute/forum_upvote/tests/test_postupvoteview.py
  lacommunaute/partner/tests/tests_partner_detailview.py
  lacommunaute/search/tests.py
Due: black, ruff

remove obsolete assign_perm since perms are globals
  lacommunaute/forum/tests/tests_views.py
  lacommunaute/forum_conversation/forum_polls/tests_view.py
  lacommunaute/forum_conversation/tests/tests_views.py
  lacommunaute/forum_conversation/tests/tests_views_htmx.py
  lacommunaute/forum_member/tests/tests_view.py
  lacommunaute/stats/tests/tests_views.py
  lacommunaute/utils/tests/tests_utils.py
Due: black, ruff

remove add_public_perms_on_forum & add_staff_perms_on_forum since perms are globals and not forum per forum
  config/settings/base.py
  lacommunaute/forum/tests/test_categoryforum_createview.py
  lacommunaute/forum/tests/test_subcategoryforum_createview.py
  lacommunaute/forum/views.py
  lacommunaute/utils/perms.py
  lacommunaute/utils/tests/tests_utils.py
Due: black, ruff

remove breaking tests since perms are globals
  lacommunaute/forum_conversation/tests/tests_views_htmx.py
  lacommunaute/forum_upvote/tests/test_forumupvoteview.py
  lacommunaute/forum_upvote/tests/test_postupvoteview.py
Due: black, ruff

use ForumFactory called by TopicFactory
  lacommunaute/forum_conversation/forum_polls/tests_view.py
Due: black, ruff

the good surprise
  lacommunaute/forum_conversation/tests/tests_views.py
Due: black, ruff

benefit from GroupForumPermission to add is_in_staff_group arg in UserFactory for staff
  lacommunaute/forum/management/commands/populate.py
  lacommunaute/forum/tests/test_categoryforum_createview.py
  lacommunaute/forum/tests/test_forum_updateview.py
  lacommunaute/forum/tests/test_subcategoryforum_createview.py
  lacommunaute/forum_conversation/tests/tests_shortcuts.py
  lacommunaute/forum_conversation/tests/tests_views.py
  lacommunaute/notification/tests/tests_tasks.py
  lacommunaute/pages/tests/tests.py
  lacommunaute/partner/tests/tests_partner_createview.py
  lacommunaute/partner/tests/tests_partner_listview.py
  lacommunaute/partner/tests/tests_partner_updateview.py
  lacommunaute/users/factories.py
Due: black, ruff

cleanup imports
  lacommunaute/forum_conversation/forum_polls/tests_view.py
  lacommunaute/forum_conversation/forum_polls/views.py
Due: black, ruff

remove can_moderate_post since it is redudant with user.is_staff
  lacommunaute/forum_conversation/forms.py
  lacommunaute/forum_conversation/shortcuts.py
  lacommunaute/forum_conversation/tests/__snapshots__/tests_views.ambr
  lacommunaute/forum_conversation/tests/tests_shortcuts.py
  lacommunaute/forum_conversation/tests/tests_views.py
  lacommunaute/templates/forum_conversation/partials/post_form.html
  lacommunaute/templates/forum_conversation/partials/topic_form.html
Due: black, ruff, djhtml

remove can_certify_topic since it is redudant with user.is_staff
  lacommunaute/forum_conversation/shortcuts.py
  lacommunaute/forum_conversation/tests/tests_shortcuts.py
  lacommunaute/forum_conversation/views.py
  lacommunaute/forum_conversation/views_htmx.py
  lacommunaute/templates/forum_conversation/partials/post_certified_actions.html
Due: black, ruff, djhtml

update banner on home page
  lacommunaute/static/images/home-banner-02-illu-dora.png
  lacommunaute/templates/pages/banners/boite_a_outils_cip.html
  lacommunaute/templates/pages/banners/collab_dora.html
  lacommunaute/templates/pages/home.html
Due: djhtml

update button text
  lacommunaute/templates/pages/banners/collab_dora.html
Due: djhtml

update title
  lacommunaute/templates/pages/banners/collab_dora.html
Due: djhtml

feat: banniere de collab Dora (#936)
  lacommunaute/static/images/home-banner-02-illu-dora.png
  lacommunaute/templates/pages/banners/boite_a_outils_cip.html
  lacommunaute/templates/pages/banners/collab_dora.html
  lacommunaute/templates/pages/home.html
Due: djhtml

remove django docker capabilities since anybody can start django server app through uv venv
  README.md
  docker-compose.yml
  docker/django/Dockerfile
  docker/django/entrypoint.sh
Due: none

rename test buckets to prevent unconsistency with live conf
  config/settings/test.py
Due: black, ruff

test boto3 1.36+ in CI to catch the day our PAAS (clevercloud) become compliant with the new default integrity protection (https://github.com/boto/boto3/issues/4392)
  .github/workflows/ci.yml
  lacommunaute/utils/tests/tests_boto3_against_clever.py
Due: black, ruff

add can_download_file perm
  lacommunaute/forum_permission/migrations/0002_perms_update.py
Due: black, ruff

Path conditions:
  black: any of: \.py$
  ruff: any of: \.py$
  djhtml: any of: \.(html|htm|xhtml)$
