Repository gip-inclusion/itou-communaute-django: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, djhtml

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/python-poetry/poetry
    rev: '1.7.0'
    hooks:
      - id: poetry-check
      - id: poetry-export
        args: ["-f", "requirements.txt", "-o", "requirements/dev.txt", "--with", "dev",]
      - id: poetry-export
        args: ["-f", "requirements.txt", "-o", "requirements/base.txt"]
  - repo: local
    hooks:
      - id: black
        name: Black
        entry: black
        types: [python]
        language: system
      - id: ruff
        name: Ruff
        entry: ruff
        types: [python]
        language: system
      - id: djhtml
        name: djhtml
        entry: djhtml
        types: [html]
        language: system

add tags when creating or updating forum
  lacommunaute/forum/tests/__snapshots__/test_forum_updateview.ambr
Due: none

feat(forum): filter descendants on forum_tags
  lacommunaute/forum/tests/tests_views.py
  lacommunaute/forum/views.py
Due: black, ruff

feat(forum): add test on multiple tags
  lacommunaute/forum/tests/tests_views.py
Due: black, ruff

quality
  lacommunaute/forum/tests/__snapshots__/test_forum_updateview.ambr
Due: none

feat(tags): filtrer les `forum` enfants à partir des tags (#750)
  lacommunaute/forum/tests/tests_views.py
  lacommunaute/forum/views.py
Due: black, ruff

feat(forum): filter descendants on forum_tags
  lacommunaute/forum/tests/tests_views.py
Due: black, ruff

feat(forum): show tags on documentation_subforum
  lacommunaute/forum/tests/__snapshots__/tests_views.ambr
  lacommunaute/forum/tests/tests_views.py
  lacommunaute/forum/views.py
  lacommunaute/templates/forum/forum_documentation_category.html
  lacommunaute/templates/partials/tag.html
Due: black, ruff, djhtml

removing obsolete snapshots
  lacommunaute/forum/tests/__snapshots__/tests_views.ambr
Due: none

update tag template and its usage in topic_tags and forum_description_category
  lacommunaute/forum/tests/__snapshots__/tests_views.ambr
  lacommunaute/forum_conversation/tests/__snapshots__/tests_views.ambr
  lacommunaute/forum_conversation/tests/tests_views.py
  lacommunaute/templates/forum/forum_documentation_category.html
  lacommunaute/templates/forum_conversation/partials/topic_tags.html
  lacommunaute/templates/partials/tag.html
Due: black, ruff, djhtml

feat(tags): afficher les Tags dans la liste des fiches pratiques d'une categorie (#751)
  lacommunaute/forum/tests/__snapshots__/tests_views.ambr
  lacommunaute/forum/tests/tests_views.py
  lacommunaute/forum/views.py
  lacommunaute/forum_conversation/tests/__snapshots__/tests_views.ambr
  lacommunaute/forum_conversation/tests/tests_views.py
  lacommunaute/templates/forum/forum_documentation_category.html
  lacommunaute/templates/forum_conversation/partials/topic_tags.html
  lacommunaute/templates/partials/tag.html
Due: black, ruff, djhtml

update dependencies
  poetry.lock
  requirements/base.txt
  requirements/dev.txt
Due: none

chore: mise à jour des dépendances (#755)
  poetry.lock
  requirements/base.txt
  requirements/dev.txt
Due: none

feat(pro_connect): rename inclusion_connect to openid_connect
  .env.template
  README.md
  config/settings/base.py
  config/urls.py
  lacommunaute/event/tests/tests_views.py
  lacommunaute/forum/tests/__snapshots__/tests_views.ambr
  lacommunaute/inclusion_connect/constants.py
  lacommunaute/inclusion_connect/migrations/0001_initial.py
  lacommunaute/inclusion_connect/urls.py
  lacommunaute/openid_connect/__init__.py
  lacommunaute/openid_connect/constants.py
  lacommunaute/openid_connect/migrations/0001_initial.py
  lacommunaute/openid_connect/migrations/__init__.py
  lacommunaute/openid_connect/models.py
  lacommunaute/openid_connect/tests/__init__.py
  lacommunaute/openid_connect/tests/tests_model.py
  lacommunaute/openid_connect/tests/tests_views.py
  lacommunaute/openid_connect/urls.py
  lacommunaute/openid_connect/views.py
  lacommunaute/surveys/tests/test_views.py
  lacommunaute/templates/forum_conversation/topics_newsfeed.html
  lacommunaute/templates/forum_conversation/topics_public.html
  lacommunaute/templates/forum_member/join_forum_landing.html
  lacommunaute/templates/forum_member/seekers_profiles.html
  lacommunaute/templates/partials/upvotes.html
  lacommunaute/templates/surveys/dsp_form.html
  lacommunaute/utils/templatetags/str_filters.py
  lacommunaute/utils/tests/tests_utils.py
Due: black, ruff, djhtml

feat(pro_connect): add acr_values param
  lacommunaute/openid_connect/views.py
Due: black, ruff

feat(pro_connect): update family_name key in user_info_mapping_dict
  lacommunaute/openid_connect/models.py
  lacommunaute/openid_connect/tests/tests_model.py
  lacommunaute/openid_connect/tests/tests_views.py
Due: black, ruff

feat(pro_connect): make login button agnostic
  lacommunaute/pages/tests/__snapshots__/test_homepage.ambr
  lacommunaute/templates/forum_member/seekers_profiles.html
  lacommunaute/templates/partials/header.html
  lacommunaute/templates/surveys/dsp_form.html
Due: djhtml

feat(pro_connect): decode user_data
  lacommunaute/openid_connect/tests/tests_views.py
  lacommunaute/openid_connect/views.py
Due: black, ruff

feat(partner): add app
  config/settings/base.py
  lacommunaute/partner/__init__.py
  lacommunaute/partner/apps.py
Due: black, ruff

add PyJWT
  poetry.lock
  pyproject.toml
  requirements/base.txt
  requirements/dev.txt
Due: none

fix url and scope
  config/settings/base.py
  config/urls.py
  lacommunaute/forum/tests/__snapshots__/tests_views.ambr
  lacommunaute/openid_connect/constants.py
  lacommunaute/openid_connect/urls.py
  lacommunaute/openid_connect/views.py
  lacommunaute/pages/tests/__snapshots__/test_homepage.ambr
Due: black, ruff

chore: mise à jour de CSP_IMG_SRC pour le profile django x docker-compose
  config/settings/dev.py
Due: black, ruff

feat(partner): add locale
  locale/fr/LC_MESSAGES/django.mo
  locale/fr/LC_MESSAGES/django.po
Due: none

feat(partner): add model, and its factory
  lacommunaute/partner/admin.py
  lacommunaute/partner/factories.py
  lacommunaute/partner/migrations/0001_initial.py
  lacommunaute/partner/migrations/__init__.py
  lacommunaute/partner/models.py
  lacommunaute/partner/tests/__init__.py
  lacommunaute/partner/tests/tests_model.py
Due: black, ruff

feat(partner): add listview
  config/urls.py
  lacommunaute/pages/tests/__snapshots__/test_homepage.ambr
  lacommunaute/partner/tests/__snapshots__/tests_partner_listview.ambr
  lacommunaute/partner/tests/tests_partner_listview.py
  lacommunaute/partner/urls.py
  lacommunaute/partner/views.py
  lacommunaute/templates/partials/footer.html
  lacommunaute/templates/partner/list.html
Due: black, ruff, djhtml

feat(partner): add detailview
  lacommunaute/partner/tests/__snapshots__/tests_partner_detailview.ambr
  lacommunaute/partner/tests/tests_partner_detailview.py
  lacommunaute/partner/urls.py
  lacommunaute/partner/views.py
  lacommunaute/templates/partials/breadcrumb_partner.html
  lacommunaute/templates/partner/detail.html
Due: black, ruff, djhtml

feat(partner): update populate with partners
  lacommunaute/forum/management/commands/populate.py
Due: black, ruff

feat(partner): ajout des pages partenaires (#757)
  config/settings/base.py
  config/urls.py
  lacommunaute/forum/management/commands/populate.py
  lacommunaute/pages/tests/__snapshots__/test_homepage.ambr
  lacommunaute/partner/__init__.py
  lacommunaute/partner/admin.py
  lacommunaute/partner/apps.py
  lacommunaute/partner/factories.py
  lacommunaute/partner/migrations/0001_initial.py
  lacommunaute/partner/migrations/__init__.py
  lacommunaute/partner/models.py
  lacommunaute/partner/tests/__init__.py
  lacommunaute/partner/tests/__snapshots__/tests_partner_detailview.ambr
  lacommunaute/partner/tests/__snapshots__/tests_partner_listview.ambr
  lacommunaute/partner/tests/tests_model.py
  lacommunaute/partner/tests/tests_partner_detailview.py
  lacommunaute/partner/tests/tests_partner_listview.py
  lacommunaute/partner/urls.py
  lacommunaute/partner/views.py
  lacommunaute/templates/partials/breadcrumb_partner.html
  lacommunaute/templates/partials/footer.html
  lacommunaute/templates/partner/detail.html
  lacommunaute/templates/partner/list.html
  locale/fr/LC_MESSAGES/django.mo
  locale/fr/LC_MESSAGES/django.po
Due: black, ruff, djhtml

feat(forum): add partner FK on model
  lacommunaute/forum/admin.py
  lacommunaute/forum/factories.py
  lacommunaute/forum/migrations/0018_forum_partner.py
  lacommunaute/forum/models.py
Due: black, ruff

add Forum inlines in Partner admin
  lacommunaute/partner/admin.py
Due: black, ruff

update populate for more consistency
  lacommunaute/forum/management/commands/populate.py
Due: black, ruff

category subforums list template refactor
  lacommunaute/forum/tests/__snapshots__/tests_views.ambr
  lacommunaute/templates/forum/forum_documentation_category.html
  lacommunaute/templates/forum/partials/category_subforums_list.html
Due: djhtml

add linked forums to partner detailview
  lacommunaute/partner/tests/__snapshots__/tests_partner_detailview.ambr
  lacommunaute/partner/tests/tests_partner_detailview.py
  lacommunaute/partner/views.py
  lacommunaute/templates/partner/detail.html
Due: black, ruff, djhtml

show partner if exists in documentation forum detail view
  lacommunaute/forum/tests/__snapshots__/tests_views.ambr
  lacommunaute/forum/tests/tests_views.py
  lacommunaute/templates/forum/forum_documentation.html
  lacommunaute/templates/forum/partials/partner.html
Due: black, ruff, djhtml

let choose a partner in forum update view
  lacommunaute/forum/forms.py
  lacommunaute/forum/tests/test_forum_updateview.py
  lacommunaute/forum/tests/tests_forms.py
  lacommunaute/templates/forum/partials/forum_form.html
Due: black, ruff, djhtml

fixup! let choose a partner in forum update view
  lacommunaute/forum/tests/tests_forms.py
Due: black, ruff

refactoring forum_visibility_content_tree_from_forums
  lacommunaute/forum/views.py
  lacommunaute/forum_conversation/views.py
  lacommunaute/partner/views.py
  lacommunaute/utils/perms.py
  lacommunaute/utils/tests/tests_utils.py
Due: black, ruff

feat(partner): lien avec les fiches pratiques (#761)
  lacommunaute/forum/admin.py
  lacommunaute/forum/factories.py
  lacommunaute/forum/forms.py
  lacommunaute/forum/management/commands/populate.py
  lacommunaute/forum/migrations/0018_forum_partner.py
  lacommunaute/forum/models.py
  lacommunaute/forum/tests/__snapshots__/tests_views.ambr
  lacommunaute/forum/tests/test_forum_updateview.py
  lacommunaute/forum/tests/tests_forms.py
  lacommunaute/forum/tests/tests_views.py
  lacommunaute/forum/views.py
  lacommunaute/forum_conversation/views.py
  lacommunaute/partner/admin.py
  lacommunaute/partner/tests/__snapshots__/tests_partner_detailview.ambr
  lacommunaute/partner/tests/tests_partner_detailview.py
  lacommunaute/partner/views.py
  lacommunaute/templates/forum/forum_documentation.html
  lacommunaute/templates/forum/forum_documentation_category.html
  lacommunaute/templates/forum/partials/category_subforums_list.html
  lacommunaute/templates/forum/partials/forum_form.html
  lacommunaute/templates/forum/partials/partner.html
  lacommunaute/templates/partner/detail.html
  lacommunaute/utils/perms.py
  lacommunaute/utils/tests/tests_utils.py
Due: black, ruff, djhtml
