Repository gip-inclusion/itou-communaute-django: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, djhtml

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/python-poetry/poetry
    rev: '1.7.0'
    hooks:
      - id: poetry-check
      - id: poetry-export
        args: ["-f", "requirements.txt", "-o", "requirements/dev.txt", "--with", "dev",]
      - id: poetry-export
        args: ["-f", "requirements.txt", "-o", "requirements/base.txt"]
  - repo: local
    hooks:
      - id: black
        name: Black
        entry: black
        types: [python]
        language: system
      - id: ruff
        name: Ruff
        entry: ruff
        types: [python]
        language: system
      - id: djhtml
        name: djhtml
        entry: djhtml
        types: [html]
        language: system

(notification) setup weekly tag digest
  clevercloud/cron.json
  clevercloud/send_notifs_on_tag_digest.sh
  config/settings/base.py
  lacommunaute/notification/management/commands/send_notifs_on_tag_digest.py
  lacommunaute/notification/tasks.py
  lacommunaute/notification/utils.py
Due: black, ruff

(notification) add Users notified on Topic tags to mail_to_notify method (Tests in progress)
  lacommunaute/forum_conversation/models.py
Due: black, ruff

(surveys) highlight link in header
  lacommunaute/templates/partials/header_nav_secondary_items.html
Due: djhtml

(surveys) update dsp_form template
  lacommunaute/templates/surveys/dsp_form.html
Due: djhtml

(surveys) enhance onboarding, allow anonymous user access the form page
  lacommunaute/surveys/tests/test_views.py
  lacommunaute/surveys/views.py
  lacommunaute/templates/surveys/dsp_form.html
Due: black, ruff, djhtml

(surveys) UI @hellodeloo's suggestions
  lacommunaute/templates/surveys/dsp_form.html
Due: djhtml

(forum profile) add Leaderboard ListView
  lacommunaute/forum_member/tests/tests_view.py
  lacommunaute/forum_member/urls.py
  lacommunaute/forum_member/views.py
  lacommunaute/templates/forum_member/profiles.html
Due: black, ruff, djhtml

(forum profile) set ForumProfile str
  lacommunaute/forum_member/models.py
  lacommunaute/forum_member/tests/tests_models.py
Due: black, ruff

(forum profile) set power_user ForumProfile queryset
  lacommunaute/forum_member/models.py
  lacommunaute/forum_member/tests/tests_models.py
Due: black, ruff

(forum profile) cleanup forum profile detail template
  lacommunaute/templates/forum_member/forum_profile_detail.html
Due: djhtml

(forum profile) add link to leaderboard in footer
  lacommunaute/templates/partials/footer.html
Due: djhtml

(surveys) typo
  lacommunaute/templates/surveys/dsp_form.html
Due: djhtml

Remove text/css from stylesheet links and style
  lacommunaute/utils/templatetags/theme_inclusion.py
Due: black, ruff

(homepage) remove twins banner
  lacommunaute/templates/pages/home.html
  lacommunaute/templates/partials/banners/twins_promotion.html
Due: djhtml

[HOME] upade link to dsp with badge
  lacommunaute/templates/partials/header_nav_secondary_items.html
Due: djhtml

[DSP] add links to related forums
  config/settings/base.py
  lacommunaute/surveys/tests/test_views.py
  lacommunaute/surveys/views.py
  lacommunaute/templates/surveys/dsp_detail.html
  lacommunaute/templates/surveys/dsp_form.html
  lacommunaute/templates/surveys/partials/related_forums.html
Due: black, ruff, djhtml

[DSP] reword form button
  lacommunaute/templates/surveys/dsp_form.html
Due: djhtml

fix flakky test
  lacommunaute/forum_conversation/tests/tests_views.py
Due: black, ruff

(UI) use design rules
  lacommunaute/templates/partials/banners/call_for_contributers.html
  lacommunaute/templates/partials/banners/emplois_helpdesk.html
  lacommunaute/templates/partials/header_nav_secondary_items.html
Due: djhtml

[NOTIF] order user by date joined to prevent flakkyness in AddUserToListWhenRegister::test_add_user_to_list_when_register
  lacommunaute/notification/tests/tests_utils.py
  lacommunaute/notification/utils.py
Due: black, ruff

(forum_conversation) let collapsable post form in feed been show on load
  lacommunaute/templates/forum_conversation/partials/post_feed_form_collapsable.html
Due: djhtml

(moderation) let check_post_approbation render markdown version if post instance is not saved
  lacommunaute/forum_moderation/utils.py
Due: black, ruff

(forum_conversation) rename UpdatePostMixin into CreateUpdatePostMixin
  lacommunaute/forum_conversation/forms.py
Due: black, ruff

(forum_conversation) let errors been show in collapsable post form in feed (htmx needs)
  lacommunaute/templates/forum_conversation/partials/post_feed_form_errors.html
Due: djhtml

(moderation) move check_post_approbation from views and forms to CreateUpdatePostMixin form
  lacommunaute/forum_conversation/forms.py
  lacommunaute/forum_conversation/tests/tests_views.py
  lacommunaute/forum_conversation/views.py
  lacommunaute/forum_conversation/views_htmx.py
Due: black, ruff

(forum_conversation) remove alert icon from form errors
  lacommunaute/templates/forum_conversation/partials/post_feed_form_collapsable.html
Due: djhtml

(forum_conversation) display form errors in htmx mode
  lacommunaute/forum_conversation/tests/tests_views_htmx.py
  lacommunaute/forum_conversation/views_htmx.py
Due: black, ruff

Update lacommunaute/forum_conversation/forms.py on @vjousse's suggestion
  lacommunaute/forum_conversation/forms.py
Due: black, ruff
