Repository gip-inclusion/itou-communaute-django: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, djhtml

black:
  name: Black
  entry: black
  language: system

ruff:
  name: Ruff
  entry: ruff
  language: system

djhtml:
  name: djhtml
  entry: djhtml
  language: system

update ordering
  lacommunaute/partner/models.py
  lacommunaute/partner/tests/tests_model.py
Due: black, ruff

update route
  config/urls.py
  lacommunaute/pages/tests/__snapshots__/test_homepage.ambr
  lacommunaute/partner/tests/__snapshots__/tests_partner_detailview.ambr
  lacommunaute/partner/tests/__snapshots__/tests_partner_listview.ambr
  lacommunaute/partner/tests/tests_model.py
Due: black, ruff

quality
  lacommunaute/static/stylesheets/itou_communaute.scss
Due: none

update icons display in listview
  lacommunaute/partner/tests/__snapshots__/tests_partner_listview.ambr
  lacommunaute/static/stylesheets/itou_communaute.scss
  lacommunaute/templates/partner/list.html
Due: djhtml

fixup! update ordering
  lacommunaute/partner/migrations/0002_alter_partner_options.py
Due: black, ruff

fixup! update route
  lacommunaute/forum/tests/__snapshots__/tests_views.ambr
Due: none

feat(partner): améliorations post déploiement (#763)
  config/urls.py
  lacommunaute/forum/tests/__snapshots__/tests_views.ambr
  lacommunaute/pages/tests/__snapshots__/test_homepage.ambr
  lacommunaute/partner/migrations/0002_alter_partner_options.py
  lacommunaute/partner/models.py
  lacommunaute/partner/tests/__snapshots__/tests_partner_detailview.ambr
  lacommunaute/partner/tests/__snapshots__/tests_partner_listview.ambr
  lacommunaute/partner/tests/tests_model.py
  lacommunaute/static/stylesheets/itou_communaute.scss
  lacommunaute/templates/partner/list.html
Due: black, ruff, djhtml

fix(partner): icones de la vue en liste
  lacommunaute/partner/tests/__snapshots__/tests_partner_listview.ambr
  lacommunaute/static/stylesheets/itou_communaute.scss
  lacommunaute/templates/partner/list.html
Due: djhtml

fix(partner): mise en forme des logos de la vue en liste (#764)
  lacommunaute/partner/tests/__snapshots__/tests_partner_listview.ambr
  lacommunaute/static/stylesheets/itou_communaute.scss
  lacommunaute/templates/partner/list.html
Due: djhtml

tech(partner): reference in sitemap.xml
  lacommunaute/pages/sitemaps.py
  lacommunaute/pages/tests/test_sitemap.py
  lacommunaute/pages/urls.py
Due: black, ruff

feat(partner): referencer les fiches partenaires dans sitemap.xml (#759)
  lacommunaute/pages/sitemaps.py
  lacommunaute/pages/tests/test_sitemap.py
  lacommunaute/pages/urls.py
Due: black, ruff

testing: add hx-get to parse_response_to_soup attrs replacement
  lacommunaute/utils/testing.py
  lacommunaute/utils/tests/tests_utils.py
Due: black, ruff

add htmx filtered forums list on tag
  lacommunaute/forum/tests/__snapshots__/test_subcategoryforum_listview.ambr
  lacommunaute/forum/tests/__snapshots__/tests_views.ambr
  lacommunaute/forum/tests/test_subcategoryforum_listview.py
  lacommunaute/forum/tests/tests_views.py
  lacommunaute/forum/urls.py
  lacommunaute/forum/views.py
  lacommunaute/templates/forum/forum_documentation_category.html
  lacommunaute/templates/forum/partials/forum_tags.html
  lacommunaute/templates/forum/partials/subcategory_forum_list.html
Due: black, ruff, djhtml

add tags of forum when populate
  lacommunaute/forum/management/commands/populate.py
Due: black, ruff

simplify topic_tags template
  lacommunaute/templates/forum_conversation/partials/topic_tags.html
  lacommunaute/templates/partials/tag.html
Due: djhtml

remove filtering on multiple tags, cause UI does not allow it, rename functions for more consistency
  lacommunaute/forum/tests/__snapshots__/test_subcategoryforum_listview.ambr
  lacommunaute/forum/tests/__snapshots__/tests_views.ambr
  lacommunaute/forum/tests/test_subcategoryforum_listview.py
  lacommunaute/forum/tests/tests_views.py
  lacommunaute/forum/views.py
  lacommunaute/templates/forum/forum_documentation_category.html
  lacommunaute/templates/forum/partials/forum_tags.html
  lacommunaute/templates/forum/partials/subcategory_forum_list.html
Due: black, ruff, djhtml

fixup! add htmx filtered forums list on tag
  lacommunaute/forum/views.py
Due: black, ruff

fixup! add htmx filtered forums list on tag
  lacommunaute/templates/forum/partials/category_subforums_list.html
  lacommunaute/templates/forum/partials/forum_tags.html
  lacommunaute/templates/partner/detail.html
Due: djhtml

update snapshot
  lacommunaute/forum/tests/__snapshots__/test_subcategoryforum_listview.ambr
  lacommunaute/forum/tests/__snapshots__/tests_views.ambr
  lacommunaute/partner/tests/__snapshots__/tests_partner_detailview.ambr
Due: none

feat(tags): afficher les filtres sur les tags (#752)
  lacommunaute/forum/management/commands/populate.py
  lacommunaute/forum/tests/__snapshots__/test_subcategoryforum_listview.ambr
  lacommunaute/forum/tests/__snapshots__/tests_views.ambr
  lacommunaute/forum/tests/test_subcategoryforum_listview.py
  lacommunaute/forum/tests/tests_views.py
  lacommunaute/forum/urls.py
  lacommunaute/forum/views.py
  lacommunaute/partner/tests/__snapshots__/tests_partner_detailview.ambr
  lacommunaute/templates/forum/forum_documentation_category.html
  lacommunaute/templates/forum/partials/category_subforums_list.html
  lacommunaute/templates/forum/partials/forum_tags.html
  lacommunaute/templates/forum/partials/subcategory_forum_list.html
  lacommunaute/templates/forum_conversation/partials/topic_tags.html
  lacommunaute/templates/partials/tag.html
  lacommunaute/templates/partner/detail.html
  lacommunaute/utils/testing.py
  lacommunaute/utils/tests/tests_utils.py
Due: black, ruff, djhtml

cleanup
  lacommunaute/forum/admin.py
  lacommunaute/forum/enums.py
  lacommunaute/forum/factories.py
  lacommunaute/forum/migrations/0019_del_private_forum_20240905_1202.py
  lacommunaute/forum/migrations/0020_remove_forum_invitation_token_and_more.py
  lacommunaute/forum/models.py
  lacommunaute/forum/tests/__snapshots__/tests_views.ambr
  lacommunaute/forum/tests/test_categoryforum_listview.py
  lacommunaute/forum/tests/tests_model.py
  lacommunaute/forum/tests/tests_views.py
  lacommunaute/forum_conversation/shortcuts.py
  lacommunaute/forum_conversation/tests/tests_shortcuts.py
  lacommunaute/forum_conversation/tests/tests_views.py
  lacommunaute/forum_conversation/tests/tests_views_htmx.py
  lacommunaute/forum_member/tests/tests_view.py
  lacommunaute/forum_member/urls.py
  lacommunaute/forum_member/views.py
  lacommunaute/pages/tests/test_homepage.py
  lacommunaute/templates/forum/forum_detail.html
  lacommunaute/templates/forum/partials/topics_and_members_counts.html
  lacommunaute/templates/forum_member/moderator_profiles.html
Due: black, ruff, djhtml

feat(forum): retrait des communautés privées (#768)
  lacommunaute/forum/admin.py
  lacommunaute/forum/enums.py
  lacommunaute/forum/factories.py
  lacommunaute/forum/migrations/0019_del_private_forum_20240905_1202.py
  lacommunaute/forum/migrations/0020_remove_forum_invitation_token_and_more.py
  lacommunaute/forum/models.py
  lacommunaute/forum/tests/__snapshots__/tests_views.ambr
  lacommunaute/forum/tests/test_categoryforum_listview.py
  lacommunaute/forum/tests/tests_model.py
  lacommunaute/forum/tests/tests_views.py
  lacommunaute/forum_conversation/shortcuts.py
  lacommunaute/forum_conversation/tests/tests_shortcuts.py
  lacommunaute/forum_conversation/tests/tests_views.py
  lacommunaute/forum_conversation/tests/tests_views_htmx.py
  lacommunaute/forum_member/tests/tests_view.py
  lacommunaute/forum_member/urls.py
  lacommunaute/forum_member/views.py
  lacommunaute/pages/tests/test_homepage.py
  lacommunaute/templates/forum/forum_detail.html
  lacommunaute/templates/forum/partials/topics_and_members_counts.html
  lacommunaute/templates/forum_member/moderator_profiles.html
Due: black, ruff, djhtml

update dependencies
  poetry.lock
  requirements/base.txt
  requirements/dev.txt
Due: none

chore: mise à jour des dépendances (#771)
  poetry.lock
  requirements/base.txt
  requirements/dev.txt
Due: none

cleanup
  lacommunaute/pages/tests/__snapshots__/test_homepage.ambr
  lacommunaute/stats/tests/__snapshots__/tests_views.ambr
  lacommunaute/stats/urls.py
  lacommunaute/templates/partials/footer.html
  lacommunaute/templates/stats/forum_stat_week_archive.html
Due: black, ruff, djhtml

fix: mise à jour des urls de statistiques (#772)
  lacommunaute/pages/tests/__snapshots__/test_homepage.ambr
  lacommunaute/stats/tests/__snapshots__/tests_views.ambr
  lacommunaute/stats/urls.py
  lacommunaute/templates/partials/footer.html
  lacommunaute/templates/stats/forum_stat_week_archive.html
Due: black, ruff, djhtml

feat(stats): ajout d'un lien vers les stats hebdomadaires
  lacommunaute/stats/tests/tests_views.py
  lacommunaute/stats/urls.py
  lacommunaute/stats/views.py
Due: black, ruff

feat(stats): affichage du lien dans la page statistique
  lacommunaute/stats/tests/tests_views.py
  lacommunaute/templates/stats/statistiques.html
Due: black, ruff, djhtml

feat(stats): mise à jour des titres des sections de la page de stats hedbos
  lacommunaute/stats/tests/__snapshots__/tests_views.ambr
  lacommunaute/templates/stats/forum_stat_week_archive.html
Due: djhtml

test ordering
  lacommunaute/stats/factories.py
  lacommunaute/stats/tests/tests_views.py
Due: black, ruff

feat(stats): ajout d'un lien vers la page de stats hebdos (#774)
  lacommunaute/stats/factories.py
  lacommunaute/stats/tests/__snapshots__/tests_views.ambr
  lacommunaute/stats/tests/tests_views.py
  lacommunaute/stats/urls.py
  lacommunaute/stats/views.py
  lacommunaute/templates/stats/forum_stat_week_archive.html
  lacommunaute/templates/stats/statistiques.html
Due: black, ruff, djhtml

remove newsfeed view and route
  lacommunaute/forum/tests/__snapshots__/tests_views.ambr
  lacommunaute/forum/tests/tests_views.py
  lacommunaute/forum_conversation/tests/__snapshots__/tests_views.ambr
  lacommunaute/forum_conversation/tests/tests_views.py
  lacommunaute/forum_conversation/urls.py
  lacommunaute/forum_conversation/views.py
  lacommunaute/templates/404.html
  lacommunaute/templates/forum_conversation/topic_list_newsfeed.html
  lacommunaute/templates/forum_conversation/topics_newsfeed.html
  lacommunaute/templates/pages/home.html
  lacommunaute/templates/partials/breadcrumb.html
Due: black, ruff, djhtml

remove public method on Forum queryset
  lacommunaute/forum/models.py
  lacommunaute/forum/tests/tests_model.py
  lacommunaute/notification/tasks.py
  lacommunaute/pages/sitemaps.py
Due: black, ruff

remove forum.kind from materialized view in search app
  lacommunaute/search/migrations/0002_remove_kind_in_materialized_view.py
  lacommunaute/search/tests.py
  lacommunaute/search/views.py
Due: black, ruff

simplify can_certify_topit methods
  lacommunaute/forum_conversation/shortcuts.py
  lacommunaute/forum_conversation/tests/tests_shortcuts.py
  lacommunaute/forum_conversation/views.py
  lacommunaute/forum_conversation/views_htmx.py
Due: black, ruff

remove filters on forum.kind, including is_newsfeed method
  lacommunaute/forum/models.py
  lacommunaute/forum/tests/test_categoryforum_createview.py
  lacommunaute/forum/tests/test_subcategoryforum_createview.py
  lacommunaute/forum/tests/tests_model.py
  lacommunaute/forum/views.py
  lacommunaute/forum_conversation/tests/tests_views.py
  lacommunaute/forum_conversation/views.py
  lacommunaute/notification/tests/tests_tasks.py
  lacommunaute/pages/views.py
  lacommunaute/templates/forum/forum_detail.html
Due: black, ruff, djhtml

remove kind field from Forum
  lacommunaute/forum/admin.py
  lacommunaute/forum/enums.py
  lacommunaute/forum/migrations/0021_remove_forum_kind.py
  lacommunaute/forum/models.py
  lacommunaute/forum/tests/tests_model.py
Due: black, ruff

cleanup locales
  locale/fr/LC_MESSAGES/django.mo
  locale/fr/LC_MESSAGES/django.po
Due: none

quality
  lacommunaute/search/migrations/0002_remove_kind_in_materialized_view.py
Due: black, ruff

add `get_main_forum` method
  lacommunaute/forum/models.py
  lacommunaute/forum/tests/tests_model.py
  lacommunaute/forum_conversation/views.py
  lacommunaute/pages/views.py
  lacommunaute/search/views.py
Due: black, ruff

Path conditions:
  black: any of: \.py$
  ruff: any of: \.py$
  djhtml: any of: \.(html|htm|xhtml)$
