Repository gip-inclusion/itou-communaute-django: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, djhtml

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/python-poetry/poetry
    rev: '1.7.0'
    hooks:
      - id: poetry-check
      - id: poetry-export
        args: ["-f", "requirements.txt", "-o", "requirements/dev.txt", "--with", "dev",]
      - id: poetry-export
        args: ["-f", "requirements.txt", "-o", "requirements/base.txt"]
  - repo: local
    hooks:
      - id: black
        name: Black
        entry: black
        types: [python]
        language: system
      - id: ruff
        name: Ruff
        entry: ruff
        types: [python]
        language: system
      - id: djhtml
        name: djhtml
        entry: djhtml
        types: [html]
        language: system

fix link
  lacommunaute/templates/partials/upvotes.html
Due: djhtml

feat: update theme, header & nav
  lacommunaute/static/vendor/theme-inclusion/images/home/bg-communaute-mobile.png
  lacommunaute/static/vendor/theme-inclusion/images/home/bg-communaute.png
  lacommunaute/static/vendor/theme-inclusion/images/home/illustration-01.png
  lacommunaute/static/vendor/theme-inclusion/images/home/illustration-02.png
  lacommunaute/static/vendor/theme-inclusion/images/home/search-bg-left.png
  lacommunaute/static/vendor/theme-inclusion/images/home/search-bg-right.png
  lacommunaute/static/vendor/theme-inclusion/images/logo-france-travail.svg
  lacommunaute/static/vendor/theme-inclusion/javascripts/app.js
  lacommunaute/static/vendor/theme-inclusion/stylesheets/app.css
  lacommunaute/templates/forum_conversation/partials/topic_filter.html
  lacommunaute/templates/layouts/base.html
  lacommunaute/templates/pages/home.html
  lacommunaute/templates/partials/ask_a_question.html
  lacommunaute/templates/partials/footer.html
  lacommunaute/templates/partials/header.html
  lacommunaute/templates/partials/header_nav_primary_items.html
  lacommunaute/templates/partials/header_nav_secondary_items.html
Due: djhtml

refactor tests
  lacommunaute/forum/tests/__snapshots__/tests_views.ambr
  lacommunaute/forum/tests/tests_views.py
Due: black, ruff

fix(upvotes): largeur du bouton s'abonner dynamique (#743)
  lacommunaute/forum/tests/__snapshots__/tests_views.ambr
  lacommunaute/forum/tests/tests_views.py
  lacommunaute/templates/partials/upvotes.html
Due: black, ruff, djhtml

feat(documentation): rendre la certification optionnelle (#741)
  lacommunaute/forum/admin.py
  lacommunaute/forum/forms.py
  lacommunaute/forum/migrations/0016_forum_certified.py
  lacommunaute/forum/models.py
  lacommunaute/forum/tests/test_forum_updateview.py
  lacommunaute/forum/tests/tests_forms.py
  lacommunaute/forum/tests/tests_views.py
  lacommunaute/forum_conversation/tests/__snapshots__/tests_views.ambr
  lacommunaute/search/__snapshots__/tests.ambr
  lacommunaute/templates/forum/forum_documentation.html
  lacommunaute/templates/forum/partials/forum_form.html
  lacommunaute/templates/partials/form_field.html
Due: black, ruff, djhtml

upgrade homepage test
  lacommunaute/pages/tests/__snapshots__/test_homepage.ambr
  lacommunaute/pages/tests/test_homepage.py
Due: black, ruff

quality
  lacommunaute/pages/tests/__snapshots__/test_homepage.ambr
  lacommunaute/templates/layouts/base.html
  lacommunaute/templates/partials/header.html
Due: djhtml

feat: mise à jour entête, pied de page et menu (#739)
  lacommunaute/forum_member/models.py
  lacommunaute/forum_member/tests/tests_models.py
  lacommunaute/forum_member/tests/tests_view.py
  lacommunaute/forum_member/urls.py
  lacommunaute/forum_member/views.py
  lacommunaute/pages/tests/__snapshots__/test_homepage.ambr
  lacommunaute/pages/tests/test_homepage.py
  lacommunaute/static/vendor/theme-inclusion/images/home/bg-communaute-mobile.png
  lacommunaute/static/vendor/theme-inclusion/images/home/bg-communaute.png
  lacommunaute/static/vendor/theme-inclusion/images/home/illustration-01.png
  lacommunaute/static/vendor/theme-inclusion/images/home/illustration-02.png
  lacommunaute/static/vendor/theme-inclusion/images/home/search-bg-left.png
  lacommunaute/static/vendor/theme-inclusion/images/home/search-bg-right.png
  lacommunaute/static/vendor/theme-inclusion/images/logo-france-travail.svg
  lacommunaute/static/vendor/theme-inclusion/javascripts/app.js
  lacommunaute/static/vendor/theme-inclusion/stylesheets/app.css
  lacommunaute/templates/forum_conversation/partials/topic_filter.html
  lacommunaute/templates/pages/home.html
  lacommunaute/templates/partials/ask_a_question.html
  lacommunaute/templates/partials/footer.html
  lacommunaute/templates/partials/header.html
  lacommunaute/templates/partials/header_nav_primary_items.html
  lacommunaute/templates/partials/header_nav_secondary_items.html
Due: black, ruff, djhtml

update dependencies
  poetry.lock
  requirements/base.txt
  requirements/dev.txt
Due: none

chore: django security release 5.0.8 and others dependencies update (#745)
  poetry.lock
  requirements/base.txt
  requirements/dev.txt
Due: none

topic: add unexistant tag to topic
  lacommunaute/forum_conversation/forms.py
  lacommunaute/forum_conversation/tests/tests_views.py
  lacommunaute/templates/forum_conversation/partials/topic_form.html
Due: black, ruff, djhtml

ui: move lock_topic field for more consistency
  lacommunaute/templates/forum_conversation/partials/topic_form.html
  lacommunaute/templates/partials/form_field.html
Due: djhtml

ui: move lock_topic field for more consistency (post form)
  lacommunaute/templates/forum_conversation/partials/post_form.html
Due: djhtml

pythonic
  lacommunaute/forum_conversation/forms.py
Due: black, ruff

padding
  lacommunaute/templates/forum_conversation/partials/topic_form.html
Due: djhtml

ui: remove redudant attachment title in panes
  lacommunaute/templates/forum_conversation/partials/post_form.html
Due: djhtml

feat(forum): add tags to model
  lacommunaute/forum/admin.py
  lacommunaute/forum/migrations/0017_forum_tags.py
  lacommunaute/forum/models.py
Due: black, ruff

add with_tags params to ForumFactory
  lacommunaute/forum/factories.py
Due: black, ruff

add tags when creating or updating forum
  lacommunaute/forum/forms.py
  lacommunaute/forum/tests/__snapshots__/test_forum_updateview.ambr
  lacommunaute/forum/tests/test_forum_updateview.py
  lacommunaute/forum/tests/tests_forms.py
  lacommunaute/templates/forum/partials/forum_form.html
Due: black, ruff, djhtml

wip to rebase
  lacommunaute/templates/forum/forum_detail.html
  lacommunaute/templates/forum/forum_documentation.html
  lacommunaute/templates/forum/forum_documentation_category.html
  lacommunaute/templates/forum/partials/tags.html
  lacommunaute/templates/forum/partials/updated_certified.html
  lacommunaute/templates/partials/social_share_buttons.html
  lacommunaute/templates/partials/upvotes.html
Due: djhtml

fix(post): set post subject and topic subjec identical
  lacommunaute/forum_conversation/forms.py
  lacommunaute/forum_conversation/tests/tests_forms.py
Due: black, ruff

fix(post): remove duplicated functional code of django-machina from the application code
  lacommunaute/forum_conversation/forms.py
  lacommunaute/forum_conversation/tests/tests_forms.py
Due: black, ruff

fix(topic): refactor and test init method of TopicForm
  lacommunaute/forum_conversation/forms.py
  lacommunaute/forum_conversation/tests/tests_forms.py
Due: black, ruff

fix(post): simplification du sujet des `Post` (#748)
  lacommunaute/forum_conversation/forms.py
  lacommunaute/forum_conversation/tests/tests_forms.py
Due: black, ruff

fix(forum_conversation): Resoudre la génération de contenus considérés non-FR dans les tests
  lacommunaute/forum_conversation/tests/tests_forms.py
Due: black, ruff

fix(forum_conversation): Résolution des erreurs de tests sur les contenus des messages (#754)
  lacommunaute/forum_conversation/tests/tests_forms.py
Due: black, ruff

feat(event): amélioration de l'admin
  lacommunaute/event/admin.py
Due: black, ruff

feat(event): amélioration de l'admin (#753)
  lacommunaute/event/admin.py
Due: black, ruff

ui: move lock_topic field for more consistency
  lacommunaute/templates/forum_conversation/partials/post_form.html
  lacommunaute/templates/forum_conversation/partials/topic_form.html
  lacommunaute/templates/partials/form_field.html
Due: djhtml

feat(topic): add unexistant tags to topic
  lacommunaute/forum_conversation/forms.py
  lacommunaute/forum_conversation/tests/tests_views.py
  lacommunaute/templates/forum_conversation/partials/topic_form.html
Due: black, ruff, djhtml

adjust tag ui
  lacommunaute/forum_conversation/tests/tests_views.py
  lacommunaute/templates/forum_conversation/partials/topic_tags.html
  lacommunaute/templates/partials/form_field.html
Due: black, ruff, djhtml

feat(tags): ajouter une étiquette inexistante à un sujet (#744)
  lacommunaute/forum_conversation/forms.py
  lacommunaute/forum_conversation/tests/tests_views.py
  lacommunaute/templates/forum_conversation/partials/post_form.html
  lacommunaute/templates/forum_conversation/partials/topic_form.html
  lacommunaute/templates/forum_conversation/partials/topic_tags.html
  lacommunaute/templates/partials/form_field.html
Due: black, ruff, djhtml

fixup! add tags when creating or updating forum
  lacommunaute/forum/tests/__snapshots__/test_forum_updateview.ambr
Due: none

manage new tags separated by comma
  lacommunaute/forum/forms.py
  lacommunaute/forum/tests/test_forum_updateview.py
  lacommunaute/forum/tests/tests_forms.py
  lacommunaute/templates/forum/partials/forum_form.html
Due: black, ruff, djhtml

feat(tags): ajouter des étiquettes à un forum (#746)
  lacommunaute/forum/admin.py
  lacommunaute/forum/factories.py
  lacommunaute/forum/forms.py
  lacommunaute/forum/migrations/0017_forum_tags.py
  lacommunaute/forum/models.py
  lacommunaute/forum/tests/__snapshots__/test_forum_updateview.ambr
  lacommunaute/forum/tests/test_forum_updateview.py
  lacommunaute/forum/tests/tests_forms.py
  lacommunaute/templates/forum/partials/forum_form.html
Due: black, ruff, djhtml
