Repository gip-inclusion/itou-communaute-django: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, djhtml

black:
  name: Black
  entry: black
  language: system

ruff:
  name: Ruff
  entry: ruff
  language: system

djhtml:
  name: djhtml
  entry: djhtml
  language: system

Update lacommunaute/forum_conversation/forms.py on @vjousse's suggestion
  lacommunaute/forum_conversation/forms.py
Due: black, ruff

(moderation) let check_post_approbation render markdown version if post instance is not saved
  lacommunaute/forum_moderation/utils.py
Due: black, ruff

(forum_conversation) let errors been show in collapsable post form in feed (htmx needs)
  lacommunaute/templates/forum_conversation/partials/post_feed_form_errors.html
Due: djhtml

(moderation) move check_post_approbation from views and forms to CreateUpdatePostMixin form
  lacommunaute/forum_conversation/forms.py
  lacommunaute/forum_conversation/tests/tests_views.py
  lacommunaute/forum_conversation/views.py
  lacommunaute/forum_conversation/views_htmx.py
Due: black, ruff

(forum_conversation) remove alert icon from form errors
  lacommunaute/templates/forum_conversation/partials/post_feed_form_collapsable.html
Due: djhtml

(forum_conversation) let collapsable post form in feed been show on load
  lacommunaute/templates/forum_conversation/partials/post_feed_form_collapsable.html
Due: djhtml

(forum_conversation) display form errors in htmx mode
  lacommunaute/forum_conversation/tests/tests_views_htmx.py
  lacommunaute/forum_conversation/views_htmx.py
Due: black, ruff

(forum_conversation) rename UpdatePostMixin into CreateUpdatePostMixin
  lacommunaute/forum_conversation/forms.py
Due: black, ruff

[event] add include for dates & times of an event
  lacommunaute/templates/event/event_detail.html
  lacommunaute/templates/event/partials/event_date.html
Due: djhtml

[homepage] display upcoming events
  lacommunaute/pages/tests/test_homepage.py
  lacommunaute/pages/views.py
  lacommunaute/templates/pages/home.html
Due: black, ruff, djhtml

(forum_member) fix LeaderBoardListView (should be in an other PR)
  lacommunaute/forum_member/tests/tests_view.py
Due: black, ruff

(forum_profile) enrich forum_profil with seekers informations
  lacommunaute/forum_member/enums.py
  lacommunaute/forum_member/migrations/0002_forumprofile_cv_forumprofile_internship_duration_and_more.py
  lacommunaute/forum_member/models.py
Due: black, ruff

(forum_member) add fields to ForumProfileUpdateView
  lacommunaute/forum_member/forms.py
  lacommunaute/forum_member/tests/tests_view.py
  lacommunaute/forum_member/views.py
  lacommunaute/templates/forum_member/forum_profile_update.html
Due: black, ruff, djhtml

(homepage) add link to seekers list view
  lacommunaute/templates/partials/header_nav_secondary_items.html
Due: djhtml

(forum_member) add SeekersListView
  lacommunaute/forum_member/tests/tests_view.py
  lacommunaute/forum_member/urls.py
  lacommunaute/forum_member/views.py
  lacommunaute/templates/forum_member/seekers_profiles.html
Due: black, ruff, djhtml

(forum_member) add infos into forum profile detail template
  lacommunaute/templates/forum_member/forum_profile_detail.html
Due: djhtml

(homepage) add link to seekers list view in footer
  lacommunaute/templates/partials/footer.html
Due: djhtml

(forum_profile) sort seekers by updated_at decr
  lacommunaute/forum_member/tests/tests_view.py
  lacommunaute/forum_member/views.py
Due: black, ruff

(surveys) let any authenticated user submit form
  lacommunaute/surveys/tests/test_views.py
  lacommunaute/templates/surveys/dsp_form.html
Due: black, ruff, djhtml

(forum) remove call for contributors banner
  lacommunaute/templates/forum/category_forum_list.html
  lacommunaute/templates/forum/forum_detail.html
  lacommunaute/templates/partials/banners/call_for_contributers.html
Due: djhtml

update dependencies
  .pre-commit-config.yaml
  poetry.lock
  requirements/base.txt
  requirements/dev.txt
Due: none

(homepage) hide newsfeed
  lacommunaute/pages/tests/test_homepage.py
  lacommunaute/pages/views.py
  lacommunaute/templates/pages/home.html
  lacommunaute/templates/partials/footer.html
  lacommunaute/templates/partials/header_nav_secondary_items.html
Due: black, ruff, djhtml

(forum) remove mechanism of invitation in private forum
  lacommunaute/forum_member/forms.py
  lacommunaute/forum_member/tests/tests_view.py
  lacommunaute/forum_member/urls.py
  lacommunaute/forum_member/views.py
  lacommunaute/templates/forum_member/moderator_profiles.html
  locale/fr/LC_MESSAGES/django.po
Due: black, ruff, djhtml

(surveys) add API_BAN url
  config/settings/base.py
Due: black, ruff

(surveys) add select2
  lacommunaute/static/javascripts/jquery.min.js
  lacommunaute/static/javascripts/select2.min.js
Due: none

Path conditions:
  black: any of: \.py$
  ruff: any of: \.py$
  djhtml: any of: \.(html|htm|xhtml)$
