Repository gip-inclusion/itou-communaute-django: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, djhtml

black:
  name: Black
  entry: black
  language: system

ruff:
  name: Ruff
  entry: ruff
  language: system

djhtml:
  name: djhtml
  entry: djhtml
  language: system

updates routes to manage login-logout
  lacommunaute/openid_connect/tests/tests_views.py
  lacommunaute/pages/tests/__snapshots__/test_homepage.ambr
  lacommunaute/surveys/tests/test_views.py
  lacommunaute/templates/partials/header.html
  lacommunaute/templates/registration/includes/login_link.html
  lacommunaute/templates/registration/includes/logout_link.html
  lacommunaute/templates/surveys/dsp_form.html
Due: black, ruff, djhtml

fix IC comment
  lacommunaute/openid_connect/tests/tests_views.py
Due: black, ruff

do not try to call SIB api in dev mode
  lacommunaute/notification/emails.py
Due: black, ruff

add clean_next_url method to reduce mitigate url redirection from remote source risks
  lacommunaute/utils/tests/tests_urls.py
  lacommunaute/utils/urls.py
Due: black, ruff

update enums
  lacommunaute/notification/enums.py
  lacommunaute/notification/migrations/0010_alter_emailsenttrack_kind_alter_notification_kind.py
  lacommunaute/users/enums.py
  lacommunaute/users/migrations/0003_alter_user_identity_provider.py
Due: black, ruff

update snapshot
  lacommunaute/pages/tests/__snapshots__/test_homepage.ambr
Due: none

feat(forum_conversation): suppression du triage avant de pouvoir poser une question (#818)
  lacommunaute/forum_conversation/tests/tests_forms.py
  lacommunaute/forum_conversation/tests/tests_views.py
  lacommunaute/forum_conversation/urls.py
  lacommunaute/forum_conversation/views.py
  lacommunaute/templates/forum_conversation/topic_create_check.html
Due: black, ruff, djhtml

chore: suppression de mailhog (dev) (#817)
  config/settings/dev.py
  docker-compose.yml
Due: black, ruff

chore: supprimer les balises `#noqa` dans les fichiers de tests (#816)
  lacommunaute/forum/tests/test_categoryforum_createview.py
  lacommunaute/forum/tests/test_categoryforum_listview.py
  lacommunaute/forum/tests/test_forum_rating_view.py
  lacommunaute/forum/tests/test_forum_updateview.py
  lacommunaute/forum/tests/test_subcategoryforum_createview.py
  lacommunaute/forum/tests/test_subcategoryforum_listview.py
  lacommunaute/forum/tests/tests_forms.py
  lacommunaute/forum/tests/tests_views.py
  lacommunaute/forum_conversation/tests/tests_forms.py
  lacommunaute/forum_conversation/tests/tests_views.py
  lacommunaute/forum_member/tests/tests_models.py
  lacommunaute/forum_moderation/tests/test_moderation_queue_detail_view.py
  lacommunaute/forum_moderation/tests/test_post_disapprove_view.py
  lacommunaute/forum_moderation/tests/test_utils.py
  lacommunaute/forum_upvote/tests/test_forumupvoteview.py
  lacommunaute/forum_upvote/tests/test_postupvoteview.py
  lacommunaute/forum_upvote/tests/test_upvotelistview.py
  lacommunaute/pages/tests/test_homepage.py
  lacommunaute/pages/tests/test_mentions_legales.py
  lacommunaute/pages/tests/test_politique_confidentialite.py
  lacommunaute/partner/tests/tests_forms.py
  lacommunaute/partner/tests/tests_model.py
  lacommunaute/partner/tests/tests_partner_createview.py
  lacommunaute/partner/tests/tests_partner_detailview.py
  lacommunaute/partner/tests/tests_partner_listview.py
  lacommunaute/partner/tests/tests_partner_updateview.py
  lacommunaute/stats/tests/tests_management_commands.py
  lacommunaute/stats/tests/tests_models.py
  lacommunaute/stats/tests/tests_views.py
  lacommunaute/surveys/tests/test_stats.py
  lacommunaute/surveys/tests/test_views.py
Due: black, ruff

feat(user): authentification via un lien magique envoyé par email (#804)
  config/settings/base.py
  config/settings/dev.py
  config/urls.py
  lacommunaute/notification/emails.py
  lacommunaute/notification/enums.py
  lacommunaute/notification/migrations/0010_alter_emailsenttrack_kind_alter_notification_kind.py
  lacommunaute/notification/tests/tests_emails.py
  lacommunaute/openid_connect/tests/tests_views.py
  lacommunaute/pages/tests/__snapshots__/test_homepage.ambr
  lacommunaute/surveys/tests/test_views.py
  lacommunaute/templates/partials/header.html
  lacommunaute/templates/registration/create_user.html
  lacommunaute/templates/registration/includes/login_link.html
  lacommunaute/templates/registration/includes/logout_link.html
  lacommunaute/templates/registration/login_link_sent.html
  lacommunaute/templates/registration/login_with_magic_link.html
  lacommunaute/templates/surveys/dsp_form.html
  lacommunaute/users/enums.py
  lacommunaute/users/forms.py
  lacommunaute/users/migrations/0003_alter_user_identity_provider.py
  lacommunaute/users/tests/__init__.py
  lacommunaute/users/tests/__snapshots__/tests_views.ambr
  lacommunaute/users/tests/tests_views.py
  lacommunaute/users/urls.py
  lacommunaute/users/views.py
  lacommunaute/utils/tests/tests_urls.py
  lacommunaute/utils/urls.py
  locale/fr/LC_MESSAGES/django.mo
  locale/fr/LC_MESSAGES/django.po
Due: black, ruff, djhtml

feat: ajout d'une balise youtube dans le markdown (#810)
  lacommunaute/forum/forms.py
  lacommunaute/forum/tests/__snapshots__/tests_views.ambr
  lacommunaute/forum/tests/tests_forms.py
  lacommunaute/forum_conversation/views_htmx.py
  lacommunaute/partner/forms.py
  lacommunaute/partner/tests/__snapshots__/tests_partner_detailview.ambr
  lacommunaute/partner/tests/tests_forms.py
  lacommunaute/partner/tests/tests_partner_createview.py
  lacommunaute/templates/forum/forum_detail.html
  lacommunaute/templates/forum/forum_documentation.html
  lacommunaute/templates/forum/index.html
  lacommunaute/templates/forum_conversation/partials/post_certified.html
  lacommunaute/templates/forum_conversation/partials/post_feed.html
  lacommunaute/templates/forum_conversation/partials/posts_list.html
  lacommunaute/templates/forum_conversation/partials/topic_certified_post.html
  lacommunaute/templates/forum_conversation/partials/topic_content.html
  lacommunaute/templates/forum_conversation/post_preview.html
  lacommunaute/templates/forum_conversation/topic_detail.html
  lacommunaute/templates/forum_conversation/topic_list.html
  lacommunaute/templates/forum_upvote/upvote_list.html
  lacommunaute/templates/partials/rendered_md.html
  lacommunaute/templates/partner/detail.html
  lacommunaute/utils/html.py
  lacommunaute/utils/templatetags/str_filters.py
  lacommunaute/utils/tests/tests_utils.py
Due: black, ruff, djhtml

reschedule tasks collecting datas on matomo
  clevercloud/cron.json
Due: none

fix print in #810
  lacommunaute/utils/templatetags/str_filters.py
Due: black, ruff

chore: replanification des tâches matomo (#821)
  clevercloud/cron.json
Due: none

fix(log): patch #810 (#822)
  lacommunaute/utils/templatetags/str_filters.py
Due: black, ruff

Update politique_de_confidentialite.html
  lacommunaute/templates/pages/politique_de_confidentialite.html
Due: djhtml

fix: update login templates ui
  lacommunaute/static/images/pro_connect_bouton.svg
  lacommunaute/static/images/pro_connect_bouton_hover.svg
  lacommunaute/static/stylesheets/itou_communaute.scss
  lacommunaute/templates/registration/create_user.html
  lacommunaute/templates/registration/login.html
  lacommunaute/templates/registration/login_link_sent.html
  lacommunaute/templates/registration/login_with_magic_link.html
Due: djhtml

fix
  lacommunaute/templates/registration/login_with_magic_link.html
Due: djhtml

add doc entry in .gitignore
  .gitignore
Due: none

update scheduling of collect stats from matomo tasks
  clevercloud/cron.json
Due: none

fix: retarder la collecte des statistiques matomo (#826)
  .gitignore
  clevercloud/cron.json
Due: none

add mention to magiq link form
  lacommunaute/templates/registration/login_with_magic_link.html
Due: djhtml

update snapshots
  lacommunaute/users/tests/__snapshots__/tests_views.ambr
Due: none

feat: mise à jour UI des ecrans de connexion (#825)
  lacommunaute/static/images/pro_connect_bouton.svg
  lacommunaute/static/images/pro_connect_bouton_hover.svg
  lacommunaute/static/stylesheets/itou_communaute.scss
  lacommunaute/templates/registration/create_user.html
  lacommunaute/templates/registration/login.html
  lacommunaute/templates/registration/login_link_sent.html
  lacommunaute/templates/registration/login_with_magic_link.html
  lacommunaute/users/tests/__snapshots__/tests_views.ambr
Due: djhtml

add link to forum in documents.html template, update snapshot
  lacommunaute/stats/tests/__snapshots__/tests_views.ambr
  lacommunaute/templates/stats/documents.html
Due: djhtml

fix(stats): ajout des liens vers les forums dans la page de statistique des fiches pratiques (#827)
  lacommunaute/stats/tests/__snapshots__/tests_views.ambr
  lacommunaute/templates/stats/documents.html
Due: djhtml

lets compilemessages on deployement
  .gitignore
  clevercloud/python.json
  locale/fr/LC_MESSAGES/django.mo
Due: none

Update .gitignore
  .gitignore
Due: none

install gettext in CI
  .github/workflows/ci.yml
Due: none

update CI
  .github/workflows/ci.yml
Due: none

chore: compilation des traductions (#809)
  .github/workflows/ci.yml
  .gitignore
  clevercloud/python.json
  locale/fr/LC_MESSAGES/django.mo
Due: none

remove weekly hidden stats
  lacommunaute/stats/tests/tests_views.py
  lacommunaute/stats/urls.py
  lacommunaute/stats/views.py
Due: black, ruff

feat(stats): suppression de la page cachée (#828)
  lacommunaute/stats/tests/tests_views.py
  lacommunaute/stats/urls.py
  lacommunaute/stats/views.py
Due: black, ruff

remove debug mode routes
  config/urls.py
  lacommunaute/utils/tests/tests_urls.py
Due: black, ruff

display red banner in Dev env
  config/settings/base.py
  config/settings/dev.py
  lacommunaute/templates/layouts/base.html
  lacommunaute/utils/enums.py
  lacommunaute/utils/settings_context_processors.py
  lacommunaute/utils/tests/tests_middleware.py
Due: black, ruff, djhtml

display magic link in messages in DEV env
  lacommunaute/users/tests/__snapshots__/tests_views.ambr
  lacommunaute/users/tests/tests_views.py
  lacommunaute/users/views.py
Due: black, ruff

chore: login in debug/dev mode (#829)
  config/settings/base.py
  config/settings/dev.py
  config/urls.py
  lacommunaute/templates/layouts/base.html
  lacommunaute/users/tests/__snapshots__/tests_views.ambr
  lacommunaute/users/tests/tests_views.py
  lacommunaute/users/views.py
  lacommunaute/utils/enums.py
  lacommunaute/utils/settings_context_processors.py
  lacommunaute/utils/tests/tests_middleware.py
  lacommunaute/utils/tests/tests_urls.py
Due: black, ruff, djhtml

feat: mise à jour de la politique de confidentialité (#824)
  lacommunaute/templates/pages/politique_de_confidentialite.html
Due: djhtml

update dependencies
  poetry.lock
  requirements/base.txt
  requirements/dev.txt
Due: none

chore: mise à jour des dépendances (#831)
  poetry.lock
  requirements/base.txt
  requirements/dev.txt
Due: none

Path conditions:
  black: any of: \.py$
  ruff: any of: \.py$
  djhtml: any of: \.(html|htm|xhtml)$
