Repository gip-inclusion/itou-communaute-django: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, djhtml

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/python-poetry/poetry
    rev: '1.7.0'
    hooks:
      - id: poetry-check
      - id: poetry-export
        args: ["-f", "requirements.txt", "-o", "requirements/dev.txt", "--with", "dev",]
      - id: poetry-export
        args: ["-f", "requirements.txt", "-o", "requirements/base.txt"]
  - repo: local
    hooks:
      - id: black
        name: Black
        entry: black
        types: [python]
        language: system
      - id: ruff
        name: Ruff
        entry: ruff
        types: [python]
        language: system
      - id: djhtml
        name: djhtml
        entry: djhtml
        types: [html]
        language: system

add identity_provider in UserAdmin
  lacommunaute/users/admin.py
Due: black, ruff

do not feed username anymore when user first logs in with magic link
  lacommunaute/users/tests/tests_views.py
  lacommunaute/users/views.py
Due: black, ruff

search for existing email on all identity_provider
  lacommunaute/openid_connect/models.py
  lacommunaute/openid_connect/tests/tests_model.py
Due: black, ruff

lets create user wo feeding username
  lacommunaute/users/migrations/0004_alter_user_managers.py
  lacommunaute/users/models.py
  lacommunaute/users/tests/tests_models.py
Due: black, ruff

manage migration rollback
  lacommunaute/users/migrations/0005_run_management.py
Due: black, ruff

clean up email in username
  lacommunaute/users/migrations/0005_run_management.py
Due: black, ruff

fix: anonymiser les urls de profil des utilisateurs (#832)
  lacommunaute/openid_connect/models.py
  lacommunaute/openid_connect/tests/tests_model.py
  lacommunaute/users/admin.py
  lacommunaute/users/migrations/0004_alter_user_managers.py
  lacommunaute/users/migrations/0005_run_management.py
  lacommunaute/users/models.py
  lacommunaute/users/tests/tests_models.py
  lacommunaute/users/tests/tests_views.py
  lacommunaute/users/views.py
Due: black, ruff

remove unused snapshots
  lacommunaute/forum_conversation/tests/__snapshots__/tests_views.ambr
Due: none

add for_snapshot param to UserFactory
  lacommunaute/forum_conversation/tests/__snapshots__/tests_views.ambr
  lacommunaute/forum_conversation/tests/tests_views.py
  lacommunaute/users/factories.py
Due: black, ruff

remove collect_users_from_list method
  config/settings/base.py
  lacommunaute/notification/emails.py
  lacommunaute/notification/tests/tests_emails.py
Due: black, ruff

refactor send_notifs_on_unanswered_topics method, get list of contacts for staff django users
  lacommunaute/notification/tasks.py
  lacommunaute/notification/tests/tests_tasks.py
Due: black, ruff

adapt send_notifs_on_unanswered_topics related management command, and its cronified script
  clevercloud/cron.json
  clevercloud/send_notifs_on_unanswered_topics_list.sh
  lacommunaute/notification/management/commands/send_notifs_on_unanswered_topics.py
Due: black, ruff

refactor SendNotifsOnUnansweredTopics in pytest style, remove explicit use of ForumFactory
  lacommunaute/notification/tests/tests_tasks.py
Due: black, ruff

refactor TestGetSerializedMessages in pytest style
  lacommunaute/notification/tests/tests_utils.py
Due: black, ruff

let get_serialized_messages manage topic_head post
  lacommunaute/notification/tests/tests_utils.py
  lacommunaute/notification/utils.py
Due: black, ruff

feat: simplifier la collecte des destinataires des questions en attente (#833)
  clevercloud/cron.json
  clevercloud/send_notifs_on_unanswered_topics_list.sh
  config/settings/base.py
  lacommunaute/forum_conversation/tests/__snapshots__/tests_views.ambr
  lacommunaute/forum_conversation/tests/tests_views.py
  lacommunaute/notification/emails.py
  lacommunaute/notification/management/commands/send_notifs_on_unanswered_topics.py
  lacommunaute/notification/tasks.py
  lacommunaute/notification/tests/tests_emails.py
  lacommunaute/notification/tests/tests_tasks.py
  lacommunaute/users/factories.py
Due: black, ruff

UI, dev mode banner
  lacommunaute/templates/layouts/base.html
Due: djhtml

chore: login in debug/dev mode - UI update (#836)
  lacommunaute/templates/layouts/base.html
Due: djhtml

setup unanswered method in TopicQuerySet
  lacommunaute/forum_conversation/models.py
  lacommunaute/forum_conversation/tests/tests_models.py
Due: black, ruff

add unanswered topics in homepage, and form to answer them
  lacommunaute/pages/tests/test_homepage.py
  lacommunaute/pages/views.py
  lacommunaute/templates/forum_conversation/topic_simple_list.html
  lacommunaute/templates/pages/home.html
Due: black, ruff, djhtml

fix: little ui adjustments
  lacommunaute/templates/forum_conversation/topic_simple_list.html
  lacommunaute/templates/pages/home.html
Due: djhtml

fix flaky test
  lacommunaute/partner/tests/tests_partner_listview.py
Due: black, ruff

fix matom tag
  lacommunaute/templates/forum_conversation/topic_simple_list.html
Due: djhtml

feat(home): afficher les questions en attente de réponse sur la page d'accueil (#830)
  lacommunaute/forum_conversation/models.py
  lacommunaute/forum_conversation/tests/tests_models.py
  lacommunaute/pages/tests/test_homepage.py
  lacommunaute/pages/views.py
  lacommunaute/partner/tests/tests_partner_listview.py
  lacommunaute/templates/forum_conversation/topic_simple_list.html
  lacommunaute/templates/pages/home.html
Due: black, ruff, djhtml

update DEFAULT_FROM_EMAIL
  config/settings/base.py
  lacommunaute/users/tests/__snapshots__/tests_views.ambr
Due: black, ruff

simplify params for SIB_NEW_MESSAGES_TEMPLATE
  lacommunaute/notification/tasks.py
  lacommunaute/notification/tests/tests_tasks.py
Due: black, ruff

refactor: améliorations mineures appel à l'API Brevo (#838)
  config/settings/base.py
  lacommunaute/notification/tasks.py
  lacommunaute/notification/tests/tests_tasks.py
  lacommunaute/users/tests/__snapshots__/tests_views.ambr
Due: black, ruff

get better NotificationFactory
  lacommunaute/notification/factories.py
Due: black, ruff

add bulk_notifs in EmailSendTrackKind enum, plus its migration file
  lacommunaute/notification/enums.py
  lacommunaute/notification/migrations/0011_alter_emailsenttrack_kind_alter_notification_kind.py
Due: black, ruff

let post_create signal generate notification on topic creation, refactor tests in pytest style
  lacommunaute/forum_conversation/models.py
  lacommunaute/notification/enums.py
  lacommunaute/notification/signals.py
  lacommunaute/notification/tests/tests_signals.py
Due: black, ruff

notify forum upvoters on new topics, refactor tests in pytest style
  lacommunaute/forum/tests/tests_views.py
  lacommunaute/forum_conversation/models.py
  lacommunaute/forum_conversation/tests/tests_models.py
Due: black, ruff

update email notification recipient, refactor tests in pytest style
  lacommunaute/notification/tasks.py
  lacommunaute/notification/tests/tests_tasks.py
Due: black, ruff

feat(notification): informer les abonnés des nouvelles questions dans un forum (#835)
  lacommunaute/forum/tests/tests_views.py
  lacommunaute/forum_conversation/models.py
  lacommunaute/forum_conversation/tests/tests_models.py
  lacommunaute/notification/enums.py
  lacommunaute/notification/factories.py
  lacommunaute/notification/migrations/0011_alter_emailsenttrack_kind_alter_notification_kind.py
  lacommunaute/notification/signals.py
  lacommunaute/notification/tasks.py
  lacommunaute/notification/tests/tests_signals.py
  lacommunaute/notification/tests/tests_tasks.py
  lacommunaute/notification/tests/tests_utils.py
  lacommunaute/notification/utils.py
Due: black, ruff

update dependencies
  poetry.lock
  requirements/base.txt
  requirements/dev.txt
Due: none

chore: mise à jour des dépendances (#840)
  poetry.lock
  requirements/base.txt
  requirements/dev.txt
Due: none

remove unused templates
  lacommunaute/templates/forum_member/join_forum_form.html
  lacommunaute/templates/forum_member/join_forum_landing.html
Due: djhtml

update default LOGIN_URL
  config/settings/base.py
Due: black, ruff

set nofollow on proconnect authorize url
  lacommunaute/templates/registration/login_with_magic_link.html
  lacommunaute/users/tests/__snapshots__/tests_views.ambr
Due: djhtml
