Repository gip-inclusion/itou-communaute-django: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, djhtml

black:
  name: Black
  entry: black
  language: system

ruff:
  name: Ruff
  entry: ruff
  language: system

djhtml:
  name: djhtml
  entry: djhtml
  language: system

Add new wheels to poetry lock
  poetry.lock
Due: none

(forum_conversation): show origin forum in not default public topics one
  lacommunaute/templates/forum_conversation/partials/poster.html
  lacommunaute/templates/forum_conversation/topic_list.html
  lacommunaute/templates/forum_conversation/topics_public.html
Due: djhtml

Fix flaky ForumViewTest.test_queries
  lacommunaute/forum/factories.py
Due: black, ruff

Allow setting Sentry TRACES_SAMPLE_RATE
  config/settings/_sentry.py
Due: black, ruff

(search) remove embed tally form in search page
  lacommunaute/templates/forum_search/search.html
Due: djhtml

(tests suite) add parse_response_to_soup method
  lacommunaute/utils/testing.py
  lacommunaute/utils/tests.py
Due: black, ruff

(tests suite) add sirupy and bs4 libs
  poetry.lock
  pyproject.toml
  requirements/base.txt
  requirements/dev.txt
Due: none

(search) fix radio buttons spacing
  lacommunaute/templates/forum_search/search_form.html
Due: djhtml

fix: little ui adjustment
  lacommunaute/templates/forum_search/search.html
  lacommunaute/templates/forum_search/search_form.html
Due: djhtml

(search) add ask_a_question button on search page
  lacommunaute/forum_search/tests/__snapshots__/test_search_indexes.ambr
  lacommunaute/forum_search/tests/test_search_indexes.py
  lacommunaute/forum_search/views.py
  lacommunaute/templates/forum_search/search.html
Due: black, ruff, djhtml

Remove aliases and unused rules from Makefile
  Makefile
Due: none

update 404 content, remove broken confusing links
  lacommunaute/templates/404.html
Due: djhtml

fix 404 links
  lacommunaute/templates/404.html
Due: djhtml

(statistiques) get more beautiful daily stats
  lacommunaute/templates/pages/statistiques.html
Due: djhtml

(statistiques) add monthly returning visitors as proxy of our impact
  lacommunaute/pages/tests/tests.py
  lacommunaute/pages/views.py
  lacommunaute/templates/pages/statistiques.html
Due: black, ruff, djhtml

Check “tout le site” when searching
  lacommunaute/search/tests.py
  lacommunaute/search/views.py
Due: black, ruff

Replace Whoosh search by PostgreSQL full-text search
  .gitignore
  Makefile
  clevercloud/cron.json
  clevercloud/python.json
  clevercloud/rebuild_index.sh
  clevercloud/update_index_daily.sh
  config/settings/base.py
  config/urls.py
  lacommunaute/forum_search/apps.py
  lacommunaute/forum_search/forms.py
  lacommunaute/forum_search/search_indexes.py
  lacommunaute/forum_search/tests/test_update_index_daily.py
  lacommunaute/forum_search/urls.py
  lacommunaute/forum_search/views.py
  lacommunaute/search/__init__.py
  lacommunaute/search/__snapshots__/tests.ambr
  lacommunaute/search/apps.py
  lacommunaute/search/enums.py
  lacommunaute/search/forms.py
  lacommunaute/search/migrations/0001_initial.py
  lacommunaute/search/migrations/__init__.py
  lacommunaute/search/models.py
  lacommunaute/search/tests.py
  lacommunaute/search/urls.py
  lacommunaute/search/views.py
  lacommunaute/templates/404.html
  lacommunaute/templates/forum_search/forum_text.txt
  lacommunaute/templates/forum_search/pagination.html
  lacommunaute/templates/forum_search/post_text.txt
  lacommunaute/templates/partials/ask_a_question.html
  lacommunaute/templates/partials/footer.html
  lacommunaute/templates/partials/header_nav_primary_items.html
  lacommunaute/templates/partials/header_nav_secondary_items.html
  lacommunaute/templates/search/commonindex_list.html
  lacommunaute/templates/search/pagination.html
  lacommunaute/templates/search/search_form.html
  poetry.lock
  pyproject.toml
  requirements/base.txt
  requirements/dev.txt
Due: black, ruff, djhtml

Upgrade recipe to build Django container
  docker-compose.yml
  docker/django/Dockerfile
  docker/django/entrypoint.sh
Due: none

Add a cache for PyPI dependencies
  .github/workflows/ci.yml
Due: none

Run tests on Python 3.11
  .github/workflows/ci.yml
Due: none

Re-enable migrations checks
  .github/workflows/ci.yml
  config/settings/base.py
  lacommunaute/forum_file/migrations/0001_initial.py
  lacommunaute/forum_member/migrations/0001_initial.py
  lacommunaute/forum_member/migrations/__init__.py
  lacommunaute/forum_permission/__init__.py
  lacommunaute/forum_permission/migrations/0001_initial.py
  lacommunaute/forum_permission/migrations/__init__.py
  lacommunaute/forum_tracking/__init__.py
  lacommunaute/forum_tracking/migrations/0001_initial.py
  lacommunaute/forum_tracking/migrations/__init__.py
Due: black, ruff

Remove storage from PublicFile migrations changes
  lacommunaute/forum_file/migrations/0001_initial.py
  lacommunaute/forum_file/models.py
Due: black, ruff

Path conditions:
  black: any of: \.py$
  ruff: any of: \.py$
  djhtml: any of: \.(html|htm|xhtml)$
