Repository gip-inclusion/itou-communaute-django: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, djhtml

black:
  name: Black
  entry: black
  language: system

ruff:
  name: Ruff
  entry: ruff
  language: system

djhtml:
  name: djhtml
  entry: djhtml
  language: system

fix: filtrage des questions en utilisant les étiquettes (#794)
  lacommunaute/forum/tests/tests_views.py
  lacommunaute/forum_conversation/enums.py
  lacommunaute/forum_conversation/factories.py
  lacommunaute/forum_conversation/tests/__snapshots__/tests_views.ambr
  lacommunaute/forum_conversation/tests/tests_views.py
  lacommunaute/forum_conversation/view_mixins.py
  lacommunaute/templates/forum_conversation/partials/topic_filter.html
  lacommunaute/templates/forum_conversation/partials/topic_tags.html
  lacommunaute/templates/forum_conversation/topic_list.html
  lacommunaute/templates/forum_conversation/topics_public.html
Due: black, ruff, djhtml

remove /documentation/ routes to reused it with documentation app
  lacommunaute/forum/tests/__snapshots__/tests_views.ambr
  lacommunaute/forum/tests/test_categoryforum_createview.py
  lacommunaute/forum/tests/test_categoryforum_listview.py
  lacommunaute/forum/tests/test_subcategoryforum_createview.py
  lacommunaute/forum/tests/tests_views.py
  lacommunaute/forum/urls.py
  lacommunaute/forum/views.py
  lacommunaute/forum_conversation/tests/__snapshots__/tests_views.ambr
  lacommunaute/pages/tests/__snapshots__/test_homepage.ambr
  lacommunaute/templates/404.html
  lacommunaute/templates/forum/forum_documentation_category.html
  lacommunaute/templates/pages/home.html
  lacommunaute/templates/partials/ask_a_question.html
  lacommunaute/templates/partials/breadcrumb.html
  lacommunaute/templates/partials/footer.html
Due: black, ruff, djhtml

deactivate weekly matomo forums stats until collect becomes compatible with documentation routes
  clevercloud/collect_weekly_matomo_forum_stats.sh
Due: none

reuse abstract DatedModel in models
  lacommunaute/event/models.py
  lacommunaute/forum/models.py
  lacommunaute/forum_conversation/models.py
  lacommunaute/forum_file/models.py
  lacommunaute/forum_moderation/models.py
  lacommunaute/notification/models.py
  lacommunaute/surveys/models.py
Due: black, ruff

add AbstractPublication and DatedModel in utils
  lacommunaute/utils/abstract_models.py
  locale/fr/LC_MESSAGES/django.mo
  locale/fr/LC_MESSAGES/django.po
Due: black, ruff

reuse abstract Publication in partner app, renamed logo into image
  lacommunaute/forum/management/commands/populate.py
  lacommunaute/forum/tests/tests_views.py
  lacommunaute/partner/factories.py
  lacommunaute/partner/migrations/0003_remove_partner_logo_partner_image_alter_partner_name_and_more.py
  lacommunaute/partner/models.py
  lacommunaute/partner/tests/tests_model.py
  lacommunaute/partner/tests/tests_partner_detailview.py
  lacommunaute/partner/tests/tests_partner_listview.py
  lacommunaute/templates/forum/partials/partner.html
  lacommunaute/templates/partner/detail.html
  lacommunaute/templates/partner/list.html
Due: black, ruff, djhtml

add models, admin, factories, admin and tests
  lacommunaute/documentation/admin.py
  lacommunaute/documentation/factories.py
  lacommunaute/documentation/migrations/0001_initial.py
  lacommunaute/documentation/models.py
  lacommunaute/documentation/tests/tests_models.py
Due: black, ruff

update taggeditems of Forum migrated into Document
  lacommunaute/documentation/management/commands/migrate_documentation.py
Due: black, ruff

add datas migration for Category and Document
  lacommunaute/documentation/management/commands/migrate_documentation.py
Due: black, ruff

setup documentation app
  config/settings/base.py
  lacommunaute/documentation/__init__.py
  lacommunaute/documentation/apps.py
  lacommunaute/documentation/migrations/__init__.py
  lacommunaute/documentation/tests/__init__.py
Due: black, ruff

add CategoryListView
  config/urls.py
  lacommunaute/documentation/tests/__snapshots__/tests_category_list_view.ambr
  lacommunaute/documentation/tests/tests_category_list_view.py
  lacommunaute/documentation/urls.py
  lacommunaute/documentation/views.py
  lacommunaute/templates/documentation/category_list.html
  lacommunaute/templates/documentation/partials/content_summary.html
Due: black, ruff, djhtml

reinstall link to documentation route
  lacommunaute/forum/tests/__snapshots__/tests_views.ambr
  lacommunaute/forum_conversation/tests/__snapshots__/tests_views.ambr
  lacommunaute/pages/tests/__snapshots__/test_homepage.ambr
  lacommunaute/templates/404.html
  lacommunaute/templates/pages/home.html
  lacommunaute/templates/partials/ask_a_question.html
  lacommunaute/templates/partials/breadcrumb.html
  lacommunaute/templates/partials/footer.html
  lacommunaute/templates/partials/header.html
Due: djhtml

add CategoryDetailView plus links to it in CategoryListView
  lacommunaute/documentation/tests/__snapshots__/tests_category_detail_view.ambr
  lacommunaute/documentation/tests/__snapshots__/tests_category_list_view.ambr
  lacommunaute/documentation/tests/tests_category_detail_view.py
  lacommunaute/documentation/urls.py
  lacommunaute/documentation/views.py
  lacommunaute/templates/documentation/category_detail.html
  lacommunaute/templates/documentation/partials/content_summary.html
  lacommunaute/templates/documentation/partials/image_and_desc.html
  lacommunaute/templates/documentation/partials/title_and_shortdesc.html
Due: black, ruff, djhtml

show link to documentation:category_update for superuser only in documentation:category_detail
  lacommunaute/documentation/models.py
  lacommunaute/documentation/tests/tests_category_detail_view.py
  lacommunaute/documentation/tests/tests_category_update_view.py
  lacommunaute/documentation/tests/tests_models.py
Due: black, ruff

apply wrap_iframe_in_div_tag in abstracted Publication model
  lacommunaute/utils/abstract_models.py
Due: black, ruff

show link to documentation:category_create for superuser only in documentation:list
  lacommunaute/documentation/tests/tests_category_list_view.py
  lacommunaute/templates/documentation/category_list.html
Due: black, ruff, djhtml

add CategoryCreateView
  lacommunaute/documentation/tests/tests_category_create_view.py
  lacommunaute/documentation/urls.py
  lacommunaute/documentation/views.py
  lacommunaute/templates/documentation/category_create_or_update.html
Due: black, ruff, djhtml

add CategoryUpdateView
  lacommunaute/documentation/tests/tests_category_update_view.py
  lacommunaute/documentation/urls.py
  lacommunaute/documentation/views.py
Due: black, ruff

setup get_absolute_url on Category model
  lacommunaute/documentation/models.py
  lacommunaute/documentation/tests/tests_category_detail_view.py
  lacommunaute/documentation/tests/tests_models.py
Due: black, ruff

update breadcrumb
  lacommunaute/documentation/tests/__snapshots__/tests_category_detail_view.ambr
  lacommunaute/forum/tests/__snapshots__/tests_views.ambr
  lacommunaute/forum_conversation/tests/__snapshots__/tests_views.ambr
  lacommunaute/templates/partials/breadcrumb.html
Due: djhtml

add missing test for parse_response_to_soup
  lacommunaute/utils/tests/tests_utils.py
Due: black, ruff

add DocumentDetailView
  lacommunaute/documentation/tests/__snapshots__/tests_document_detail_view.ambr
  lacommunaute/documentation/tests/tests_document_detail_view.py
  lacommunaute/documentation/urls.py
  lacommunaute/documentation/views.py
  lacommunaute/static/stylesheets/itou_communaute.scss
  lacommunaute/templates/documentation/document_detail.html
  lacommunaute/templates/documentation/partials/certified.html
  lacommunaute/templates/documentation/partials/partner.html
  lacommunaute/templates/documentation/partials/title_and_shortdesc.html
Due: black, ruff, djhtml

link DocumentDetailView in CategoryDetailView
  lacommunaute/documentation/tests/__snapshots__/tests_category_detail_view.ambr
  lacommunaute/documentation/tests/tests_category_detail_view.py
  lacommunaute/templates/documentation/partials/content_summary.html
Due: black, ruff, djhtml

replace current date in a soup for snapshot, given a specified format
  lacommunaute/utils/testing.py
  lacommunaute/utils/tests/tests_utils.py
Due: black, ruff

add get_absolute_url in Document model
  lacommunaute/documentation/models.py
  lacommunaute/documentation/tests/tests_models.py
Due: black, ruff

add filtering on tag in CategoryDetailView
  lacommunaute/documentation/tests/__snapshots__/tests_category_detail_view.ambr
  lacommunaute/documentation/tests/tests_category_detail_view.py
  lacommunaute/documentation/views.py
Due: black, ruff

simplify content_summary template
  lacommunaute/templates/documentation/category_list.html
  lacommunaute/templates/documentation/partials/content_summary.html
Due: djhtml

make CategoryDetailView able to manage HX Request
  lacommunaute/documentation/tests/tests_category_detail_view.py
  lacommunaute/documentation/views.py
  lacommunaute/templates/documentation/category_detail.html
  lacommunaute/templates/documentation/document_list.html
Due: black, ruff, djhtml

add a test on queries count
  lacommunaute/documentation/tests/tests_category_detail_view.py
Due: black, ruff

thanks to tests, fix content_summary template
  lacommunaute/documentation/tests/__snapshots__/tests_category_detail_view.ambr
  lacommunaute/documentation/tests/tests_category_detail_view.py
  lacommunaute/templates/documentation/document_list.html
  lacommunaute/templates/documentation/partials/content_summary.html
Due: black, ruff, djhtml

show ForumRating in DocumentDetailView, if rating exists for the document and a specified session key
  lacommunaute/documentation/tests/__snapshots__/tests_document_detail_view.ambr
  lacommunaute/documentation/tests/tests_document_detail_view.py
  lacommunaute/documentation/views.py
  lacommunaute/templates/documentation/document_detail.html
Due: black, ruff, djhtml

add DocumentRating model
  lacommunaute/documentation/admin.py
  lacommunaute/documentation/factories.py
  lacommunaute/documentation/migrations/0002_documentrating.py
  lacommunaute/documentation/models.py
Due: black, ruff

add ForumRating migration into DocumentRating
  lacommunaute/documentation/management/commands/migrate_documentation.py
Due: black, ruff

add ForumRatingView
  lacommunaute/documentation/tests/__snapshots__/tests_document_detail_view.ambr
  lacommunaute/documentation/tests/__snapshots__/tests_document_rating_view.ambr
  lacommunaute/documentation/tests/tests_document_rating_view.py
  lacommunaute/documentation/urls.py
  lacommunaute/documentation/views.py
  lacommunaute/templates/documentation/document_detail.html
  lacommunaute/templates/documentation/partials/rating.html
Due: black, ruff, djhtml

update ForumStatWeekArchiveView to display DocumentRating instead of ForumRating
  lacommunaute/stats/tests/__snapshots__/tests_views.ambr
  lacommunaute/stats/tests/tests_views.py
  lacommunaute/stats/views.py
  lacommunaute/templates/stats/forum_stat_week_archive.html
Due: black, ruff, djhtml

remove ForumRatingView
  lacommunaute/forum/tests/test_forum_rating_view.py
  lacommunaute/forum/tests/tests_views.py
  lacommunaute/forum/urls.py
  lacommunaute/forum/views.py
  lacommunaute/templates/forum/forum_documentation.html
  lacommunaute/templates/forum/partials/rating.html
Due: black, ruff, djhtml

remove ForumRatingFactory
  lacommunaute/forum/factories.py
  lacommunaute/forum/models.py
Due: black, ruff

remove unusefull property on Forum model, related to ForumRating
  lacommunaute/forum/models.py
  lacommunaute/forum/tests/tests_model.py
  lacommunaute/forum/tests/tests_views.py
  lacommunaute/forum/views.py
Due: black, ruff

fixup! remove unusefull property on Forum model, related to ForumRating
  lacommunaute/forum/tests/tests_views.py
Due: black, ruff

Path conditions:
  black: any of: \.py$
  ruff: any of: \.py$
  djhtml: any of: \.(html|htm|xhtml)$
