Repository gip-inclusion/itou-communaute-django: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, djhtml

black:
  name: Black
  entry: black
  language: system

ruff:
  name: Ruff
  entry: ruff
  language: system

djhtml:
  name: djhtml
  entry: djhtml
  language: system

(surveys) store location for dora searches
  lacommunaute/surveys/factories.py
  lacommunaute/surveys/forms.py
  lacommunaute/surveys/migrations/0003_dsp_city_code_dsp_latitude_dsp_location_and_more.py
  lacommunaute/surveys/models.py
  lacommunaute/surveys/tests/__snapshots__/test_views.ambr
  lacommunaute/surveys/tests/test_views.py
  lacommunaute/templates/surveys/dsp_form.html
Due: black, ruff, djhtml

(surveys) remove unused General recommendations
  lacommunaute/surveys/recommendations.py
  lacommunaute/surveys/recommendations.toml
  lacommunaute/surveys/views.py
  lacommunaute/templates/surveys/dsp_detail.html
Due: black, ruff, djhtml

(surveys) add ability to update recommendations from recommendations.toml content
  lacommunaute/surveys/apps.py
Due: black, ruff

(surveys) load service_cats and service_subs from recommendations.toml
  lacommunaute/surveys/apps.py
  lacommunaute/surveys/recommendations.toml
Due: black, ruff

(surveys) add services fields (Dora's slug)
  lacommunaute/surveys/admin.py
  lacommunaute/surveys/migrations/0004_recommendation_service_cats_and_more.py
  lacommunaute/surveys/models.py
Due: black, ruff

(surveys) display link to suggested Dora services
  lacommunaute/surveys/tests/__snapshots__/test_views.ambr
  lacommunaute/surveys/tests/test_views.py
  lacommunaute/templates/surveys/dsp_detail.html
  lacommunaute/templates/surveys/partials/link_to_dora.html
Due: black, ruff, djhtml

(surveys) remove test on add_dsp permission, since it's not checked anymore
  lacommunaute/surveys/tests/test_views.py
Due: black, ruff

(surveys) remove ambiguous tally on dsp_form
  lacommunaute/surveys/tests/test_views.py
  lacommunaute/templates/surveys/dsp_form.html
Due: black, ruff, djhtml

(surveys) add select2
  lacommunaute/static/javascripts/jquery.min.js
  lacommunaute/static/javascripts/select2.min.js
Due: none

(surveys) add API_BAN url
  config/settings/base.py
Due: black, ruff

feat: update theme to v1.4.4
  lacommunaute/static/vendor/theme-inclusion/images/logo-Dora-Horizontal-Couleur.png
  lacommunaute/static/vendor/theme-inclusion/stylesheets/app.css
Due: none

(stats) remove daily active users, add color propertiers
  lacommunaute/templates/pages/statistiques.html
Due: djhtml

update dependencies
  poetry.lock
  requirements/base.txt
  requirements/dev.txt
Due: none

(metabase): remove unused app, its models and codebase
  config/settings/base.py
  lacommunaute/metabase/__init__.py
  lacommunaute/metabase/admin.py
  lacommunaute/metabase/apps.py
  lacommunaute/metabase/factories.py
  lacommunaute/metabase/management/commands/extract_tables.py
  lacommunaute/metabase/migrations/0001_initial.py
  lacommunaute/metabase/migrations/0002_posttable.py
  lacommunaute/metabase/migrations/0003_alter_posttable_subject.py
  lacommunaute/metabase/migrations/0004_remove_posttable_subject_likes_count.py
  lacommunaute/metabase/migrations/__init__.py
  lacommunaute/metabase/models.py
  lacommunaute/metabase/tests/__init__.py
  lacommunaute/metabase/tests/test_admin.py
  lacommunaute/metabase/tests/test_extract_tables_command.py
Due: black, ruff

(settings) add code-friendly extra package to markdown2 to prevent underscore being converted into <em> in urls
  config/settings/base.py
Due: black, ruff

(member) show linkedin profil if exists
  lacommunaute/forum_member/tests/tests_view.py
  lacommunaute/templates/forum_member/forum_profile_detail.html
Due: black, ruff, djhtml

Changelog v2.7
  CHANGELOG.md
Due: none

(homepage) remove embedded tally on homepage
  lacommunaute/templates/pages/home.html
Due: djhtml

(homepage) remove unused tags on homepage
  lacommunaute/templates/pages/home.html
Due: djhtml

(homepage) cleanup superadmin dropdown
  lacommunaute/templates/partials/header_nav_primary_items.html
Due: djhtml

(perms) refactor the way to add public perms on a forum
  lacommunaute/forum/factories.py
  lacommunaute/utils/perms.py
  lacommunaute/utils/tests.py
Due: black, ruff

(forum) rename categoryforum listview test file
  lacommunaute/forum/tests/test_categoryforum_listview.py
Due: black, ruff

(forum) createview for top level category forum (documentation)
  lacommunaute/forum/forms.py
  lacommunaute/forum/tests/test_categoryforum_createview.py
  lacommunaute/forum/urls.py
  lacommunaute/forum/views.py
  lacommunaute/templates/forum/category_forum_create.html
  lacommunaute/templates/forum/partials/forum_form.html
Due: black, ruff, djhtml

Path conditions:
  black: any of: \.py$
  ruff: any of: \.py$
  djhtml: any of: \.(html|htm|xhtml)$
