Repository gip-inclusion/itou-communaute-django: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, djhtml

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/python-poetry/poetry
    rev: '1.7.0'
    hooks:
      - id: poetry-check
      - id: poetry-export
        args: ["-f", "requirements.txt", "-o", "requirements/dev.txt", "--with", "dev",]
      - id: poetry-export
        args: ["-f", "requirements.txt", "-o", "requirements/base.txt"]
  - repo: local
    hooks:
      - id: black
        name: Black
        entry: black
        types: [python]
        language: system
      - id: ruff
        name: Ruff
        entry: ruff
        types: [python]
        language: system
      - id: djhtml
        name: djhtml
        entry: djhtml
        types: [html]
        language: system

use test.py in CI, cleanup env vars
  .github/workflows/ci.yml
Due: none

isolate mandatory env vars in test.py, remove corresponding default values from base.py
  config/settings/base.py
  config/settings/test.py
  pytest.ini
Due: black, ruff

cleanup brevo routes management
  config/settings/base.py
  lacommunaute/notification/emails.py
  lacommunaute/notification/tasks.py
  lacommunaute/notification/tests/tests_emails.py
  lacommunaute/notification/tests/tests_tasks.py
  lacommunaute/users/tests/tests_views.py
Due: black, ruff

cleanup the way magic_link is send by mail or through django message
  lacommunaute/notification/emails.py
  lacommunaute/users/tests/__snapshots__/tests_views.ambr
  lacommunaute/users/tests/tests_views.py
  lacommunaute/users/views.py
  lacommunaute/utils/enums.py
Due: black, ruff

set database default vars into test.py, let dev.py inherits from test.py, lighten ci vars declaration
  .github/workflows/ci.yml
  config/settings/dev.py
  config/settings/test.py
Due: black, ruff

keep minimalistic non-redundant vars declaration
  .env.template
  docker/django/entrypoint.sh
  scripts/import-latest-db-backup.sh
Due: none

set ENVIRONMENT var in review app
  .github/workflows/review-app-creation.yml
Due: none

set dynamic ENVIRONMENT collection in base.py
  config/settings/base.py
Due: black, ruff

add script to collect env vars from repo
  clevercloud/pre_build.sh
  clevercloud/pre_run.sh
Due: none

make pre_*.sh executable
  clevercloud/pre_build.sh
  clevercloud/pre_run.sh
Due: none

@francoisfreitag's suggestion
  pyproject.toml
Due: none

refactor: isoler les settings de test (#864)
  .env.template
  .github/workflows/ci.yml
  .github/workflows/review-app-creation.yml
  config/settings/base.py
  config/settings/dev.py
  config/settings/test.py
  docker/django/entrypoint.sh
  lacommunaute/notification/emails.py
  lacommunaute/notification/tasks.py
  lacommunaute/notification/tests/tests_emails.py
  lacommunaute/notification/tests/tests_tasks.py
  lacommunaute/partner/migrations/0001_initial.py
  lacommunaute/users/tests/__snapshots__/tests_views.ambr
  lacommunaute/users/tests/tests_views.py
  lacommunaute/users/views.py
  lacommunaute/utils/enums.py
  pyproject.toml
  pytest.ini
  scripts/import-latest-db-backup.sh
Due: black, ruff

add default bucket protocol
  config/settings/base.py
Due: black, ruff

refactor: stockage des fichiers - ajout du protocol par défaut (#868)
  config/settings/base.py
Due: black, ruff

do not display banner mode when error 500 arises
  lacommunaute/templates/layouts/base.html
Due: djhtml

make better middleware tests
  lacommunaute/utils/tests/tests_middleware.py
Due: black, ruff

chore: dev mode banner fixes (#870)
  lacommunaute/templates/layouts/base.html
  lacommunaute/utils/tests/tests_middleware.py
Due: black, ruff, djhtml

activate stats tasks in cron table
  clevercloud/cron.json
Due: none

remove deactivation messages in stats pages
  lacommunaute/stats/tests/__snapshots__/tests_views.ambr
  lacommunaute/stats/views.py
Due: black, ruff

cleanup ambr
  lacommunaute/stats/tests/__snapshots__/tests_views.ambr
Due: none

feat(stats): reactivation de la collecte automatique des stats (#871)
  clevercloud/cron.json
  lacommunaute/stats/tests/__snapshots__/tests_views.ambr
  lacommunaute/stats/views.py
Due: black, ruff

update dependencies
  poetry.lock
  requirements/base.txt
  requirements/dev.txt
Due: none

chore: mise à jour des dépendances (#872)
  poetry.lock
  requirements/base.txt
  requirements/dev.txt
Due: none

remove default value for ENVIRONMENT in base.py because it must defined as env vars in virtual server
  config/settings/base.py
Due: black, ruff

refactor: versionning des variables applicatives (#857)
  .github/workflows/review-app-creation.yml
  clevercloud/pre_build.sh
  clevercloud/pre_run.sh
  config/settings/base.py
Due: black, ruff

update default FQDN and default ALLOWED_HOSTS
  config/settings/base.py
Due: black, ruff

update links to lacommunaute to inclusion.gouv.fr
  lacommunaute/templates/layouts/base.html
  lacommunaute/templates/robots.txt
  locale/fr/LC_MESSAGES/django.po
Due: djhtml

update external links
  lacommunaute/forum_conversation/tests/tests_models.py
  lacommunaute/pages/tests/__snapshots__/test_homepage.ambr
  lacommunaute/templates/404.html
  lacommunaute/templates/middleware/parking.html
  lacommunaute/templates/pages/accessibilite.html
  lacommunaute/templates/partials/footer.html
Due: black, ruff, djhtml

feat: mise en place du nom de domaine communaute.inclusion.gouv.fr (#876)
  config/settings/base.py
  lacommunaute/forum_conversation/tests/tests_models.py
  lacommunaute/pages/tests/__snapshots__/test_homepage.ambr
  lacommunaute/templates/404.html
  lacommunaute/templates/layouts/base.html
  lacommunaute/templates/middleware/parking.html
  lacommunaute/templates/pages/accessibilite.html
  lacommunaute/templates/partials/footer.html
  lacommunaute/templates/robots.txt
  locale/fr/LC_MESSAGES/django.po
Due: black, ruff, djhtml

quality
  lacommunaute/forum_moderation/models.py
  lacommunaute/surveys/apps.py
Due: black, ruff

quality : rewove black, check are already made by ruff
  .pre-commit-config.yaml
  Makefile
  pyproject.toml
Due: none

quality: update README
  README.md
Due: none

use uv in CI
  .github/workflows/ci.yml
Due: none

switch from poetry to uv
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  uv.lock
Due: none

update README regarding uv usage
  README.md
Due: none

remove what is not used by uv
  requirements/base.txt
  requirements/dev.txt
  scripts/update_dependencies.sh
Due: none
