Repository gip-inclusion/itou-communaute-django: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, djhtml

black:
  name: Black
  entry: black
  language: system

ruff:
  name: Ruff
  entry: ruff
  language: system

djhtml:
  name: djhtml
  entry: djhtml
  language: system

feat(forum): retrait de la notion de `kind` sur `Forum` (#769)
  lacommunaute/forum/admin.py
  lacommunaute/forum/enums.py
  lacommunaute/forum/migrations/0021_remove_forum_kind.py
  lacommunaute/forum/models.py
  lacommunaute/forum/tests/__snapshots__/tests_views.ambr
  lacommunaute/forum/tests/test_categoryforum_createview.py
  lacommunaute/forum/tests/test_subcategoryforum_createview.py
  lacommunaute/forum/tests/tests_model.py
  lacommunaute/forum/tests/tests_views.py
  lacommunaute/forum/views.py
  lacommunaute/forum_conversation/shortcuts.py
  lacommunaute/forum_conversation/tests/__snapshots__/tests_views.ambr
  lacommunaute/forum_conversation/tests/tests_shortcuts.py
  lacommunaute/forum_conversation/tests/tests_views.py
  lacommunaute/forum_conversation/urls.py
  lacommunaute/forum_conversation/views.py
  lacommunaute/forum_conversation/views_htmx.py
  lacommunaute/notification/tasks.py
  lacommunaute/notification/tests/tests_tasks.py
  lacommunaute/pages/sitemaps.py
  lacommunaute/pages/views.py
  lacommunaute/search/migrations/0002_remove_kind_in_materialized_view.py
  lacommunaute/search/tests.py
  lacommunaute/search/views.py
  lacommunaute/templates/404.html
  lacommunaute/templates/forum/forum_detail.html
  lacommunaute/templates/forum_conversation/topic_list_newsfeed.html
  lacommunaute/templates/forum_conversation/topics_newsfeed.html
  lacommunaute/templates/pages/home.html
  lacommunaute/templates/partials/breadcrumb.html
  locale/fr/LC_MESSAGES/django.mo
  locale/fr/LC_MESSAGES/django.po
Due: black, ruff, djhtml

feat: update homepage ux/ui
  lacommunaute/static/images/Microphone.png
  lacommunaute/static/images/home-banner-01-illu.png
  lacommunaute/static/images/home-bg-illu.png
  lacommunaute/static/images/home-illu-01.png
  lacommunaute/static/images/home-title-01-illu-card-01.png
  lacommunaute/static/images/home-title-01-illu-card-02.png
  lacommunaute/static/images/home-title-01-illu-card-03.png
  lacommunaute/static/images/hp-illustration-01.svg
  lacommunaute/static/stylesheets/itou_communaute.scss
  lacommunaute/templates/forum_conversation/partials/itou_modal.html
  lacommunaute/templates/layouts/base.html
  lacommunaute/templates/pages/home.html
  lacommunaute/templates/partials/header.html
Due: djhtml

feat: update theme to v2.1.8
  lacommunaute/static/vendor/theme-inclusion/images/banner-01-illu.png
  lacommunaute/static/vendor/theme-inclusion/images/home-title-01-illu-card-01.png
  lacommunaute/static/vendor/theme-inclusion/images/home-title-01-illu-card-02.png
  lacommunaute/static/vendor/theme-inclusion/images/home-title-01-illu-card-03.png
  lacommunaute/static/vendor/theme-inclusion/images/home/commu-home-illu-01.png
  lacommunaute/static/vendor/theme-inclusion/images/home/commu-home-illu-02.png
  lacommunaute/static/vendor/theme-inclusion/images/logo-aides-territoires.svg
  lacommunaute/static/vendor/theme-inclusion/javascripts/app.js
  lacommunaute/static/vendor/theme-inclusion/stylesheets/app.css
Due: none

quality
  lacommunaute/static/stylesheets/itou_communaute.scss
  lacommunaute/templates/pages/home.html
  lacommunaute/templates/partials/footer.html
Due: djhtml

update image in home title
  lacommunaute/static/images/commu-home-illu-02-light.png
  lacommunaute/static/stylesheets/itou_communaute.scss
  lacommunaute/templates/pages/home.html
Due: djhtml

more consistent topic create check
  lacommunaute/templates/forum_conversation/topic_create_check.html
Due: djhtml

snapshot update
  lacommunaute/forum_conversation/tests/__snapshots__/tests_views.ambr
Due: none

update home
  lacommunaute/forum/tests/__snapshots__/tests_views.ambr
  lacommunaute/pages/tests/__snapshots__/test_homepage.ambr
  lacommunaute/pages/tests/test_homepage.py
  lacommunaute/pages/views.py
  lacommunaute/static/images/commu-home-illu-02-light.png
  lacommunaute/static/images/commu-home-illu-02b-light.png
  lacommunaute/templates/event/partials/event_date.html
  lacommunaute/templates/pages/home.html
  locale/fr/LC_MESSAGES/django.mo
  locale/fr/LC_MESSAGES/django.po
Due: black, ruff, djhtml

fix filter forum on tags
  lacommunaute/forum/tests/__snapshots__/test_subcategoryforum_listview.ambr
  lacommunaute/templates/forum/partials/subcategory_forum_list.html
Due: djhtml

quality
  lacommunaute/templates/forum_conversation/partials/itou_modal.html
  lacommunaute/templates/layouts/base.html
Due: djhtml

del unused png
  lacommunaute/static/images/APPRENDRE.png
  lacommunaute/static/images/DEMANDER.png
  lacommunaute/static/images/SINFORMER.png
  lacommunaute/static/images/home-bg-illu.png
  lacommunaute/static/images/logo-afpa.png
Due: none

quality
  lacommunaute/pages/tests/__snapshots__/test_homepage.ambr
Due: none

feat: refonte homepage pour mise en valeur recherche et Call To Actions (#776)
  lacommunaute/forum/tests/__snapshots__/test_subcategoryforum_listview.ambr
  lacommunaute/forum/tests/__snapshots__/tests_views.ambr
  lacommunaute/forum_conversation/tests/__snapshots__/tests_views.ambr
  lacommunaute/pages/tests/__snapshots__/test_homepage.ambr
  lacommunaute/pages/tests/test_homepage.py
  lacommunaute/pages/views.py
  lacommunaute/static/images/APPRENDRE.png
  lacommunaute/static/images/DEMANDER.png
  lacommunaute/static/images/Microphone.png
  lacommunaute/static/images/SINFORMER.png
  lacommunaute/static/images/commu-home-illu-02b-light.png
  lacommunaute/static/images/home-banner-01-illu.png
  lacommunaute/static/images/home-illu-01.png
  lacommunaute/static/images/home-title-01-illu-card-01.png
  lacommunaute/static/images/home-title-01-illu-card-02.png
  lacommunaute/static/images/home-title-01-illu-card-03.png
  lacommunaute/static/images/hp-illustration-01.svg
  lacommunaute/static/images/logo-afpa.png
  lacommunaute/static/stylesheets/itou_communaute.scss
  lacommunaute/static/vendor/theme-inclusion/images/banner-01-illu.png
  lacommunaute/static/vendor/theme-inclusion/images/home-title-01-illu-card-01.png
  lacommunaute/static/vendor/theme-inclusion/images/home-title-01-illu-card-02.png
  lacommunaute/static/vendor/theme-inclusion/images/home-title-01-illu-card-03.png
  lacommunaute/static/vendor/theme-inclusion/images/home/commu-home-illu-01.png
  lacommunaute/static/vendor/theme-inclusion/images/home/commu-home-illu-02.png
  lacommunaute/static/vendor/theme-inclusion/images/logo-aides-territoires.svg
  lacommunaute/static/vendor/theme-inclusion/javascripts/app.js
  lacommunaute/static/vendor/theme-inclusion/stylesheets/app.css
  lacommunaute/templates/event/partials/event_date.html
  lacommunaute/templates/forum/partials/subcategory_forum_list.html
  lacommunaute/templates/forum_conversation/partials/itou_modal.html
  lacommunaute/templates/forum_conversation/topic_create_check.html
  lacommunaute/templates/pages/home.html
  lacommunaute/templates/partials/footer.html
  lacommunaute/templates/partials/header.html
  locale/fr/LC_MESSAGES/django.mo
  locale/fr/LC_MESSAGES/django.po
Due: black, ruff, djhtml

db hydratation
  Makefile
  scripts/import-latest-db-backup.sh
Due: none

remove configure_bucket from resetdb command
  Makefile
Due: none

update readme
  README.md
Due: none

chore(db): Améliorer l'hydratation de la base de données en developpement (#777)
  Makefile
  README.md
  scripts/import-latest-db-backup.sh
Due: none

update dependencies
  poetry.lock
  requirements/base.txt
  requirements/dev.txt
Due: none

chore: mise à jour des dépendances (#779)
  poetry.lock
  requirements/base.txt
  requirements/dev.txt
Due: none

factorize wrap_iframe_in_div_tag in utils
  lacommunaute/forum/forms.py
  lacommunaute/forum/tests/tests_forms.py
  lacommunaute/utils/html.py
  lacommunaute/utils/tests/tests_utils.py
Due: black, ruff

improve regex efficiency
  lacommunaute/utils/html.py
Due: black, ruff

add PartnerForm and its tests
  lacommunaute/partner/forms.py
  lacommunaute/partner/tests/tests_forms.py
Due: black, ruff

add PartnerCreateView
  lacommunaute/partner/tests/tests_partner_createview.py
  lacommunaute/partner/urls.py
  lacommunaute/partner/views.py
  lacommunaute/templates/partner/create_or_update.html
  lacommunaute/templates/partner/partials/partner_form.html
Due: black, ruff, djhtml

factorize code from PartnerCreateView to reuse in UpdateView
  lacommunaute/partner/views.py
Due: black, ruff

replace link to admin with link to PartnerUpdateView in PartnerDetailView
  lacommunaute/partner/tests/__snapshots__/tests_partner_detailview.ambr
  lacommunaute/templates/partner/detail.html
Due: djhtml

use url fixture in PartnerListView tests
  lacommunaute/partner/tests/tests_partner_listview.py
Due: black, ruff

add PartnerUpdateView
  lacommunaute/partner/tests/tests_partner_updateview.py
  lacommunaute/partner/urls.py
  lacommunaute/partner/views.py
Due: black, ruff

add link to PartnerCreateView in PartnerListView for superuser
  lacommunaute/partner/tests/tests_partner_listview.py
  lacommunaute/templates/partner/list.html
Due: black, ruff, djhtml

add popup survey
  lacommunaute/templates/layouts/base.html
Due: djhtml

feat: ajout d'un sondage pour mieux connaitre les utilisateurs de la communauté (#781)
  lacommunaute/templates/layouts/base.html
Due: djhtml

feat(documentation): declare app
  config/settings/base.py
  lacommunaute/documentation/__init__.py
  lacommunaute/documentation/apps.py
  lacommunaute/documentation/migrations/__init__.py
  lacommunaute/documentation/tests/__init__.py
Due: black, ruff

(documentation): add models, factories, admin and theirs tests
  lacommunaute/documentation/abstract_models.py
  lacommunaute/documentation/admin.py
  lacommunaute/documentation/factories.py
  lacommunaute/documentation/migrations/0001_initial.py
  lacommunaute/documentation/models.py
  lacommunaute/documentation/tests/tests_models.py
Due: black, ruff

(stats): deactivate weekly stat view, until view is updated to manage GenericForeignKey
  clevercloud/collect_weekly_matomo_forum_stats.sh
  lacommunaute/stats/urls.py
  lacommunaute/templates/stats/statistiques.html
Due: black, ruff, djhtml

(forum): remove obsolets routes and routes which will be reused in documentation app
  lacommunaute/forum/urls.py
Due: black, ruff

(documentation): add CategoryListView
  config/urls.py
  lacommunaute/documentation/tests/__snapshots__/tests_category_list_view.ambr
  lacommunaute/documentation/tests/tests_category_list_view.py
  lacommunaute/documentation/urls.py
  lacommunaute/documentation/views.py
  lacommunaute/templates/documentation/category_list.html
Due: black, ruff, djhtml

wip
  lacommunaute/documentation/management/commands/migrate_documentation.py
  lacommunaute/documentation/models.py
  lacommunaute/documentation/tests/tests_models.py
  lacommunaute/documentation/urls.py
  lacommunaute/documentation/views.py
  lacommunaute/forum/admin.py
  lacommunaute/forum/forms.py
  lacommunaute/forum/models.py
  lacommunaute/forum/views.py
  lacommunaute/forum_conversation/migrations/0009_topic_document.py
  lacommunaute/forum_conversation/models.py
  lacommunaute/pages/sitemaps.py
  lacommunaute/search/0003_add_category_and_document_in_materialized_view.py.wip
  lacommunaute/search/models.py
  lacommunaute/static/stylesheets/itou_communaute.scss
  lacommunaute/stats/admin.py
  lacommunaute/stats/migrations/0003_documentationstat.py
  lacommunaute/stats/models.py
  lacommunaute/templates/documentation/document_detail.html
  lacommunaute/templates/documentation/partials/certified.html
  lacommunaute/templates/documentation/partials/content_summary.html
  lacommunaute/templates/documentation/partials/form_document.html
  lacommunaute/templates/documentation/partials/partner.html
  lacommunaute/templates/forum/category_forum_list.html
  lacommunaute/templates/forum/forum_documentation_category.html
  lacommunaute/templates/partials/breadcrumb.html
  lacommunaute/templates/partials/social_share_buttons.html
Due: black, ruff, djhtml

(documentation): add CategoryCreateView and CategoryUpdateView, theirs tests, templates and navigation
  lacommunaute/documentation/abstract_models.py
  lacommunaute/documentation/forms.py
  lacommunaute/documentation/migrations/0002_alter_category_image_and_more.py
  lacommunaute/documentation/models.py
  lacommunaute/documentation/tests/tests_category_create_view.py
  lacommunaute/documentation/tests/tests_category_detail_view.py
  lacommunaute/documentation/tests/tests_category_list_view.py
  lacommunaute/documentation/tests/tests_category_update_view.py
  lacommunaute/documentation/tests/tests_models.py
  lacommunaute/documentation/urls.py
  lacommunaute/documentation/views.py
  lacommunaute/templates/documentation/category_create_update.html
  lacommunaute/templates/documentation/category_list.html
  lacommunaute/templates/documentation/partials/form_category.html
  lacommunaute/templates/documentation/partials/title_and_shortdesc.html
Due: black, ruff, djhtml

(documentation): add CategoryDetailView
  lacommunaute/documentation/factories.py
  lacommunaute/documentation/models.py
  lacommunaute/documentation/tests/__snapshots__/tests_category_detail_view.ambr
  lacommunaute/documentation/tests/tests_category_detail_view.py
  lacommunaute/documentation/tests/tests_models.py
  lacommunaute/documentation/urls.py
  lacommunaute/documentation/views.py
  lacommunaute/templates/documentation/category_detail.html
  lacommunaute/templates/documentation/partials/content_summary.html
  lacommunaute/templates/documentation/partials/image_and_desc.html
  lacommunaute/templates/documentation/partials/title_and_shortdesc.html
Due: black, ruff, djhtml

(documentation): replace route to forum_extension:documentation to documentation:category_list
  lacommunaute/templates/404.html
  lacommunaute/templates/pages/home.html
  lacommunaute/templates/partials/ask_a_question.html
  lacommunaute/templates/partials/footer.html
  lacommunaute/templates/partials/header.html
Due: djhtml

(utils): factorize wrap_iframe_in_div method in utils, for upcoming usages in documentation
  lacommunaute/forum/forms.py
  lacommunaute/forum/tests/tests_forms.py
  lacommunaute/utils/iframe.py
  lacommunaute/utils/tests/tests_utils.py
Due: black, ruff

Path conditions:
  black: any of: \.py$
  ruff: any of: \.py$
  djhtml: any of: \.(html|htm|xhtml)$
