Repository gip-inclusion/itou-communaute-django: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, djhtml

black:
  name: Black
  entry: black
  language: system

ruff:
  name: Ruff
  entry: ruff
  language: system

djhtml:
  name: djhtml
  entry: djhtml
  language: system

add ParkingPageMiddleware
  .env.template
  config/settings/base.py
  lacommunaute/templates/middleware/parking.html
  lacommunaute/utils/middleware.py
  lacommunaute/utils/tests/tests_middleware.py
Due: black, ruff, djhtml

exclude template in quality command
  Makefile
Due: none

feat: page parking (#788)
  .env.template
  Makefile
  config/settings/base.py
  lacommunaute/templates/middleware/parking.html
  lacommunaute/utils/middleware.py
  lacommunaute/utils/tests/tests_middleware.py
Due: black, ruff, djhtml

fixup! improve regex efficiency
  lacommunaute/utils/html.py
  lacommunaute/utils/tests/tests_utils.py
Due: black, ruff

feat(partner): ajout des pages de creation / mise à jour depuis la page "nos partenaires" (#780)
  lacommunaute/forum/forms.py
  lacommunaute/forum/tests/tests_forms.py
  lacommunaute/partner/forms.py
  lacommunaute/partner/tests/__snapshots__/tests_partner_detailview.ambr
  lacommunaute/partner/tests/tests_forms.py
  lacommunaute/partner/tests/tests_partner_createview.py
  lacommunaute/partner/tests/tests_partner_listview.py
  lacommunaute/partner/tests/tests_partner_updateview.py
  lacommunaute/partner/urls.py
  lacommunaute/partner/views.py
  lacommunaute/templates/partner/create_or_update.html
  lacommunaute/templates/partner/detail.html
  lacommunaute/templates/partner/list.html
  lacommunaute/templates/partner/partials/partner_form.html
  lacommunaute/utils/html.py
  lacommunaute/utils/tests/tests_utils.py
Due: black, ruff, djhtml

feat: replace .font-weight-* and font-italic classnames
  lacommunaute/static/vendor/theme-inclusion/stylesheets/app.css
  lacommunaute/templates/forum/category_forum_list.html
  lacommunaute/templates/forum/partials/rating.html
  lacommunaute/templates/forum_conversation/forum_polls/poll_option_formset.html
  lacommunaute/templates/forum_conversation/partials/itou_modal.html
  lacommunaute/templates/forum_conversation/partials/topic_detail_actions.html
  lacommunaute/templates/forum_conversation/post_preview.html
  lacommunaute/templates/forum_conversation/topic_list.html
  lacommunaute/templates/pages/home.html
  lacommunaute/templates/partials/header.html
Due: djhtml

update tests
  lacommunaute/forum/tests/__snapshots__/test_forum_rating_view.ambr
  lacommunaute/forum/tests/__snapshots__/tests_views.ambr
  lacommunaute/pages/tests/__snapshots__/test_homepage.ambr
Due: none

style: maj des classes utilitaires de font (#795)
  lacommunaute/forum/tests/__snapshots__/test_forum_rating_view.ambr
  lacommunaute/forum/tests/__snapshots__/tests_views.ambr
  lacommunaute/pages/tests/__snapshots__/test_homepage.ambr
  lacommunaute/static/vendor/theme-inclusion/stylesheets/app.css
  lacommunaute/templates/forum/category_forum_list.html
  lacommunaute/templates/forum/partials/rating.html
  lacommunaute/templates/forum_conversation/forum_polls/poll_option_formset.html
  lacommunaute/templates/forum_conversation/partials/itou_modal.html
  lacommunaute/templates/forum_conversation/partials/topic_detail_actions.html
  lacommunaute/templates/forum_conversation/post_preview.html
  lacommunaute/templates/forum_conversation/topic_list.html
  lacommunaute/templates/pages/home.html
  lacommunaute/templates/partials/header.html
Due: djhtml

enhance test_queryset_for_tagged_topic using parametrize
  lacommunaute/forum_conversation/tests/__snapshots__/tests_views.ambr
  lacommunaute/forum_conversation/tests/tests_views.py
Due: black, ruff

deambiguate active_tag, since it is not a queryset but a single object of model Tag
  lacommunaute/forum_conversation/tests/__snapshots__/tests_views.ambr
  lacommunaute/forum_conversation/tests/tests_views.py
  lacommunaute/forum_conversation/view_mixins.py
  lacommunaute/templates/forum_conversation/partials/topic_filter.html
  lacommunaute/templates/forum_conversation/partials/topic_tags.html
  lacommunaute/templates/forum_conversation/topic_list.html
  lacommunaute/templates/forum_conversation/topics_public.html
Due: black, ruff, djhtml

reuse topics_url fixture in TopicListView tests, and enhance test_clickable_tags test
  lacommunaute/forum_conversation/tests/__snapshots__/tests_views.ambr
  lacommunaute/forum_conversation/tests/tests_views.py
Due: black, ruff

remove page=1 param, which make filters be hidden
  lacommunaute/forum/tests/tests_views.py
  lacommunaute/forum_conversation/tests/__snapshots__/tests_views.ambr
  lacommunaute/forum_conversation/tests/tests_views.py
  lacommunaute/templates/forum_conversation/partials/topic_tags.html
Due: black, ruff, djhtml

call TopicListView in HX-Request mode (HTMX) to prevent page scrolling
  lacommunaute/forum_conversation/tests/__snapshots__/tests_views.ambr
  lacommunaute/forum_conversation/tests/tests_views.py
  lacommunaute/templates/forum_conversation/partials/topic_filter.html
  lacommunaute/templates/forum_conversation/partials/topic_tags.html
Due: black, ruff, djhtml

rename Filters enums
  lacommunaute/forum_conversation/enums.py
  lacommunaute/forum_conversation/tests/__snapshots__/tests_views.ambr
Due: black, ruff

simplify active_filter to get name and value at once
  lacommunaute/forum/tests/tests_views.py
  lacommunaute/forum_conversation/tests/__snapshots__/tests_views.ambr
  lacommunaute/forum_conversation/tests/tests_views.py
  lacommunaute/forum_conversation/view_mixins.py
  lacommunaute/templates/forum_conversation/partials/topic_filter.html
Due: black, ruff, djhtml

add answered post_generation method to Topic Factory
  lacommunaute/forum_conversation/factories.py
Due: black, ruff

add current filter being displayed
  lacommunaute/forum_conversation/tests/__snapshots__/tests_views.ambr
  lacommunaute/forum_conversation/tests/tests_views.py
  lacommunaute/templates/forum_conversation/partials/topic_filter.html
Due: black, ruff, djhtml

rewrite last TopicListView from unittest to pytest style
  lacommunaute/forum_conversation/tests/__snapshots__/tests_views.ambr
  lacommunaute/forum_conversation/tests/tests_views.py
Due: black, ruff

add convert_seconds_into_hours template tag
  lacommunaute/utils/templatetags/date_filters.py
  lacommunaute/utils/tests/tests_utils.py
Due: black, ruff

update ForumStatFactory
  lacommunaute/stats/factories.py
Due: black, ruff

add DocumentStatsView (named Document instead of Forum, to prepare upcoming migration #765)
  lacommunaute/static/stylesheets/itou_communaute.scss
  lacommunaute/stats/tests/__snapshots__/tests_views.ambr
  lacommunaute/stats/tests/tests_views.py
  lacommunaute/stats/urls.py
  lacommunaute/stats/views.py
  lacommunaute/templates/stats/documents.html
Due: black, ruff, djhtml

update link into stats:statistiques from stats:redirect_to_latest_weekly_stats to stats:documents_stats
  lacommunaute/stats/tests/tests_views.py
  lacommunaute/templates/stats/statistiques.html
Due: black, ruff, djhtml

remove tally form
  lacommunaute/templates/layouts/base.html
Due: djhtml

feat: suppression du sondage pour mieux connaitre les utilisateurs de la communauté (#797)
  lacommunaute/templates/layouts/base.html
Due: djhtml

use subquery instead of dicts in view
  lacommunaute/stats/tests/tests_views.py
  lacommunaute/stats/views.py
Due: black, ruff

prevent failure in case of unknown sort key
  lacommunaute/stats/tests/__snapshots__/tests_views.ambr
  lacommunaute/stats/tests/tests_views.py
  lacommunaute/stats/views.py
Due: black, ruff

be more agnostic about models name to prepare upcoming migration
  lacommunaute/stats/views.py
Due: black, ruff

typo
  lacommunaute/stats/tests/__snapshots__/tests_views.ambr
  lacommunaute/templates/stats/documents.html
Due: djhtml

using text-decoration-none as class
  lacommunaute/static/stylesheets/itou_communaute.scss
  lacommunaute/stats/tests/__snapshots__/tests_views.ambr
  lacommunaute/templates/stats/documents.html
Due: djhtml

feat(stats): page de statistique des fiches pratiques (#796)
  lacommunaute/stats/factories.py
  lacommunaute/stats/tests/__snapshots__/tests_views.ambr
  lacommunaute/stats/tests/tests_views.py
  lacommunaute/stats/urls.py
  lacommunaute/stats/views.py
  lacommunaute/templates/stats/documents.html
  lacommunaute/templates/stats/statistiques.html
  lacommunaute/utils/templatetags/date_filters.py
  lacommunaute/utils/tests/tests_utils.py
Due: black, ruff, djhtml

Path conditions:
  black: any of: \.py$
  ruff: any of: \.py$
  djhtml: any of: \.(html|htm|xhtml)$
