Repository gip-inclusion/itou-communaute-django: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, djhtml

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/python-poetry/poetry
    rev: '1.7.0'
    hooks:
      - id: poetry-check
      - id: poetry-export
        args: ["-f", "requirements.txt", "-o", "requirements/dev.txt", "--with", "dev",]
      - id: poetry-export
        args: ["-f", "requirements.txt", "-o", "requirements/base.txt"]
  - repo: local
    hooks:
      - id: black
        name: Black
        entry: black
        types: [python]
        language: system
      - id: ruff
        name: Ruff
        entry: ruff
        types: [python]
        language: system
      - id: djhtml
        name: djhtml
        entry: djhtml
        types: [html]
        language: system

Tests: add an admin client to auto-connect when needed
  lacommunaute/conftest.py
Due: black, ruff

Fix tests failling locally only
  config/settings/test.py
Due: black, ruff

Improve queryset performance and make it stable
  lacommunaute/forum_upvote/tests/test_upvotelistview.py
  lacommunaute/forum_upvote/views.py
Due: black, ruff

Drop CPUCOUNT
  .github/workflows/ci.yml
Due: none

Drop more things
  .github/workflows/ci.yml
Due: none

Use Ruff in VSCode
  .vscode/settings.json
Due: none

Revert "requirement: bump django-csp from 3.8 to 4.0"
  uv.lock
Due: none

Upgrade django_csp to the last version and apply new library semantics
  config/settings/base.py
  config/settings/dev.py
  uv.lock
Due: black, ruff

Apply linter
  lacommunaute/utils/templatetags/theme_inclusion.py
Due: black, ruff

Explicitely mention Sentry JS SDK's version
  config/settings/base.py
  lacommunaute/templates/layouts/base.html
Due: black, ruff, djhtml

Document how to connect to review apps
  README.md
  lacommunaute/forum/management/commands/populate.py
Due: black, ruff

Fix LangDetectException
  lacommunaute/forum_conversation/tests/tests_views.py
  lacommunaute/forum_moderation/tests/test_utils.py
  lacommunaute/forum_moderation/utils.py
Due: black, ruff

Make Topic.tags blank=True
  lacommunaute/forum_conversation/migrations/0006_topic_tags.py
  lacommunaute/forum_conversation/models.py
Due: black, ruff

Add an index to MPTT tree_id, lft
  lacommunaute/forum/migrations/0022_forum_forum_forum_tree_id_lft_idx.py
  lacommunaute/forum/models.py
Due: black, ruff

minio: switch to the official image
  docker-compose.yml
Due: none

configure_bucket: Use common S3 config in s3_client()
  lacommunaute/forum_file/management/commands/configure_bucket.py
Due: black, ruff

configure_bucket: Put the bucket policy regardless of MinIO
  lacommunaute/forum_file/management/commands/configure_bucket.py
Due: black, ruff

ci: Use a real Cellar instance for tests
  .github/workflows/ci.yml
  config/settings/test.py
  lacommunaute/utils/tests/tests_live_cellar.py
Due: black, ruff

minio: Switch to the official docker image in dev
  docker-compose.yml
Due: none

Use bitnamilegacy/minio in CI
  .github/workflows/ci.yml
  .gitignore
  docs/TODO.md
Due: none

Document the state of dependencies
  docs/TODO.md
Due: none

Pin GitHub actions dependencies using the SHA
  .github/workflows/ci.yml
  .github/workflows/pr-auto-author-assign.yml
  .github/workflows/release-please.yml
  .github/workflows/review-app-creation.yml
  .github/workflows/review-app-removal.yml
Due: none

utils: Rename context_processors file
  config/settings/base.py
  lacommunaute/utils/context_processors.py
Due: black, ruff
