Repository gip-inclusion/itou-communaute-django: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, djhtml

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/python-poetry/poetry
    rev: '1.7.0'
    hooks:
      - id: poetry-check
      - id: poetry-export
        args: ["-f", "requirements.txt", "-o", "requirements/dev.txt", "--with", "dev",]
      - id: poetry-export
        args: ["-f", "requirements.txt", "-o", "requirements/base.txt"]
  - repo: local
    hooks:
      - id: black
        name: Black
        entry: black
        types: [python]
        language: system
      - id: ruff
        name: Ruff
        entry: ruff
        types: [python]
        language: system
      - id: djhtml
        name: djhtml
        entry: djhtml
        types: [html]
        language: system

generate requirements when deploying
  clevercloud/pre_build.sh
Due: none

add .python-version file, used for pinned version of python in venv
  .python-version
  pyproject.toml
Due: none

reinstall licence in pyproject.toml
  pyproject.toml
Due: none

refactor: remplacer poetry par uv (#875)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  .python-version
  Makefile
  README.md
  clevercloud/pre_build.sh
  lacommunaute/forum_moderation/models.py
  lacommunaute/surveys/apps.py
  poetry.lock
  pyproject.toml
  requirements/base.txt
  requirements/dev.txt
  scripts/update_dependencies.sh
  uv.lock
Due: black, ruff

remove old migration management command
  lacommunaute/forum/management/commands/202306_forumpublic.py
Due: black, ruff

set email to superuser when populating db
  lacommunaute/forum/management/commands/populate.py
Due: black, ruff

test: hydratation de la recette jetable (#878)
  lacommunaute/forum/management/commands/202306_forumpublic.py
  lacommunaute/forum/management/commands/populate.py
Due: black, ruff

quality: rename tags file to prevent any misunderstanding
  lacommunaute/templates/forum_conversation/partials/topic_tags.html
  lacommunaute/templates/forum_conversation/topic_list.html
  lacommunaute/templates/partials/pagination.html
  lacommunaute/utils/templatetags/url_query_tags.py
  lacommunaute/utils/tests/tests_utils.py
Due: black, ruff, djhtml

quality: deambiguate tests file name
  lacommunaute/utils/tests/tests_context_processor.py
  lacommunaute/utils/tests/tests_middleware.py
Due: black, ruff

quality: rewrite tests in pytest style
  lacommunaute/utils/tests/tests_middleware.py
Due: black, ruff

add autologin_proconnect simple tag
  lacommunaute/utils/templatetags/url_query_tags.py
  lacommunaute/utils/tests/tests_utils.py
Due: black, ruff

add is_proconnect method on User model
  lacommunaute/users/models.py
  lacommunaute/users/tests/tests_models.py
Due: black, ruff

add link to emplois with autoconnect_proconnect if possible
  lacommunaute/search/__snapshots__/tests.ambr
  lacommunaute/search/tests.py
  lacommunaute/templates/search/commonindex_list.html
Due: black, ruff, djhtml

add emplois search urls in context
  config/settings/base.py
  config/settings/test.py
  lacommunaute/utils/settings_context_processors.py
  lacommunaute/utils/tests/tests_context_processor.py
Due: black, ruff

add link to emplois with autoconnect_proconnect if possible (dropdown in header)
  lacommunaute/templates/partials/header.html
Due: djhtml

display ENV banner anywhere except in PROD
  lacommunaute/templates/layouts/base.html
  lacommunaute/utils/tests/__snapshots__/tests_context_processor.ambr
  lacommunaute/utils/tests/tests_context_processor.py
Due: black, ruff, djhtml

chore: mise à jour Django, version 5.1.5
  pyproject.toml
  uv.lock
Due: none

chore: mise à jour Django, version 5.1.5 (#882)
  pyproject.toml
  uv.lock
Due: none

chore: mise à jour python, version 3.13
  .python-version
  pyproject.toml
  uv.lock
Due: none

chore: mise à jour python, version 3.13 (#883)
  .python-version
  pyproject.toml
  uv.lock
Due: none

update httpx to 0.28, respx to 0.22
  lacommunaute/notification/tests/tests_emails.py
  lacommunaute/notification/tests/tests_tasks.py
  lacommunaute/users/tests/__snapshots__/tests_views.ambr
  pyproject.toml
  uv.lock
Due: black, ruff

update dev dependencies except moto
  pyproject.toml
Due: none

remove black & pygithub, move freezegun to dev group
  pyproject.toml
Due: none

update base dependencies
  pyproject.toml
Due: none

update moto to version 5.0e
  lacommunaute/forum_file/tests/test_admin.py
  lacommunaute/forum_file/tests/test_models.py
  pyproject.toml
Due: black, ruff

switch to pycopg (v3.2.4)
  pyproject.toml
Due: none

lock uv.lock
  uv.lock
Due: none

feat(search): ajout de liens de recherche vers le site des emplois (#879)
  config/settings/base.py
  config/settings/test.py
  lacommunaute/search/__snapshots__/tests.ambr
  lacommunaute/search/tests.py
  lacommunaute/templates/forum_conversation/partials/topic_tags.html
  lacommunaute/templates/forum_conversation/topic_list.html
  lacommunaute/templates/partials/header.html
  lacommunaute/templates/partials/pagination.html
  lacommunaute/templates/search/commonindex_list.html
  lacommunaute/utils/settings_context_processors.py
  lacommunaute/utils/templatetags/url_query_tags.py
  lacommunaute/utils/tests/tests_context_processor.py
  lacommunaute/utils/tests/tests_middleware.py
  lacommunaute/utils/tests/tests_utils.py
Due: black, ruff, djhtml

chore: afficher la bannière d'environnement systématiquement hors PROD (#881)
  lacommunaute/templates/layouts/base.html
  lacommunaute/utils/tests/__snapshots__/tests_context_processor.ambr
  lacommunaute/utils/tests/tests_context_processor.py
Due: black, ruff, djhtml
